<extend name="manage/index/base_user" title="密码信息管理"/>
<block name="customer">
    <?php
$user_info=$_COOKIE['user_info'];
$globar_user=unserialize($user_info);
?>
    <div style="width: 90%;margin: 0 auto">
     <form class="navbar-form" style="margin-top: 20px" method="post" data-validator-option="{stopOnError:false, timely:2, theme:'yellow_top',timely:1}">
        <div class="form-group form-inline" style="margin-top: 5px">
        <lable >用户名 : </lable>
        <input type="text" class="form-control" name="user_name" id="user_name" value="{$globar_user:user_name}" readonly />
        </div>
        <div class="form-group form-inline" style="margin-top: 5px">
        <lable >旧密码 : </lable>
        <input type="password" class="form-control" name="LtxtPwd" id="LtxtPwd" value="" placeholder="请输入原来的密码" data-rule="原密码:required;password"/>
        </div>
        <div class="form-group form-inline" style="margin-top: 5px">
        <lable >新密码 : </lable>
        <input type="password" class="form-control" name="textPwd" id="textPwd" value="" placeholder="请输入新的密码" data-rule="新密码:required;password"/>
        </div>
        <div class="form-group form-inline" style="margin-top: 5px">
        <lable>再次输入 : </lable>
        <input type="password" class="form-control" name="rePwd" id="rePwd" value="" placeholder="请再次输入新的密码" data-rule="重复密码:required;match(textPwd);"/>
        </div><br/>
        <br />
        <div  style="text-align: center" >
        <button type="submit" class="btn btn-success">提交修改</button>
        <button type="reset" class="btn btn-default">重置</button>
            </div>
     </form>
    </div>
</block>