<extend name="50/index/base" />
<block name="customer">

    <div style="width: 90%;margin: 0px auto;">
        <div class="row">
            <div class="col-xs-12 col-md-12">

                <div><span class="glyphicon glyphicon glyphicon-user"> <a href="/">首页</a>-->成果信息检索中心</span></div>
                <form class="navbar-form navbar-left" method="post">
                    <div class="form-group" style="line-height: 40px">
                      项目编号：<input type="text" class="form-control" placeholder="{$keyword}" value="{$bh}" name="bh_keyword">
                      成果名称：<input type="text" class="form-control" placeholder="{$keyword}" value="{$name}" name="name_keyword">
                      所在地区：<input type="text" class="form-control" placeholder="{$keyword}" value="{$dq}" name="dq_keyword">
                        完 成 人：<input type="text" class="form-control" placeholder="{$keyword}" value="{$wcr}" name="wcr_keyword"><br />
                        完成单位：<input type="text" class="form-control" placeholder="{$keyword}" value="{$wcdw}" name="wcdw_keyword">
                        推荐单位：<input type="text" class="form-control" placeholder="{$keyword}" value="{$tjdw}" name="tjdw_keyword">
                        完成时间：<input type="text" class="form-control" placeholder="{$keyword}" value="{$wcsj}" name="wcsj_keyword">
                        关 键 &nbsp;词：<input type="text" class="form-control" placeholder="{$keyword}" value="{$gjc}" name="gjc_keyword"><br />
                        分类名称：<input type="text" class="form-control" placeholder="{$keyword}" value="{$fl}" name="fl_keyword">
                        专业方向：<input type="text" class="form-control" placeholder="{$keyword}" value="{$fx}" name="fx_keyword">
                        课题来源：<input type="text" class="form-control" placeholder="{$keyword}" value="{$ly}" name="ly_keyword">
                        项目简介：<input type="text" class="form-control" placeholder="{$keyword}" value="{$jj}" name="jj_keyword"><br />
                        奖励年度：<input type="text" class="form-control" placeholder="{$keyword}" value="{$nd}" name="nd_keyword">
                        奖励等级：<input type="text" class="form-control" placeholder="{$keyword}" value="{$dj}" name="dj_keyword">
                        <button type="submit" class="btn btn-default">搜索</button>
                    </div>
                    <div style="text-align: left;margin-top: 20px;float: none">当前成果信息数量 <span style="color: red">{$count}</span>条,每页显示{$pagecount}条</div>
                </form>

                <table class="table table-hover" id="table" style="font-size: 12px">
                    <tr>
                        <td><b>成果编号</b></td>
                        <td><b>成果名称</b></td>
                        <td><b>地区</b></td>
                        <td><b>完成时间</b></td>
                        <td><b>所属类型</b></td>
                        <td><b>课题来源</b></td>
                        <td><b>Down</b></td>


                    </tr>
                    <php>if( $count > 0  ):</php>
                    <foreach name="info_data" item="cg" >

                        <tr style="font-size: 12px">

                            <td style="white-space: nowrap;">{$cg.cg_xmbh}</td>
                            <td><a href="/index.php/home/cgxx/cgxx_dal?id={$cg.id}">{$cg.cg_cgmc}</a></td>
                            <td>{$cg.cg_dq}</td>
                            <td style="white-space: nowrap;">{$cg.cg_wcsj|strtotime|date="Y年m月",###}</td>
                            <td>{$cg.cg_xkflmc}</td>
                            <td>{$cg.cg_ktly}</td>
                            <td><a href="__PUBLIC__/glxh/downloads/{$cg.cg_xmbh}.pdf" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span></a></td>

                        </tr>
                    </foreach>
                    <php>else:</php>
                    <tr style="font-size: 12px">
                        <td><span style="color: red" >没有找到成果信息。</span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                    <php> endif;</php>

                </table>
                <ul class="pagination">
                    {$pagebar}
                </ul>

            </div>

        </div>
    </div>
</block>