</div>
<!--===========layout-footer================-->
<div class="layout-footer">
    <div class="footer">
        <div style="background-color:#383d61" class="footer--bg"></div>
        <div class="footer--inner">
            <div class="container">
                <div class="footer_main">
                    <div class="am-g">
                        <div class="am-u-md-9 ">
                            <div class="footer_main--column">
                                <strong class="footer_main--column_title">关于我们</strong>
                                <div class="footer_about">
                                    <p class="footer_about--text">
                                        {$about}
                                    </p>
                                    <p class="footer_about--text">
                                        ICP备案号：{$ICP}
                                    </p>
                                    <p class="footer_about--text">
                                        版权声明：{$copyright}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="am-u-md-3 ">
                            <div class="footer_main--column">
                                <strong class="footer_main--column_title">联系详情</strong>
                                <ul class="footer_contact_info">
                                    <li class="footer_contact_info--item"><i class="am-icon-phone"></i><span>服务专线：{$tel}</span></li>
                                    <li class="footer_contact_info--item"><i class="am-icon-envelope-o"></i><span>{$email}</span></li>
                                    <li class="footer_contact_info--item"><i class="am-icon-map-marker"></i><span>{$address}{$addressx}</span></li>
                                    <li class="footer_contact_info--item"><i class="am-icon-clock-o"></i><span>{$date} </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/Moblie/AmaUi/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/Moblie/AmaUi/js/amazeui.min.js"></script>
</body>
</html>