<extend name="manage/index/base_user" title="设备信息管理"/>


<block name="customer">
    <script type="text/javascript">

        //需求TAB标签
        $(function(){
            window.onload = function()
            {
                var $li = $('#kjtd_title_list li');
                var $ul = $('#xxzx_content ul');

                $li.mousedown(function(){
                    var $this = $(this);
                    var $t = $this.index();
                    $li.removeClass();
                    $this.addClass('current');
                    $ul.css('display','none');
                    $ul.eq($t).css('display','block');
                })
            }
        });
    </script>
    <script type="text/javascript">
        function changeData() {
            var v=$("#zc_lx").find("option:selected").val();
            var t=$("#zc_lx").find("option:selected").text();
            $("#zc_mc").val(t);
            var zc_rjlx = $("#zc_rjlx");
            if (!v){
                // 下拉框禁用
                ("#zc_rjlx").prop("disabled", true);
            }else{
                $("#zc_rjlx").prop("disabled", false);
                var url = "?id=" + v;
                $.getJSON(url,function (data) {
                    if (data==""){
                        //alert('该分类下未维护二级分类，请联系管理进行维护!');
                        //("#zc_rjlx").prop("disabled", true);
                        zc_rjlx.find("option").remove();
                        var tempOption = document.createElement("option");
                        tempOption.value = '';
                        tempOption.innerHTML  = '请选择';
                        zc_rjlx.append(tempOption);
                        zc_rjlx.prop("disabled", true);
                    }
                    else{
                        //遍历回传到的Json数据，取出二级分类信息
                        zc_rjlx.find("option").remove();
                        $.each(data,function (i,value) {
                            var tempOption = document.createElement("option");
                            tempOption.value = value.id;
                            tempOption.innerHTML  = value.cglx_mc;
                            zc_rjlx.append(tempOption);
                        })
                    }
                })
            }
        }
    </script>
    <form class="form-inline" method="post" data-validator-option="{stopOnError:false, timely:2, theme:'yellow_top',timely:1}">
        <div class="col-md-12" >
            <h4>一、主表信息</h4>
            <hr />
        </div>
        <div class="col-md-12">
            <!--TAB标签一-->
            <include file="manage/ZcManage/zczb" />
            <!--副表信息-->
            <div class="col-md-12" >
                <hr />
                <h4>二、机械器具信息</h4>
                <hr />
            </div>
            <div class="col-md-12" style="margin-top: -10px;line-height: 45px">
                <lable style="width: 12%;text-align: right">品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌 : </lable>
                <input style="width: 12%;text-align: left" type="text" class="form-control" name="zc_pp" id="zc_pp" placeholder="请输入品牌" data-rule="required"/>
                <!--End IF-->
                <lable style="width: 12%;text-align: right">型&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号 : </lable>
                <input style="width: 12%;text-align: left" type="text" class="form-control" name="zc_xh" id="zc_xh" placeholder="请输入型号" data-rule="required"/>
                <!--End IF-->
                <lable style="width: 12%;text-align: right">生产日期 : </lable>
                <input style="width: 12%;text-align: left" type="text" readonly class=" form-control" name="zc_scrq" id="zc_scrq" placeholder="请选择生产日期"/>
                <script>
                    $("#zc_scrq").datetimepicker({
                        format: "yyyy-mm-dd",
                        autoclose: true,
                        todayBtn: true,
                        language:"zh-CN",
                        minView:"month"
                    });
                </script>
                <lable style="width: 12%;text-align: right">生产厂家 : </lable>
                <input style="width: 12%;text-align: left" type="text" class="form-control" name="zc_sccj" id="zc_sccj" placeholder="请输入生产厂家" data-rule="required"/>
                <!--End IF-->
                <lable style="width: 12%;text-align: right">出厂编号 : </lable>
                <input style="width: 12%;text-align: left" type="text" class="form-control" name="zc_cccpbh" id="zc_cccpbh" placeholder="请输入出厂产品编号" data-rule="required"/>
                <br />
                <!--<lable style="width: 12%;text-align: right">用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;途 : </lable>
                <textarea class="form-control" style="width: 85%;text-align: left" name="zc_yt" id="zc_yt" placeholder="请输入用途"></textarea>
                &lt;!&ndash;End IF&ndash;&gt;<br />-->
                <lable style="text-align: right;font-size: 14px"></lable>
                <div class=" input-group input-group-sm" style="text-align: center" >
                    <button type="submit" class="btn btn-success">保存卡片信息</button>
                    <button type="reset" class="btn btn-default">重置表单</button>
                </div>
            </div>
        </div>

    </form>
</block>