<?php
                $zc_zt=$Info['zc_zt'];
                switch($zc_zt)
                {
                case 0:
                echo "等待分配";
                break;
                case 1:
                echo "在用";
                break;
                case 2:
                echo "维修";
                break;
                case 3:
                echo "保养";
                break;
                case 4:
                echo "停用";
                break;
                case 10:
                echo "报废";
                break;
                }
                ?>