<extend name="Web/index/base" />
<block name="customer">
			<!----- start-slider---->
			<!----start-slider-script---->
			<script src="__PUBLIC__/hui360/js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!----//End-slider-script---->
			<!-- Slideshow 4 -->
			    <div  id="top" class="callbacks_container">
			      <ul class="rslides" id="slider4">
			        <li>
			          <img src="__PUBLIC__/hui360/images/slide.jpg" alt="">
			          <div class="caption text-center">
			          	<div class="slide-text-info">
			          		<a class="btn1" href="#"><span>易物天下</span></a>
			          		<h1>把<span>资产或生活刚需产品</span> 当钱花</h1>

			          		<div class="slide-text">
			          			<p>房子、土地、车子、塔位、墓地、生前契约</p>
			          		</div>
			          		<a class="btn2" href="#"><span>查閱詳細</span></a>
			          	</div>
			          </div>
			        </li>
			        <li>
			          <img src="__PUBLIC__/hui360/images/slide.jpg" alt="">
			          <div class="caption text-center">
			          	<div class="slide-text-info">
			          		<a class="btn1" href="#"><span>盘活存量</span></a>
			          		<h1>1:1 <span> 兑换商码，融通变现金 </span></h1>
			          		<div class="slide-text">
			          			<p>房子、土地、车子、塔位、墓地、生前契约、积分、劵、币</p>
			          		</div>
							<a class="btn2" href="#"><span>查閱詳細</span></a>
			          	</div>
			          </div>
			        </li>
			        <li>
			          <img src="__PUBLIC__/hui360/images/slide.jpg" alt="">
			           <div class="caption text-center">
			           	<div class="slide-text-info">
			          		<a class="btn1" href="#"><span >一链万端</span></a>
			          		<h1>帮助企业 <span>供应链电商化通起来</span> 互相导流消费倍速扩张</h1>
			          		<div class="slide-text">
			          			<p>用互联网做产业互联、互联产业，消费互联、互联消费.</p>
			          		</div>
							<a class="btn2" href="#"><span>查閱詳細</span></a>
			          	</div>
			          </div>
			        </li>
					  <li>
						  <img src="__PUBLIC__/hui360/images/slide.jpg" alt="">
						  <div class="caption text-center">
							  <div class="slide-text-info">
								  <a class="btn1" href="#"><span>为你成功脱困</span></a>
								  <h1>脱离贫穷!  <span>财富加速前进!</span> </h1>
								  <div class="slide-text">
									  <p>人脉变现、资产变现，资本价值提升.</p>
								  </div>
								  <a class="btn2" href="#"><span>查閱詳細</span></a>
							  </div>
						  </div>
					  </li>
					  <li>
						  <img src="__PUBLIC__/hui360/images/slide.jpg" alt="">
						  <div class="caption text-center">
							  <div class="slide-text-info">
								  <a class="btn1" href="#"><span>训练很贵不训练更贵</span></a>
								  <h1>『卓越领导系列』 <span>『顶尖销售系列』</span> 『闪耀讲师培训』</h1>
								  <div class="slide-text">
									  <p>英国发展中心模组『卓越领导系列』『顶尖销售系列』『闪耀讲师培训』课程是国内金融行业、光电和电子产业的见证!</p>
								  </div>
								  <a class="btn2" href="#"><span>查閱詳細</span></a>
							  </div>
						  </div>
					  </li>
					  <li>
						  <img src="__PUBLIC__/hui360/images/slide.jpg" alt="">
						  <div class="caption text-center">
							  <div class="slide-text-info">
								  <a class="btn1" href="#"><span>汇360帮线下店家</span></a>
								  <h1>消费者人数增加、<span>销量扩大</span> </h1>
								  <div class="slide-text">
									  <p>打通互联网渠道，让“消费者人数增加、销量扩大”，自然形成消费者推荐消费者.</p>
								  </div>
								  <a class="btn2" href="#"><span>查閱詳細</span></a>
							  </div>
						  </div>
					  </li>
					  <li>
						  <img src="__PUBLIC__/hui360/images/slide.jpg" alt="">
						  <div class="caption text-center">
							  <div class="slide-text-info">
								  <a class="btn1" href="#"><span>盈利模式九宫格</span></a>
								  <h1>裂变 <span>企业6000倍</span> 的课程</h1>
								  <div class="slide-text">
									  <p>互联网工具30倍: 100万以上信息化商城 + 微信智能化小程序 + 消费者推荐消费者，三大工具直接让你流通.</p>
								  </div>
								  <a class="btn2" href="#"><span>查閱詳細</span></a>
							  </div>
						  </div>
					  </li>
			      </ul>
			    </div>
			    <div class="clearfix"> </div>
			<!----- //End-slider---->
			<!----start-services---->
			<div id="ser" class="services">
				<div class="container">
					<div class="services-head text-center">
						<h3>易物天下</h3>
						<p>汇360，通过互联网OMO经济模式+易物经济，做“铺路搭桥”为沉滞的商品铺设通道。</p>
					</div>
					<!-----start-services-grids---->
					<div class="services-grids">
						<div class="col-md-4 services-grid">
							<div class="col-md-3 services-grid-left">
								<a class="top-icon1" href="#"><span> </span></a>
							</div>
							<div class="col-md-9 services-grid-right">
								<h4><a href="#">聯盟合作</a></h4>
								<p>特别号召全国合伙人“易物创业”<br />
									汇360易物平台，让你用全国的闲置资产转换成自己创业资本金(钱)。
								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 services-grid">
							<div class="col-md-3 services-grid-left">
								<a class="top-icon2" href="#"><span> </span></a>
							</div>
							<div class="col-md-9 services-grid-right">
								<h4><a href="#">平臺介紹</a></h4>
								<p>该平台采用S2B- Supply chain platform To business供应链智能服務.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 services-grid">
							<div class="col-md-3 services-grid-left">
								<a class="top-icon3" href="#"><span> </span></a>
							</div>
							<div class="col-md-9 services-grid-right">
								<h4><a href="#">平臺特色</a></h4>
								<p>人人服务人人，让人人都有虚拟网上大店铺,把1千万人群链接起来，为消费者带来增值.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 services-grid">
							<div class="col-md-3 services-grid-left">
								<a class="top-icon4" href="#"><span> </span></a>
							</div>
							<div class="col-md-9 services-grid-right">
								<h4><a href="#">全國服務據點</a></h4>
								<p>物流商业和物流融资和物流投资本来就是易物(易业)交易模式的核心，也就是易物(业)另类投资的主要方式.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 services-grid">
							<div class="col-md-3 services-grid-left">
								<a class="top-icon5" href="#"><span> </span></a>
							</div>
							<div class="col-md-9 services-grid-right">
								<h4><a href="#">以需易需</a></h4>
								<p>汇360，资本置换重新配置经营权的转换，化腐朽为神奇，修复商品生态链的破缺，让厂店家重新把握商机。</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 services-grid">
							<div class="col-md-3 services-grid-left">
								<a class="top-icon6" href="#"><span> </span></a>
							</div>
							<div class="col-md-9 services-grid-right">
								<h4><a href="#">以業易業</a></h4>
								<p>把信息链、资金链、生产链、市场链的各类闲置，进行融通与流通,形成“以业易业”价值经济效益.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!----//End-services---->
					<!-----//End-services-grids---->
					<!---- start-about----->
					<div id="about" class="about">
						<div class="container">
							<div class="about-head">
								<h4>关于我们</h4>
								<h5>About US</h5>
								<p>汇360，聚焦以人为中心，产生“数据为价值”。通过网上大店铺为“自营流量入口”，帮助B-Business端和F-Factory端企业打通互联网渠道，让“存量变现和产量、销量扩大”，聚集产业“共赢链做市值”。</p>
							</div>
								<!----- start-about-grids----->
								<div class="about-grids">
									<div class="col-md-7 about-grid-left">
										<span> </span>
									</div>
									<div class="col-md-5 about-grid-right">
										<h5>品牌价值</h5>
										<p>
											定位:  盘活存量、扩大销量『企业资产变现』<br />
											使命: 帮助1千万企业家供应链电商化流通起来 <br />
											愿景: 360资产都可数字量化的金融流通资产 <br />
											口号: 越成功的人士『越会善用资源变现』

										</p>
										<a class="about-btn" href="#">More ...</a>
									</div>
									<div class="clearfix"> </div>
								</div>
								<!----- //End-about-grids----->
							</div>
						</div>
		<!---- //End-about----->
		<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>

         <!----//End-portfolio---->

         <!----start-contact---->
         <div id="contact" class="contact">
         	<div class="container">
         		<div class="contact-head text-center">
         			<h3>联系我们</h3>
         		</div>
         		<div class="contact-grids">
         			<div class="col-md-7 contact-left">
         				<h4>Sent mail</h4>
         						<form>
									<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
									<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
									<input type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
									<textarea onfocus="if(this.value == 'Message ') this.value='';" onblur="if(this.value == '') this.value='Message *;">Message </textarea>
									<input type="submit" value="@ 發送郵件" />
								</form>	
         			</div>
         			<div class="col-md-5 contact-right">
         				<h4>Contact info</h4><br />
         				<p><span class="icon1"> </span><a href="#">{$tel}</a></p><br />
         				<p><span class="icon2"> </span>{$email}</p><br />
         				<p><span class="icon3"> </span><label>{$address}, {$addressx}</label></p><br />
         				<h4>Follow us on</h4><br />
         				<ul class="list-unstyled list-inline">
         					<li><a class="face" href="#"><span> </span></a></li>
         					<li><a class="drib" href="#"><span> </span></a></li>
         					<li><a class="twitt" href="#"><span> </span></a></li>
         					<li><a class="sanp" href="#"><span> </span></a></li>
         					<li><a class="gpluse" href="#"><span> </span></a></li>
         				</ul>
         			</div>
         			<div class="clearfix"> </div>
         		</div>
         	</div>
         </div>
         <!----//End-contact---->
</block>