<extend name="WebApps/index/base" />
<block name="customer">
    <link rel="stylesheet" href="__PUBLIC__/Moblie/AmaUi/css/other.min.css" />
    <include file="WebApps/widget/navbar" />
    <hr />
    <!--===========layout-container================-->
    <div class="layout-container">
        <div class="error error-dark">
            <div class="container">
                <h2>注册成功</h2>
                <p>Registration Successful</p>
                <p>欢迎，您已经注册成功，请点击下方按键返回首页。</p>
                <button type="button" class="am-btn am-btn-secondary" onclick="window.location.href='/home/index'">Home</button>
            </div>
        </div>
    </div>
    </div>
    <p style="height: 100px"></p>
</block>