<extend name="manage/index/base_user" title="详细信息管理"/>
<block name="customer">
    <script type="text/javascript">
        function jichu(ryid,fjid) {
            if (!ryid || !fjid){
                alert("信息错误。")
                return false;
            }else{
                if(confirm("请确认是否取消分配，该操作不可恢复！")){
                    $.ajax({
                        type:"POST",
                        url:"/Home/LfangManage/ryjc",
                        data:{"ryid":ryid,"fjid":fjid},
                        success:function (data, state) { //成功调用回调信息
                            //alert(data);
                            window.location.reload();
                        },
                        complete: function (XMLHttpRequest, textStatus) {  //调用后返回信息
                            //alert(textStatus);
                        },
                        timeout: 60000,
                        error: function (XMLHttpRequest, textStatus, errorThrown) {  //失败后调用回调信息
                            alert("服务器响应超时，请稍候重试：" + errorThrown);
                            return false;
                        }
                    });
                }
            }
        }
        function jcsb(sbid,sbtable) {
            //alert(sbtable);
            if (!sbid || !sbtable){
                alert("信息错误。")
                return false;
            }else{
                if(confirm("请确认是否取消分配，该操作不可恢复！")){
                    $.ajax({
                        type:"POST",
                        url:"/Home/LfangManage/sbjc",
                        data:{"sbid":sbid,"sbtable":sbtable},
                        success:function (data, state) { //成功调用回调信息
                            //alert(data);
                            window.location.reload();
                        },
                        complete: function (XMLHttpRequest, textStatus) {  //调用后返回信息
                            //alert(textStatus);
                        },
                        timeout: 60000,
                        error: function (XMLHttpRequest, textStatus, errorThrown) {  //失败后调用回调信息
                            alert("服务器响应超时，请稍候重试：" + errorThrown);
                            return false;
                        }
                    });
                }
            }
        }
    </script>
    <div class="box">
        <foreach name="info_data" item="Info">
        <div class="box-body">
            <div class="col-md-12 column">
    <ul class="breadcrumb">
        <li>
             <a href="/Home/LfangManage"> <span class="glyphicon glyphicon-th"></span> 楼宇信息</a>
        </li>
        <li >
            <a href="#" onClick="window.history.back();">房屋信息</a>
        </li>
        <li class="active">
            房屋详细信息
        </li>
    </ul>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="__PUBLIC__/Manage/images/sh.png" style="width: 64px" alt="Generic placeholder image">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{$Info.homename}
                    <small>
                        <a href="/home/LfangManage/Fpei?fj_id={$Info.id}&fj_name={$Info.homename}" title="增加分配"><button type="button" class="btn btn-success "><span class="glyphicon glyphicon-edit"></span> 增加信息</button></a>
                        <!--&nbsp;<a href="/home/LfangManage/Fpei?fj_id={$Info.id}&fj_name={$Info.homename}" title="打印信息"><span class="glyphicon glyphicon-print"></span></a>-->
                    </small>
                </h4>
                类型：{$Info.zclb}；
                资产编码：{$Info.zcbm}；
                发证日期：{$Info.fzrq}；
                证号编号：{$Info.fczbh}；
                财产保管人：{$Info.glyxm}；
                坐落位置：{$Info.zlwz}；
                面积：{$Info.mj}㎡；
                所在楼层：{$Info.szlc}；
                土地使用性质：{$Info.nolur}。
            </div>
        </div>

        </div>
        </div>
        </foreach>
        <div class="col-md-12 column" style="margin-top: 20px">
        <div class="tabbable" id="tabs-823527">
            <ul class="nav nav-tabs active">
                <li class="active">
                    <a href="#panel-0" data-toggle="tab">人员信息<span style="color: #ff0000">({$ry_count})</span> </a>
                </li>
                <li >
                    <a href="#panel-1" data-toggle="tab">电子设备<span style="color: #ff0000">({$Dz_count})</span> </a>
                </li>
                <li >
                    <a href="#panel-2" data-toggle="tab">机械器具<span style="color: #ff0000">({$Dq_count})</span></a>
                </li>
                <!--<li >
                    <a href="#panel-3" data-toggle="tab">房产<span style="color: #ff0000">({$Dz_count})</span></a>
                </li>-->
                <li >
                    <a href="#panel-4" data-toggle="tab">运输工具<span style="color: #ff0000">({$Ys_count})</span></a>
                </li>
                <li >
                    <a href="#panel-5" data-toggle="tab">其他<span style="color: #ff0000">({$Qt_count})</span></a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="panel-0">
                    <table class="table table-hover table-bordered table-condensed table-responsive table-striped" >
                        <tr style="background: #8bc5eb; color: #ffffff">
                            <th nowrap>序号</th>
                            <th nowrap>姓名</th>
                            <th nowrap>职务</th>
                            <th nowrap>部门</th>
                            <th nowrap>科室</th>
                            <!--<th nowrap>房间号</th>-->
                            <th nowrap>办公电话</th>
                            <th nowrap>手机号码</th>
                            <th nowrap>备注</th>
                            <th nowrap>操作</th>
                        </tr>
                        <?php $i = 0;?><br/>
                        <foreach name='ry_info' item='Info' >
                            <?php $i++;?>
                            <tr>
                                <td >{$i}</td>
                                <td><a href="#">{$Info.ry_xm}</a></td>
                                <td>{$Info.ry_zw}</td>
                                <td>{$Info.ry_bm}</td>
                                <td>{$Info.ry_ks}</td>
                                <!--<td>{$Info.ry_fjh}</td>-->
                                <td>{$Info.ry_bgdh}</td>
                                <td>{$Info.ry_sjhm}</td>
                                <td><a tabindex='0' role='button' data-placement='left' data-toggle='popover' data-trigger='focus' title='备注信息' data-content='{$Info.ry_bz}'><span class='glyphicon glyphicon-folder-open'></span></a></td>
                                <td>
                                    <a href="#" title="解除分配" onclick="jichu({$Info.id},{$fjid})"><span class="glyphicon glyphicon-minus"></span></a>

                                </td>
                                <script>
                                    $(function () {
                                        $('[data-toggle="popover"]').popover()
                                    })
                                </script>

                            </tr>
                        </foreach>
                    </table>
                </div>
                <div class="tab-pane" id="panel-1">
                    <!--表格开始-->
                    <table class="table table-hover table-bordered table-condensed table-responsive table-striped" >
                        <tr style="background: #8bc5eb; color: #ffffff">
                            <th nowrap style="text-align: center">序号</th>
                            <th nowrap>品牌</th>
                            <!--<th nowrap>型号</th>-->
                            <!--<th nowrap>生产日期</th>-->
                            <!--<th nowrap>生产厂家</th>
                            <th nowrap>出厂产品编号</th>
                            <th nowrap>用途</th>-->
                            <th nowrap>资产编号</th>
                            <!--<th nowrap>资产类型</th>-->
                            <!--<th nowrap>资产二级分类</th>-->
                            <th nowrap>资产名称(计量单位)</th>
                            <!--<th nowrap>计量单位</th>-->
                            <!--<th nowrap>原值</th>-->
                            <th nowrap>净值</th>
                            <!--<th nowrap>是否折旧标志</th>
                            <th nowrap>折旧年限类型</th>
                            <th nowrap>累计折旧</th>
                            <th nowrap>本期折旧</th>-->
                            <th nowrap>购建日期</th>
                            <th nowrap>入帐日期</th>
                            <th nowrap>启用日期</th>
                            <th nowrap>取得方式</th>
                            <th nowrap>财产使用部门</th>
                            <th nowrap>是否闲置</th>
                            <!--<th nowrap>财产管理部门</th>-->
                            <!--<th nowrap>条形码</th>-->
                            <th nowrap>责任人</th>
                            <!--<th nowrap>批复单号</th>-->
                            <th nowrap>卡片说明</th>
                            <!--<th nowrap>出帐日期</th>
                            <th nowrap>出帐类型</th>
                            <th nowrap>出帐原因</th>-->
                            <!--<th nowrap>状态</th>-->
                            <th nowrap>操作</th>
                        </tr>
                        <?php $i = 0;?><br/>
                        <foreach name='DzsbInfo' item='Info' >
                            <?php $i++;?>
                            <?php $zc_yzhj+=$Info['zc_yz'];?>
                            <?php $zc_jzhj+=$Info['zc_jz'];?>
                            <tr>
                                <td style="text-align: center">{$i}</td>
                                <td nowrap><a tabindex='0' role='button' data-placement='right' data-toggle='popover' data-trigger='focus' title='型号' data-content='{$Info.zc_xh}'>{$Info.zc_pp}</a></td>
                                <!--<td nowrap>{$Info.zc_xh}</td>-->
                                <!--<td nowrap>{$Info.zc_scrq|strtotime|date="Y-m-d",###}</td>-->
                                <!--<td nowrap>{$Info.zc_sccj}</td>
                                <td nowrap>{$Info.zc_cccpbh}</td>
                                <td nowrap>{$Info.zc_yt}</td>-->
                                <td nowrap>{$Info.zc_bh}</td>
                                <!--<td nowrap>{$Info.zc_lx}</td>-->
                                <!--<td nowrap>{$Info.zc_rjlx}</td>-->
                                <td nowrap>{$Info.zc_mc}({$Info.zc_jldw})</td>
                                <!-- <td nowrap>{$Info.zc_jldw}</td>-->
                                <!--<td nowrap style="text-align: right">{$Info.zc_yz}</td>-->
                                <td nowrap style="text-align: right"><a tabindex='0' role='button' data-placement='right' data-toggle='popover' data-trigger='focus' title='原值' data-content='{$Info.zc_yz}'>{$Info.zc_jz}</a></td>
                                <!--<td nowrap>{$Info.zc_sfzjbz}</td>
                                <td nowrap>{$Info.zc_zjnxlx}</td>
                                <td nowrap>{$Info.zc_ljzj}</td>
                                <td nowrap>{$Info.zc_bqzj}</td>-->
                                <td nowrap>{$Info.zc_gjrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_rzrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qyrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qdfs}</td>
                                <td nowrap>{$Info.zc_ccsybm}</td>
                                <td nowrap>{$Info.zc_sfxz}</td>
                                <!--<td nowrap>{$Info.zc_ccglbm}</td>-->
                                <!--<td nowrap>{$Info.zc_txm}</td>-->
                                <td nowrap>{$Info.zc_zrr}</td>
                                <!--<td nowrap>{$Info.zc_pfdh}</td>-->
                                <td nowrap><a tabindex='0' role='button' data-placement='left' data-toggle='popover' data-trigger='focus' title='卡片说明' data-content='{$Info.zc_kpsm}'><span class='glyphicon glyphicon-folder-open'></span></a></td>
                                <!--<td nowrap>{$Info.zc_czrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_czlx}</td>
                                <td nowrap>{$Info.zc_czyy}</td>-->
                                <!--<td nowrap>
                                    <include file="manage/ZcManage/sb_zt" />
                                </td>-->
                                <td nowrap><a href="#" title="解除分配" onclick="jcsb({$Info.id},'dzsb_tb')"><span class="glyphicon glyphicon-minus"></span></a></td>
                            </tr>
                        </foreach>
                    </table>
                    <!--表格结束-->
                </div>
                <div class="tab-pane " id="panel-2">
                    <!--表格开始-->
                    <table class="table table-hover table-bordered table-condensed table-responsive table-striped" >
                        <tr style="background: #8bc5eb; color: #ffffff">
                            <th nowrap style="text-align: center">序号</th>
                            <th nowrap>品牌</th>
                            <!--<th nowrap>型号</th>-->
                            <!--<th nowrap>生产日期</th>-->
                            <!--<th nowrap>生产厂家</th>
                            <th nowrap>出厂产品编号</th>
                            <th nowrap>用途</th>-->
                            <th nowrap>资产编号</th>
                            <!--<th nowrap>资产类型</th>-->
                            <!--<th nowrap>资产二级分类</th>-->
                            <th nowrap>资产名称(计量单位)</th>
                            <!--<th nowrap>计量单位</th>-->
                            <!--<th nowrap>原值</th>-->
                            <th nowrap>净值</th>
                            <!--<th nowrap>是否折旧标志</th>
                            <th nowrap>折旧年限类型</th>
                            <th nowrap>累计折旧</th>
                            <th nowrap>本期折旧</th>-->
                            <th nowrap>购建日期</th>
                            <th nowrap>入帐日期</th>
                            <th nowrap>启用日期</th>
                            <th nowrap>取得方式</th>
                            <th nowrap>财产使用部门</th>
                            <th nowrap>是否闲置</th>
                            <!--<th nowrap>财产管理部门</th>-->
                            <!--<th nowrap>条形码</th>-->
                            <th nowrap>责任人</th>
                            <!--<th nowrap>批复单号</th>-->
                            <th nowrap>卡片说明</th>
                            <!--<th nowrap>出帐日期</th>
                            <th nowrap>出帐类型</th>
                            <th nowrap>出帐原因</th>-->
                            <!--<th nowrap>状态</th>-->
                            <th nowrap>操作</th>
                        </tr>
                        <?php $i = 0;?><br/>
                        <foreach name='DqsbInfo' item='Info' >
                            <?php $i++;?>
                            <?php $zc_yzhj+=$Info['zc_yz'];?>
                            <?php $zc_jzhj+=$Info['zc_jz'];?>
                            <tr>
                                <td style="text-align: center">{$i}</td>
                                <td nowrap><a tabindex='0' role='button' data-placement='right' data-toggle='popover' data-trigger='focus' title='型号' data-content='{$Info.zc_xh}'>{$Info.zc_pp}</a></td>
                                <!--<td nowrap>{$Info.zc_xh}</td>-->
                                <!--<td nowrap>{$Info.zc_scrq|strtotime|date="Y-m-d",###}</td>-->
                                <!--<td nowrap>{$Info.zc_sccj}</td>
                                <td nowrap>{$Info.zc_cccpbh}</td>
                                <td nowrap>{$Info.zc_yt}</td>-->
                                <td nowrap>{$Info.zc_bh}</td>
                                <!--<td nowrap>{$Info.zc_lx}</td>-->
                                <!--<td nowrap>{$Info.zc_rjlx}</td>-->
                                <td nowrap>{$Info.zc_mc}({$Info.zc_jldw})</td>
                                <!-- <td nowrap>{$Info.zc_jldw}</td>-->
                                <!--<td nowrap style="text-align: right">{$Info.zc_yz}</td>-->
                                <td nowrap style="text-align: right"><a tabindex='0' role='button' data-placement='right' data-toggle='popover' data-trigger='focus' title='原值' data-content='{$Info.zc_yz}'>{$Info.zc_jz}</a></td>
                                <!--<td nowrap>{$Info.zc_sfzjbz}</td>
                                <td nowrap>{$Info.zc_zjnxlx}</td>
                                <td nowrap>{$Info.zc_ljzj}</td>
                                <td nowrap>{$Info.zc_bqzj}</td>-->
                                <td nowrap>{$Info.zc_gjrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_rzrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qyrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qdfs}</td>
                                <td nowrap>{$Info.zc_ccsybm}</td>
                                <td nowrap>{$Info.zc_sfxz}</td>
                                <!--<td nowrap>{$Info.zc_ccglbm}</td>-->
                                <!--<td nowrap>{$Info.zc_txm}</td>-->
                                <td nowrap>{$Info.zc_zrr}</td>
                                <!--<td nowrap>{$Info.zc_pfdh}</td>-->
                                <td nowrap><a tabindex='0' role='button' data-placement='left' data-toggle='popover' data-trigger='focus' title='卡片说明' data-content='{$Info.zc_kpsm}'><span class='glyphicon glyphicon-folder-open'></span></a></td>
                                <!--<td nowrap>{$Info.zc_czrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_czlx}</td>
                                <td nowrap>{$Info.zc_czyy}</td>-->
                                <!--<td nowrap>
                                    <include file="manage/ZcManage/sb_zt" />
                                </td>-->
                                <td nowrap><a href="#" title="解除分配" onclick="jcsb({$Info.id},'dqsb_tb')"><span class="glyphicon glyphicon-minus"></span></a></td>

                            </tr>
                        </foreach>
                    </table>
                    <!--表格结束-->
                </div>
                <!--<div class="tab-pane " id="panel-3">
                    <p>
                        选项卡三内容
                    </p>
                </div>-->
                <div class="tab-pane " id="panel-4">
                    <table class="table table-hover table-bordered table-condensed table-responsive table-striped" >
                        <tr style="background: #8bc5eb; color: #ffffff">
                            <th nowrap style="text-align: center">序号</th>
                            <th nowrap>改装车品牌</th>
                            <!--<th nowrap>改装车型号</th>-->
                            <!-- <th nowrap>净载重量</th>
                             <th nowrap>底盘品牌</th>
                             <th nowrap>底盘型号</th>
                             <th nowrap>车辆牌照号</th>
                             <th nowrap>车辆座数</th>-->
                            <!--<th nowrap>发动机编号</th>
                            <th nowrap>车架号</th>-->
                            <!--<th nowrap>生产日期</th>
                            <th nowrap>生产厂家</th>
                            <th nowrap>出厂产品编号</th>
                            <th nowrap>车上颜色</th>-->
                            <!-- <th nowrap>排气量</th>
                             <th nowrap>累计行驶公里</th>
                             <th nowrap>吨位</th>-->
                            <!--<th nowrap>机构代码</th>-->
                            <!--<th nowrap>机构名称</th>
                            <th nowrap>机构行政级别</th>
                            <th nowrap>机构行政级别细项</th>-->
                            <th nowrap>资产编号</th>
                            <!--<th nowrap>资产类型</th>
                            <th nowrap>类型ID</th>-->
                            <th nowrap>资产二级分类</th>
                            <!--<th nowrap>二级类型ID</th>-->
                            <th nowrap>资产名称</th>
                            <!--<th nowrap>计量单位</th>-->
                            <!--<th nowrap>原值</th>
                            <th nowrap>单价</th>-->
                            <!--<th nowrap>其中:安装成本</th>-->
                            <th nowrap>净值</th>
                            <!-- <th nowrap>是否折旧标志</th>
                             <th nowrap>折旧年限类型</th>-->
                            <!--<th nowrap>累计折旧</th>
                            <th nowrap>本期折旧</th>-->
                            <th nowrap>购建日期</th>
                            <th nowrap>入帐日期</th>
                            <th nowrap>启用日期</th>
                            <th nowrap>取得方式</th>
                            <th nowrap>财产使用部门</th>
                            <th nowrap>是否闲置</th>
                            <!--<th nowrap>财产管理部门</th>-->
                            <!--<th nowrap>条形码</th>-->
                            <th nowrap>责任人</th>
                            <!-- <th nowrap>批复单号</th>
                            <th nowrap>卡片说明</th>
                           <th nowrap>出帐日期</th>
                            <th nowrap>出帐类型</th>
                            <th nowrap>出帐原因</th>-->
                            <th nowrap>资产登记人</th>
                            <!-- <th nowrap>备注</th>-->
                            <th nowrap>操作</th>
                        </tr>
                        <?php $i = 0;?><br/>
                        <foreach name='YssbInfo' item='Info' >
                            <?php $i++;?>
                            <tr>
                                <td>{$i}</td>
                                <td nowrap><a tabindex='0' role='button' data-placement='right' data-toggle='popover' data-trigger='focus' title='车辆详细信息'
                                              data-content='
                                   改装车型号:{$Info.zc_gzcxh}<br />
                                   发动机编号:{$Info.zc_cjh}<br />
                                   车架号:{$Info.zc_cjh}<br />
                                   排气量:{$Info.zc_pql}<br />
                                   累计行驶公里:{$Info.zc_ljxsgl}<br />
                                   吨位:{$Info.zc_dw}<br />
                                    '>{$Info.zc_gzcpp}</a></td>
                                <!--<td nowrap>{$Info.zc_gzcxh}</td>-->
                                <!--<td nowrap>{$Info.zc_jzzl}</td>
                                <td nowrap>{$Info.zc_dppp}</td>
                                <td nowrap>{$Info.zc_dpxh}</td>
                                <td nowrap>{$Info.zc_clpzh}</td>
                                <td nowrap>{$Info.zc_clzs}</td>-->
                                <!--<td nowrap>{$Info.zc_fdxbh}</td>
                                <td nowrap>{$Info.zc_cjh}</td>-->
                                <!--<td nowrap>{$Info.zc_scrq}</td>
                                <td nowrap>{$Info.zc_sccj}</td>
                                <td nowrap>{$Info.zc_cccpbh}</td>
                                <td nowrap>{$Info.zc_csys}</td>-->
                                <!--<td nowrap>{$Info.zc_pql}</td>
                                <td nowrap>{$Info.zc_ljxsgl}</td>
                                <td nowrap>{$Info.zc_dw}</td>-->
                                <!--<td nowrap>{$Info.zc_jgdm}</td>-->
                                <!--<td nowrap>{$Info.zc_jgmc}</td>
                                <td nowrap>{$Info.zc_jgxzjb}</td>
                                <td nowrap>{$Info.zc_jgxzjbxx}</td>-->
                                <td nowrap>{$Info.zc_bh}</td>
                                <!--<td nowrap>{$Info.zc_lx}</td>
                                <td nowrap>{$Info.zc_lxid}</td>-->
                                <td nowrap>{$Info.zc_rjlx}</td>
                                <!--<td nowrap>{$Info.zc_rjlxid}</td>-->
                                <td nowrap>{$Info.zc_mc}</td>
                                <!--<td nowrap>{$Info.zc_jldw}</td>-->
                                <!--<td nowrap>{$Info.zc_yz}</td>
                                <td nowrap>{$Info.zc_dj}</td>-->
                                <!--<td nowrap>{$Info.zc_azcb}</td>-->
                                <td nowrap><a tabindex='0' role='button' data-placement='right' data-toggle='popover' data-trigger='focus' title='价值信息'
                                              data-content='
                                   原值:{$Info.zc_yz}<br />
                                   单价:{$Info.zc_dj}<br />
                                    '>{$Info.zc_jz}</a></td>
                                <!--<td nowrap>{$Info.zc_sfzjbz}</td>
                                <td nowrap>{$Info.zc_zjnxlx}</td>-->
                                <!--<td nowrap>{$Info.zc_ljzj}</td>
                                <td nowrap>{$Info.zc_bqzj}</td>-->
                                <td nowrap>{$Info.zc_gjrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_rzrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qyrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qdfs}</td>
                                <td nowrap>{$Info.zc_ccsybm}</td>
                                <td nowrap>{$Info.zc_sfxz}</td>
                                <!--<td nowrap>{$Info.zc_ccglbm}</td>-->
                                <!--<td nowrap>{$Info.zc_txm}</td>-->
                                <td nowrap>{$Info.zc_zrr}</td>
                                <!--<td nowrap>{$Info.zc_pfdh}</td>
                                <td nowrap>{$Info.zc_kpsm}</td>-->
                                <!--<td nowrap>{$Info.zc_czrq}</td>
                                <td nowrap>{$Info.zc_czlx}</td>
                                <td nowrap>{$Info.zc_czyy}</td>-->
                                <td nowrap></td>
                                <!--<td nowrap>{$Info.zc_bz}</td>-->
                                <!--<td nowrap>
                                    <include file="manage/ZcManage/sb_zt" />
                                </td>-->
                                <td nowrap><a href="#" title="解除分配" onclick="jcsb({$Info.id},'ysgj_tb')"><span class="glyphicon glyphicon-minus"></span></a></td>

                            </tr>
                        </foreach>
                    </table>
                </div>
                <div class="tab-pane " id="panel-5">
                    <!--表格开始-->
                    <table class="table table-hover table-bordered table-condensed table-responsive table-striped" >
                        <tr style="background: #8bc5eb; color: #ffffff">
                            <th nowrap style="text-align: center">序号</th>
                            <th nowrap>品牌</th>
                            <!--<th nowrap>型号</th>-->
                            <!--<th nowrap>生产日期</th>-->
                            <!--<th nowrap>生产厂家</th>
                            <th nowrap>出厂产品编号</th>
                            <th nowrap>用途</th>-->
                            <th nowrap>资产编号</th>
                            <!--<th nowrap>资产类型</th>-->
                            <!--<th nowrap>资产二级分类</th>-->
                            <th nowrap>资产名称(计量单位)</th>
                            <!--<th nowrap>计量单位</th>-->
                            <!--<th nowrap>原值</th>-->
                            <th nowrap>净值</th>
                            <!--<th nowrap>是否折旧标志</th>
                            <th nowrap>折旧年限类型</th>
                            <th nowrap>累计折旧</th>
                            <th nowrap>本期折旧</th>-->
                            <th nowrap>购建日期</th>
                            <th nowrap>入帐日期</th>
                            <th nowrap>启用日期</th>
                            <th nowrap>取得方式</th>
                            <th nowrap>财产使用部门</th>
                            <th nowrap>是否闲置</th>
                            <!--<th nowrap>财产管理部门</th>-->
                            <!--<th nowrap>条形码</th>-->
                            <th nowrap>责任人</th>
                            <!--<th nowrap>批复单号</th>-->
                            <th nowrap>卡片说明</th>
                            <!--<th nowrap>出帐日期</th>
                            <th nowrap>出帐类型</th>
                            <th nowrap>出帐原因</th>-->
                            <!--<th nowrap>状态</th>-->
                            <th nowrap>操作</th>
                        </tr>
                        <?php $i = 0;?><br/>
                        <foreach name='QtsbInfo' item='Info' >
                            <?php $i++;?>
                            <?php $zc_yzhj+=$Info['zc_yz'];?>
                            <?php $zc_jzhj+=$Info['zc_jz'];?>
                            <tr>
                                <td style="text-align: center">{$i}</td>
                                <td nowrap><a tabindex='0' role='button' data-placement='right' data-toggle='popover' data-trigger='focus' title='型号' data-content='{$Info.zc_xh}'>{$Info.zc_pp}</a></td>
                                <!--<td nowrap>{$Info.zc_xh}</td>-->
                                <!--<td nowrap>{$Info.zc_scrq|strtotime|date="Y-m-d",###}</td>-->
                                <!--<td nowrap>{$Info.zc_sccj}</td>
                                <td nowrap>{$Info.zc_cccpbh}</td>
                                <td nowrap>{$Info.zc_yt}</td>-->
                                <td nowrap>{$Info.zc_bh}</td>
                                <!--<td nowrap>{$Info.zc_lx}</td>-->
                                <!--<td nowrap>{$Info.zc_rjlx}</td>-->
                                <td nowrap>{$Info.zc_mc}({$Info.zc_jldw})</td>
                                <!-- <td nowrap>{$Info.zc_jldw}</td>-->
                                <!--<td nowrap style="text-align: right">{$Info.zc_yz}</td>-->
                                <td nowrap style="text-align: right"><a tabindex='0' role='button' data-placement='right' data-toggle='popover' data-trigger='focus' title='原值' data-content='{$Info.zc_yz}'>{$Info.zc_jz}</a></td>
                                <!--<td nowrap>{$Info.zc_sfzjbz}</td>
                                <td nowrap>{$Info.zc_zjnxlx}</td>
                                <td nowrap>{$Info.zc_ljzj}</td>
                                <td nowrap>{$Info.zc_bqzj}</td>-->
                                <td nowrap>{$Info.zc_gjrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_rzrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qyrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qdfs}</td>
                                <td nowrap>{$Info.zc_ccsybm}</td>
                                <td nowrap>{$Info.zc_sfxz}</td>
                                <!--<td nowrap>{$Info.zc_ccglbm}</td>-->
                                <!--<td nowrap>{$Info.zc_txm}</td>-->
                                <td nowrap>{$Info.zc_zrr}</td>
                                <!--<td nowrap>{$Info.zc_pfdh}</td>-->
                                <td nowrap><a tabindex='0' role='button' data-placement='left' data-toggle='popover' data-trigger='focus' title='卡片说明' data-content='{$Info.zc_kpsm}'><span class='glyphicon glyphicon-folder-open'></span></a></td>
                                <!--<td nowrap>{$Info.zc_czrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_czlx}</td>
                                <td nowrap>{$Info.zc_czyy}</td>-->
                                <!--<td nowrap>
                                    <include file="manage/ZcManage/sb_zt" />
                                </td>-->
                                <td nowrap><a href="#" title="解除分配" onclick="jcsb({$Info.id},'qtzc_tb')"><span class="glyphicon glyphicon-minus"></span></a></td>
                                <script>
                                    $(function () {
                                        $('[data-toggle="popover"]').popover({
                                            html:true,
                                        })
                                    })
                                </script>
                            </tr>
                        </foreach>
                    </table>
                    <!--表格结束-->
                </div>
            </div>
        </div>
        </div>
    </div>
</block>
