<div id=layout-title>
<?php
$user_info=$_COOKIE['user_info'];
$globar_user=unserialize($user_info);
?>
<php> if($globar_user):</php>
    欢迎：{$globar_user:user_name}来到中国公路学会--中国公路科技成果转化平台
    <a href="/index.php/home/Quser/user_cent" style="color:#ffffff">用户中心</a> |
    <a href="/index.php/home/Quser/user_cent" style="color:#ffffff">消息
    <foreach name='Ywxxdata' item='Info' >
        <?php
       $num=" <span style='color:#ff0000;'>";
        $num.=$Info['num'];
        $num.="</span>";
        echo $num;
        ?>
    </foreach></a> | <a href="?do=logout" style="color:#ffffff">注销</a>

<php> else:</php>
    中国公路学会--中国公路科技成果转化平台
    <a href="/?a=user_login&c=Quser" style="color:#ffffff">登录</a>
    <a href="/index.php/home/Quser/user_reg" style="color:#ffffff">注册</a>
<php> endif;</php>
</div>

