<extend name="manage/index/base_user" title="调配信息管理"/>
<block name="customer">

    <script type="text/javascript">
        //checkbox 全选/取消全选
        var isCheckAll = false;
        function DzsbCheck() {
            if (isCheckAll) {
                $("input[name='Dzsb_id']").each(function() {
                    this.checked = false;
                });
                isCheckAll = false;
            } else {
                $("input[name='Dzsb_id']").each(function() {
                    this.checked = true;
                });
                isCheckAll = true;
            }
        }
    </script>
    <script type="text/javascript">
        //checkbox 全选/取消全选
        var dqisCheckAll = false;
        function DqsbCheck() {
            if (dqisCheckAll) {
                $("input[name='Dqsb_id']").each(function() {
                    this.checked = false;
                });
                dqisCheckAll = false;
            } else {
                $("input[name='Dqsb_id']").each(function() {
                    this.checked = true;
                });
                dqisCheckAll = true;
            }
        }
    </script>
    <script type="text/javascript">
        //checkbox 全选/取消全选
        var qtisCheckAll = false;
        function QtsbCheck() {
            if (qtisCheckAll) {
                $("input[name='Qtsb_id']").each(function() {
                    this.checked = false;
                });
                qtisCheckAll = false;
            } else {
                $("input[name='Qtsb_id']").each(function() {
                    this.checked = true;
                });
                qtisCheckAll = true;
            }
        }
        function ZrrSelect() {
            var v=$("#comp_ok").find("option:selected").val();
            var t=$("#comp_ok").find("option:selected").text();
            $("#xcomp").val(t);
            var url = "?id=" + v;
            var zc_rjlx = $("#zc_rjlx");
            $.getJSON(url,function (data) {
                if (data==""){
                    //alert('该分类下未维护二级分类，请联系管理进行维护!');
                    //("#zc_rjlx").prop("disabled", true);
                    zc_rjlx.find("option").remove();
                    var tempOption = document.createElement("option");
                    tempOption.value = '';
                    tempOption.innerHTML  = '请选择';
                    zc_rjlx.append(tempOption);
                    zc_rjlx.prop("disabled", true);
                }
                else{
                    //遍历回传到的Json数据，取出二级分类信息
                    zc_rjlx.find("option").remove();
                    /*tempOption.value = '';
                    tempOption.innerHTML  = '请选择';
                    zc_rjlx.append(tempOption);*/
                    $.each(data,function (i,value) {
                        var tempOption = document.createElement("option");
                        tempOption.value = value.ry_xm;
                        tempOption.innerHTML  = value.ry_xm;
                        zc_rjlx.append(tempOption);
                    })
                }
                })
        }
        function Submit() {
            $("#dpfrom").submit();
        }
    </script>

    <script type="text/javascript">
        function Search() {
            $("#tijiao").show();
        }
        function subsb(zc_id,zc_mc,zc_bh,zc_lx,zc_zrr) {
            $("#sbxx_ok").val(zc_mc+'('+zc_bh+')');
            $("#sblx").val(zc_lx);
            $("#sbid").val(zc_id);
            $("#sbbh").val(zc_bh);
            $("#sbmc").val(zc_mc);
            $("#yzrr").val(zc_zrr);
        }
        function Searchfrom() {
            $("#Searchfrom").submit();
        }
    </script>
    <?php
$user_info=$_COOKIE['user_info'];
$globar_user=unserialize($user_info);
?>
    <div class="modal fade" id="form-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form class="navbar-form" id="dpfrom" action="/Home/DpManage/DpSubmit" method="post" data-validator-option="{stopOnError:false, timely:2, theme:'yellow_top',timely:1}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        调配管理
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-inline" >
                        <label>选择使用部门：</label>
                        <select name="comp_ok" id="comp_ok" class="form-control" onchange="ZrrSelect()" data-rule="required">
                            <option value="">请选择</option>
                            <foreach name='CompInfo' item='Info' >
                                <option value="{$Info.id}">{$Info.cglx_mc}</option>
                            </foreach>
                        </select>&nbsp;
                        <label>责 任 &nbsp;人：</label>
                        <select class="form-control" name="zc_rjlx" id="zc_rjlx" data-rule="required">
                            <option value="">请选择</option>
                        </select>
                        <input name="sblx" id="sblx" type="hidden" value=""/>
                        <input name="sbid" id="sbid" type="hidden" value=""/>
                        <input name="sbbh" id="sbbh" type="hidden" value=""/>
                        <input name="sbmc" id="sbmc" type="hidden" value=""/>
                        <input name="ywlx" id="ywlx" type="hidden" value="调配管理"/>
                        <input name="czr" id="czr" type="hidden" value="{$globar_user:user_name}"/>
                        <input name="ycomp" id="ycomp" type="hidden" value="{$keyword}"/>
                        <input name="yzrr" id="yzrr" type="hidden" value=""/>
                        <input name="xcomp" id="xcomp" type="hidden" value=""/>
                        <!--<input name="mbzrr" id="mbzrr" type="text" value=""/>-->
                    </div>
                    <div class="form-group form-inline" style="margin-top: 5px">
                        <label>设备信息：</label>
                        <input type="text" name="sbxx_ok" id="sbxx_ok" value="" class="form-control" style="width: 350px" disabled>

                    </div>
                    <div class="form-group form-inline" >

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" onclick="Submit()" class="btn btn-success">进行调配</button>
                </div>
            </div>

        </div>
        </form>
    </div>

    <div class="col-md-12" >

        <form class="navbar-form" method="post" onchange="Searchfrom()" id="Searchfrom" data-validator-option="{stopOnError:false, timely:2, theme:'yellow_right',timely:1}">
            <div class="form-group form-inline" >
                <label>选择部门：</label>
                <select name="comp" id="comp" class="form-control">
                    <option value="">请选择</option>
                    <option value="1" <php>if ($comp==1) :</php>selected<php>endif ;</php>>待分配资产</option>
                    <foreach name='CompInfo' item='Info' >
                        <option value="{$Info.cglx_mc}" <php>if ($comp==$Info['cglx_mc']) :</php>selected<php>endif ;</php>>{$Info.cglx_mc}</option>
                    </foreach>
                </select>
                <!--<button class="btn btn-success" type="submit" >搜索</button>-->
                <input type="text" class="form-control" placeholder="设备信息搜索......" name="keyword" value="{$keyword}">

                    <button class="btn btn-default" type="submit">搜索</button>
            </div>
        </form>
        <hr />
        <div class="tabbable" id="tabs-823527">
            <ul class="nav nav-tabs active">
                <li class="active">
                    <a href="#panel-1" data-toggle="tab">电子设备</a>
                </li>
                <li >
                    <a href="#panel-2" data-toggle="tab">机械器具</a>
                </li>
                <!--<li >
                    <a href="#panel-3" data-toggle="tab">房产</a>
                </li>-->
                <li >
                    <a href="#panel-4" data-toggle="tab">运输工具</a>
                </li>
                <li >
                    <a href="#panel-5" data-toggle="tab">其他</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="panel-1">
                    <!--表格开始-->
                    <table class="table table-hover table-bordered table-condensed table-responsive table-striped" style="font-size: 12px">
                        <tr style="background: #8bc5eb; color: #ffffff">
                            <th nowrap style="text-align: center">序号</th>

                            <!--<th nowrap>生产日期</th>-->
                            <!--<th nowrap>生产厂家</th>
                            <th nowrap>出厂产品编号</th>
                            <th nowrap>用途</th>-->
                            <th nowrap>资产编号</th>
                            <!--<th nowrap>资产类型</th>-->
                            <!--<th nowrap>资产二级分类</th>-->
                            <th nowrap>资产名称(计量单位)</th>
                            <th nowrap>品牌</th>
                            <th nowrap>型号</th>
                            <!--<th nowrap>计量单位</th>-->
                            <!--<th nowrap>原值</th>-->
                            <th nowrap>净值</th>
                            <!--<th nowrap>是否折旧标志</th>
                            <th nowrap>折旧年限类型</th>
                            <th nowrap>累计折旧</th>
                            <th nowrap>本期折旧</th>-->
                            <th nowrap>购建日期</th>
                            <th nowrap>入帐日期</th>
                            <th nowrap>启用日期</th>
                            <th nowrap>取得方式</th>
                            <th nowrap>财产使用部门</th>
                            <th nowrap>是否闲置</th>
                            <!--<th nowrap>财产管理部门</th>-->
                            <!--<th nowrap>条形码</th>-->
                            <th nowrap>责任人</th>
                            <!--<th nowrap>批复单号</th>-->
                            <th nowrap>卡片说明</th>
                            <!--<th nowrap>出帐日期</th>
                            <th nowrap>出帐类型</th>
                            <th nowrap>出帐原因</th>-->
                            <!--<th nowrap>状态</th>-->
                            <th nowrap>调配</th>
                        </tr>
                        <?php $i = 0;?><br/>
                        <foreach name='DzsbInfo' item='Info' >
                            <?php $i++;?>
                            <?php $zc_yzhj+=$Info['zc_yz'];?>
                            <?php $zc_jzhj+=$Info['zc_jz'];?>
                            <tr>
                                <td style="text-align: center">{$i}</td>

                                <!--<td nowrap>{$Info.zc_scrq|strtotime|date="Y-m-d",###}</td>-->
                                <!--<td nowrap>{$Info.zc_sccj}</td>
                                <td nowrap>{$Info.zc_cccpbh}</td>
                                <td nowrap>{$Info.zc_yt}</td>-->
                                <td nowrap>{$Info.zc_bh}</td>
                                <!--<td nowrap>{$Info.zc_lx}</td>-->
                                <!--<td nowrap>{$Info.zc_rjlx}</td>-->
                                <td nowrap>{$Info.zc_mc}({$Info.zc_jldw})</td>
                                <td nowrap>{$Info.zc_pp}</td>
                                <td nowrap>{$Info.zc_xh}</td>
                               <!-- <td nowrap>{$Info.zc_jldw}</td>-->
                                <!--<td nowrap style="text-align: right">{$Info.zc_yz}</td>-->
                                <td nowrap style="text-align: right"><a tabindex='0' role='button' data-placement='right' data-toggle='popover' data-trigger='focus' title='原值' data-content='{$Info.zc_yz}'>{$Info.zc_jz}</a></td>
                                <!--<td nowrap>{$Info.zc_sfzjbz}</td>
                                <td nowrap>{$Info.zc_zjnxlx}</td>
                                <td nowrap>{$Info.zc_ljzj}</td>
                                <td nowrap>{$Info.zc_bqzj}</td>-->
                                <td nowrap>{$Info.zc_gjrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_rzrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qyrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qdfs}</td>
                                <td nowrap>{$Info.zc_ccsybm}</td>
                                <td nowrap>{$Info.zc_sfxz}</td>
                                <!--<td nowrap>{$Info.zc_ccglbm}</td>-->
                                <!--<td nowrap>{$Info.zc_txm}</td>-->
                                <td nowrap>{$Info.zc_zrr}</td>
                                <!--<td nowrap>{$Info.zc_pfdh}</td>-->
                                <td nowrap><a tabindex='0' role='button' data-placement='left' data-toggle='popover' data-trigger='focus' title='卡片说明' data-content='{$Info.zc_kpsm}'><span class='glyphicon glyphicon-folder-open'></span></a></td>
                                <!--<td nowrap>{$Info.zc_czrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_czlx}</td>
                                <td nowrap>{$Info.zc_czyy}</td>-->
                                <!--<td nowrap>
                                    <include file="manage/ZcManage/sb_zt" />
                                </td>-->
                                <td><a href="#form-1" role="button" data-toggle="modal" title="调配至其他部门" onclick="subsb({$Info.id},'{$Info.zc_mc}',{$Info.zc_bh},'dzsb_tb','{$Info.zc_zrr}'),'{$Info.zc_ccsybm}'"><span class="glyphicon glyphicon-random"></span></a> </td>
                            </tr>
                        </foreach>
                    </table>
                    <ul class="pagination">
                        {$Dzpage}
                    </ul>
                    <!--表格结束-->
                </div>
                <div class="tab-pane " id="panel-2">
                    <!--表格开始-->
                    <table class="table table-hover table-bordered table-condensed table-responsive table-striped" style="font-size: 12px">
                        <tr style="background: #8bc5eb; color: #ffffff">
                            <th nowrap style="text-align: center">序号</th>

                            <!--<th nowrap>生产日期</th>-->
                            <!--<th nowrap>生产厂家</th>
                            <th nowrap>出厂产品编号</th>
                            <th nowrap>用途</th>-->
                            <th nowrap>资产编号</th>
                            <!--<th nowrap>资产类型</th>-->
                            <!--<th nowrap>资产二级分类</th>-->
                            <th nowrap>资产名称(计量单位)</th>
                            <th nowrap>品牌</th>
                            <th nowrap>型号</th>
                            <!--<th nowrap>计量单位</th>-->
                            <!--<th nowrap>原值</th>-->
                            <th nowrap>净值</th>
                            <!--<th nowrap>是否折旧标志</th>
                            <th nowrap>折旧年限类型</th>
                            <th nowrap>累计折旧</th>
                            <th nowrap>本期折旧</th>-->
                            <th nowrap>购建日期</th>
                            <th nowrap>入帐日期</th>
                            <th nowrap>启用日期</th>
                            <th nowrap>取得方式</th>
                            <th nowrap>财产使用部门</th>
                            <th nowrap>是否闲置</th>
                            <!--<th nowrap>财产管理部门</th>-->
                            <!--<th nowrap>条形码</th>-->
                            <th nowrap>责任人</th>
                            <!--<th nowrap>批复单号</th>-->
                            <th nowrap>卡片说明</th>
                            <!--<th nowrap>出帐日期</th>
                            <th nowrap>出帐类型</th>
                            <th nowrap>出帐原因</th>-->
                            <th nowrap>调配</th>
                        </tr>
                        <?php $i = 0;?><br/>
                        <foreach name='DqsbInfo' item='Info' >
                            <?php $i++;?>
                            <?php $zc_yzhj+=$Info['zc_yz'];?>
                            <?php $zc_jzhj+=$Info['zc_jz'];?>
                            <tr>
                                <td style="text-align: center">{$i}</td>

                                <!--<td nowrap>{$Info.zc_scrq|strtotime|date="Y-m-d",###}</td>-->
                                <!--<td nowrap>{$Info.zc_sccj}</td>
                                <td nowrap>{$Info.zc_cccpbh}</td>
                                <td nowrap>{$Info.zc_yt}</td>-->
                                <td nowrap>{$Info.zc_bh}</td>
                                <!--<td nowrap>{$Info.zc_lx}</td>-->
                                <!--<td nowrap>{$Info.zc_rjlx}</td>-->
                                <td nowrap>{$Info.zc_mc}({$Info.zc_jldw})</td>
                                <td nowrap>{$Info.zc_pp}</td>
                                <td nowrap>{$Info.zc_xh}</td>
                                <!-- <td nowrap>{$Info.zc_jldw}</td>-->
                                <!--<td nowrap style="text-align: right">{$Info.zc_yz}</td>-->
                                <td nowrap style="text-align: right"><a tabindex='0' role='button' data-placement='right' data-toggle='popover' data-trigger='focus' title='原值' data-content='{$Info.zc_yz}'>{$Info.zc_jz}</a></td>
                                <!--<td nowrap>{$Info.zc_sfzjbz}</td>
                                <td nowrap>{$Info.zc_zjnxlx}</td>
                                <td nowrap>{$Info.zc_ljzj}</td>
                                <td nowrap>{$Info.zc_bqzj}</td>-->
                                <td nowrap>{$Info.zc_gjrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_rzrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qyrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qdfs}</td>
                                <td nowrap>{$Info.zc_ccsybm}</td>
                                <td nowrap>{$Info.zc_sfxz}</td>
                                <!--<td nowrap>{$Info.zc_ccglbm}</td>-->
                                <!--<td nowrap>{$Info.zc_txm}</td>-->
                                <td nowrap>{$Info.zc_zrr}</td>
                                <!--<td nowrap>{$Info.zc_pfdh}</td>-->
                                <td nowrap><a tabindex='0' role='button' data-placement='left' data-toggle='popover' data-trigger='focus' title='卡片说明' data-content='{$Info.zc_kpsm}'><span class='glyphicon glyphicon-folder-open'></span></a></td>
                                <!--<td nowrap>{$Info.zc_czrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_czlx}</td>
                                <td nowrap>{$Info.zc_czyy}</td>-->
                                <!--<td nowrap>
                                    <include file="manage/ZcManage/sb_zt" />
                                </td>-->
                                <td nowrap><a href="#form-1" role="button" data-toggle="modal" title="调配至其他部门" onclick="subsb({$Info.id},'{$Info.zc_mc}',{$Info.zc_bh},'dqsb_tb','{$Info.zc_zrr}','{$Info.zc_ccsybm}')"><span class="glyphicon glyphicon-random"></span></a></td>

                            </tr>
                        </foreach>
                    </table>
                    <!--表格结束-->
                    <ul class="pagination">
                        {$Dqpage}
                    </ul>
                </div>
                <!--<div class="tab-pane " id="panel-3">
                    <p>
                        选项卡三内容
                    </p>
                </div>-->
                <div class="tab-pane " id="panel-4">
                    <table class="table table-hover table-bordered table-condensed table-responsive table-striped" style="font-size: 12px">
                        <tr style="background: #8bc5eb; color: #ffffff">
                            <th nowrap style="text-align: center">序号</th>

                            <!-- <th nowrap>净载重量</th>
                             <th nowrap>底盘品牌</th>
                             <th nowrap>底盘型号</th>
                             <th nowrap>车辆牌照号</th>
                             <th nowrap>车辆座数</th>-->
                            <!--<th nowrap>发动机编号</th>
                            <th nowrap>车架号</th>-->
                            <!--<th nowrap>生产日期</th>
                            <th nowrap>生产厂家</th>
                            <th nowrap>出厂产品编号</th>
                            <th nowrap>车上颜色</th>-->
                           <!-- <th nowrap>排气量</th>
                            <th nowrap>累计行驶公里</th>
                            <th nowrap>吨位</th>-->
                            <!--<th nowrap>机构代码</th>-->
                            <!--<th nowrap>机构名称</th>
                            <th nowrap>机构行政级别</th>
                            <th nowrap>机构行政级别细项</th>-->
                            <th nowrap>资产编号</th>
                            <!--<th nowrap>资产类型</th>
                            <th nowrap>类型ID</th>-->
                            <!--<th nowrap>资产二级分类</th>-->
                            <!--<th nowrap>二级类型ID</th>-->
                            <th nowrap>资产名称</th>
                            <th nowrap>改装车品牌</th>
                            <th nowrap>改装车型号</th>
                            <!--<th nowrap>计量单位</th>-->
                            <!--<th nowrap>原值</th>
                            <th nowrap>单价</th>-->
                            <!--<th nowrap>其中:安装成本</th>-->
                            <th nowrap>净值</th>
                            <!-- <th nowrap>是否折旧标志</th>
                             <th nowrap>折旧年限类型</th>-->
                            <!--<th nowrap>累计折旧</th>
                            <th nowrap>本期折旧</th>-->
                            <th nowrap>购建日期</th>
                            <th nowrap>入帐日期</th>
                            <th nowrap>启用日期</th>
                            <th nowrap>取得方式</th>
                            <th nowrap>财产使用部门</th>
                            <th nowrap>是否闲置</th>
                            <!--<th nowrap>财产管理部门</th>-->
                            <!--<th nowrap>条形码</th>-->
                            <th nowrap>责任人</th>
                            <!-- <th nowrap>批复单号</th>
                            <th nowrap>卡片说明</th>
                           <th nowrap>出帐日期</th>
                            <th nowrap>出帐类型</th>
                            <th nowrap>出帐原因</th>-->
                            <!--<th nowrap>资产登记人</th>-->
                            <!-- <th nowrap>备注</th>-->
                            <!--<th nowrap>状态</th>-->
                            <th nowrap>调配</th>
                        </tr>
                        <?php $i = 0;?><br/>
                        <foreach name='YssbInfo' item='Info' >
                            <?php $i++;?>
                            <tr>
                            <td>{$i}</td>

                            <!--<td nowrap>{$Info.zc_jzzl}</td>
                            <td nowrap>{$Info.zc_dppp}</td>
                            <td nowrap>{$Info.zc_dpxh}</td>
                            <td nowrap>{$Info.zc_clpzh}</td>
                            <td nowrap>{$Info.zc_clzs}</td>-->
                            <!--<td nowrap>{$Info.zc_fdxbh}</td>
                            <td nowrap>{$Info.zc_cjh}</td>-->
                            <!--<td nowrap>{$Info.zc_scrq}</td>
                            <td nowrap>{$Info.zc_sccj}</td>
                            <td nowrap>{$Info.zc_cccpbh}</td>
                            <td nowrap>{$Info.zc_csys}</td>-->
                            <!--<td nowrap>{$Info.zc_pql}</td>
                            <td nowrap>{$Info.zc_ljxsgl}</td>
                            <td nowrap>{$Info.zc_dw}</td>-->
                            <!--<td nowrap>{$Info.zc_jgdm}</td>-->
                            <!--<td nowrap>{$Info.zc_jgmc}</td>
                            <td nowrap>{$Info.zc_jgxzjb}</td>
                            <td nowrap>{$Info.zc_jgxzjbxx}</td>-->
                            <td nowrap>{$Info.zc_bh}</td>
                            <!--<td nowrap>{$Info.zc_lx}</td>
                            <td nowrap>{$Info.zc_lxid}</td>-->
                            <!--<td nowrap>{$Info.zc_rjlx}</td>-->
                            <!--<td nowrap>{$Info.zc_rjlxid}</td>-->
                            <td nowrap>{$Info.zc_mc}</td>
                                <td nowrap><a tabindex='0' role='button' data-placement='right' data-toggle='popover' data-trigger='focus' title='车辆详细信息'
                                              data-content='
                                   发动机编号:{$Info.zc_cjh}<br />
                                   车架号:{$Info.zc_cjh}<br />
                                   排气量:{$Info.zc_pql}<br />
                                   累计行驶公里:{$Info.zc_ljxsgl}<br />
                                   吨位:{$Info.zc_dw}<br />
                                    '>{$Info.zc_gzcpp}</a></td>
                                <td nowrap>{$Info.zc_gzcxh}</td>
                            <!--<td nowrap>{$Info.zc_jldw}</td>-->
                            <!--<td nowrap>{$Info.zc_yz}</td>
                            <td nowrap>{$Info.zc_dj}</td>-->
                            <!--<td nowrap>{$Info.zc_azcb}</td>-->
                            <td nowrap><a tabindex='0' role='button' data-placement='right' data-toggle='popover' data-trigger='focus' title='价值信息'
                                          data-content='
                                   原值:{$Info.zc_yz}<br />
                                   单价:{$Info.zc_dj}<br />
                                    '>{$Info.zc_jz}</a></td>
                            <!--<td nowrap>{$Info.zc_sfzjbz}</td>
                            <td nowrap>{$Info.zc_zjnxlx}</td>-->
                            <!--<td nowrap>{$Info.zc_ljzj}</td>
                            <td nowrap>{$Info.zc_bqzj}</td>-->
                            <td nowrap>{$Info.zc_gjrq|strtotime|date="Y-m-d",###}</td>
                            <td nowrap>{$Info.zc_rzrq|strtotime|date="Y-m-d",###}</td>
                            <td nowrap>{$Info.zc_qyrq|strtotime|date="Y-m-d",###}</td>
                            <td nowrap>{$Info.zc_qdfs}</td>
                            <td nowrap>{$Info.zc_ccsybm}</td>
                            <td nowrap>{$Info.zc_sfxz}</td>
                            <!--<td nowrap>{$Info.zc_ccglbm}</td>-->
                            <!--<td nowrap>{$Info.zc_txm}</td>-->
                            <td nowrap>{$Info.zc_zrr}</td>
                            <!--<td nowrap>{$Info.zc_pfdh}</td>
                            <td nowrap>{$Info.zc_kpsm}</td>-->
                            <!--<td nowrap>{$Info.zc_czrq}</td>
                            <td nowrap>{$Info.zc_czlx}</td>
                            <td nowrap>{$Info.zc_czyy}</td>-->
                            <!--<td nowrap></td>-->
                            <!--<td nowrap>{$Info.zc_bz}</td>-->
                            <!--<td nowrap>
                                <include file="manage/ZcManage/sb_zt" />
                            </td>-->
                                <td><a href="#form-1" role="button" data-toggle="modal" title="调配至其他部门" onclick="subsb({$Info.id},'{$Info.zc_mc}',{$Info.zc_bh},'ysgj_tb','{$Info.zc_zrr}','{$Info.zc_ccsybm}')"><span class="glyphicon glyphicon-random"></span></a></td>

                        </tr>
                        </foreach>
                    </table>
                    <ul class="pagination">
                        {$Yspage}
                    </ul>
                </div>
                <div class="tab-pane " id="panel-5">
                    <!--表格开始-->
                    <table class="table table-hover table-bordered table-condensed table-responsive table-striped" style="font-size: 12px">
                        <tr style="background: #8bc5eb; color: #ffffff">
                            <th nowrap style="text-align: center">序号</th>

                            <!--<th nowrap>生产日期</th>-->
                            <!--<th nowrap>生产厂家</th>
                            <th nowrap>出厂产品编号</th>
                            <th nowrap>用途</th>-->
                            <th nowrap>资产编号</th>
                            <!--<th nowrap>资产类型</th>-->
                            <!--<th nowrap>资产二级分类</th>-->
                            <th nowrap>资产名称(计量单位)</th>
                            <th nowrap>品牌</th>
                            <th nowrap>型号</th>
                            <!--<th nowrap>计量单位</th>-->
                            <!--<th nowrap>原值</th>-->
                            <th nowrap>净值</th>
                            <!--<th nowrap>是否折旧标志</th>
                            <th nowrap>折旧年限类型</th>
                            <th nowrap>累计折旧</th>
                            <th nowrap>本期折旧</th>-->
                            <th nowrap>购建日期</th>
                            <th nowrap>入帐日期</th>
                            <th nowrap>启用日期</th>
                            <th nowrap>取得方式</th>
                            <th nowrap>财产使用部门</th>
                            <th nowrap>是否闲置</th>
                            <!--<th nowrap>财产管理部门</th>-->
                            <!--<th nowrap>条形码</th>-->
                            <th nowrap>责任人</th>
                            <!--<th nowrap>批复单号</th>-->
                            <th nowrap>卡片说明</th>
                            <!--<th nowrap>出帐日期</th>
                            <th nowrap>出帐类型</th>
                            <th nowrap>出帐原因</th>-->
                            <!--<th nowrap>状态</th>-->
                            <th nowrap>调配</th>
                        </tr>
                        <?php $i = 0;?><br/>
                        <foreach name='QtsbInfo' item='Info' >
                            <?php $i++;?>
                            <?php $zc_yzhj+=$Info['zc_yz'];?>
                            <?php $zc_jzhj+=$Info['zc_jz'];?>
                            <tr>
                                <td style="text-align: center">{$i}</td>

                                <!--<td nowrap>{$Info.zc_scrq|strtotime|date="Y-m-d",###}</td>-->
                                <!--<td nowrap>{$Info.zc_sccj}</td>
                                <td nowrap>{$Info.zc_cccpbh}</td>
                                <td nowrap>{$Info.zc_yt}</td>-->
                                <td nowrap>{$Info.zc_bh}</td>
                                <!--<td nowrap>{$Info.zc_lx}</td>-->
                                <!--<td nowrap>{$Info.zc_rjlx}</td>-->
                                <td nowrap>{$Info.zc_mc}({$Info.zc_jldw})</td>
                                <td nowrap>{$Info.zc_pp}</td>
                                <td nowrap>{$Info.zc_xh}</td>
                                <!-- <td nowrap>{$Info.zc_jldw}</td>-->
                                <!--<td nowrap style="text-align: right">{$Info.zc_yz}</td>-->
                                <td nowrap style="text-align: right"><a tabindex='0' role='button' data-placement='right' data-toggle='popover' data-trigger='focus' title='原值' data-content='{$Info.zc_yz}'>{$Info.zc_jz}</a></td>
                                <!--<td nowrap>{$Info.zc_sfzjbz}</td>
                                <td nowrap>{$Info.zc_zjnxlx}</td>
                                <td nowrap>{$Info.zc_ljzj}</td>
                                <td nowrap>{$Info.zc_bqzj}</td>-->
                                <td nowrap>{$Info.zc_gjrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_rzrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qyrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_qdfs}</td>
                                <td nowrap>{$Info.zc_ccsybm}</td>
                                <td nowrap>{$Info.zc_sfxz}</td>
                                <!--<td nowrap>{$Info.zc_ccglbm}</td>-->
                                <!--<td nowrap>{$Info.zc_txm}</td>-->
                                <td nowrap>{$Info.zc_zrr}</td>
                                <!--<td nowrap>{$Info.zc_pfdh}</td>-->
                                <td nowrap><a tabindex='0' role='button' data-placement='left' data-toggle='popover' data-trigger='focus' title='卡片说明' data-content='{$Info.zc_kpsm}'><span class='glyphicon glyphicon-folder-open'></span></a></td>
                                <!--<td nowrap>{$Info.zc_czrq|strtotime|date="Y-m-d",###}</td>
                                <td nowrap>{$Info.zc_czlx}</td>
                                <td nowrap>{$Info.zc_czyy}</td>-->
                                <!--<td nowrap>
                                    <include file="manage/ZcManage/sb_zt" />
                                </td>-->
                                <td><a href="#form-1" role="button" data-toggle="modal" title="调配至其他部门" onclick="subsb({$Info.id},'{$Info.zc_mc}',{$Info.zc_bh},'qtzc_tb','{$Info.zc_zrr}','{$Info.zc_ccsybm}')"><span class="glyphicon glyphicon-random"></span></a></td>
                                <script>
                                    $(function () {
                                        $('[data-toggle="popover"]').popover({
                                            html:true,
                                        })
                                    })
                                </script>
                            </tr>
                        </foreach>
                    </table>
                    <!--表格结束-->
                    <ul class="pagination">
                        {$Qtpage}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</block>