<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<link rel="stylesheet" href="../../../../../Public/glxh/css/base.css" />
		<link rel="stylesheet" href="../../../../../Public/glxh/css/css.css">

	</head>
	<body>
		<!--头部-->
    <iframe src="header.html" name="boot" frameborder=0 scrolling="no" width="100%" height="159px"></iframe>

		<p>&nbsp;</p>
		<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
		<p>&nbsp;</p><p>&nbsp;</p>
		<font color="#0086E9" style="font-size: 18px;"><a href="/">系统正在建设中,敬请期待。</a></font>
	
			  <!--底部引用-->
    <iframe src="search/boot.html" name="boot" frameborder=0 scrolling="no" width="100%" height="350px"></iframe>
</div>
			
	</body>
</html>
