<extend name="glxh/index/base_top"  title="新闻信息详细页面"/>
<block name="customer">
    <style>
        p{
            text-indent:2em;    /*每个P段落，首行空出两个空格，即缩进两个字符*/
        }
    </style>
    <foreach name="meta_data" item="M_dat" >
    <ul class="breadcrumb" style="text-align: left;padding-left: 100px;background: #ffffff;">
			<span class="glyphicon glyphicon-th-list"></span>
             <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="#">法律声明</a>
            </li>

        </ul>
    
<div style="width: 90%;margin: 0 auto;line-height: 30px">
    <div class="col-md-12 column">
    <div class="articleContent" style="text-align: center">
        <h2 class="title">
            法律申明
        </h2>
        <hr/>
        <div id="contentTxt" style="font-size: 14px">
            <p>
                本网站资料、信息及其他内容由中国公路学会科技成果转化中心（以下称“科技成果转化中心”）提供。请您于使用本网站前仔细阅读以下条款，如果您不认可本法律声明，请勿继续使用本网站。一旦您继续使用本网站，科技成果转化中心视为您已阅读、理解并同意接受本声明条款内容。若使用本网站，不得将本网站所提供的任何信息及内容用于任何不合法的目的，或以任何不符合下述条款的方式使用该等信息。科技成果转化中心拥有对本声明的修改权和最终解释权。<br />
                <b>权利声明</b><br />
            </p>
                <p>本网站的所有内容资料的所有权均由科技成果转化中心享有并保留，包括但不限于文字、信息、图形、图案、图像、版面设计、声音、商号、商标、域名、流程、程序；同时，该等内容资料均受著作权法等其他有关法律、法规、规范性法律文件及相关国际条约的保护。未经科技成果转化中心书面同意，您不得擅自复制、传播、出版、转帖、改编或以其他方式发表或使用。对上述权利的侵犯，有可能导致您承担相应法律责任。<br /></p>
                <p>本网站包含部分由其它组织、团体或商业机构提供的文字内容，这些内容的版权属于相应的提供者。本网站摘录或转载这些内容时均依照法律规定使用或获得版权持有人的许可。如果您要使用本网站包含的由其它组织、团体或商业机构提供的内容，请直接与适当的版权持有人联系，与之相关的任何事务以及法律责任均与本网站无关。<br />
                <b>免责声明</b>
                </p>
                <p>科技成果转化中心不对本网站所提供的内容的准确性、及时性、有效性、可用性、稳定性提供明示或默示的保证；不对网站服务器及网络的稳定性作保证，不对本网站在任何时候均可供您浏览、阅读和使用作保证；科技成果转化中心可根据情势变化随时对本网站的内容进行更改。</p>
                <p>通过本网站所作的超级链接的其他网站并不在本网站的控制范围内，通过本网站的超级链接浏览其他网站将被认为未浏览本网站，对从该等网站收到的网络信息科技成果转化中心不承担责任。<br />
                <b>超级链接</b></p>
                <p>未经科技成果转化中心的书面同意或许可，任何公司或个人不得在其网站建立与本网站全部或部分网页内容的超级链接。<br />
                <b>法律适用</b></p>
                <p>由于本网站的内容所导致的一切争议或诉讼均适用中华人民共和国法律（不含香港、澳门、台湾地区的法律）。<br />
                <b>争议解决</b></p>
                <p>因本网站发生的争议，您可提交科技成果转化中心所在地法院管辖。</p>


            </p>
        </div>
    </div>

</div>
    </div>

    <div style="width: 100%;word-wrap: break-word; word-break: normal;clear:both;float:none;"></div>
    <div class="clear"></div>
</block>