<!--header start-->
<div class="container">
    <div class="header">
        <div class="am-g">
            <div class="am-u-lg-2 am-u-sm-12">
                <div class="logo">
                    <a href=""><img src="{$logo}" alt="{$sys_title}" style="width: 40px"/></a>
                </div>
            </div>
            <div class="am-u-md-10">
                <div class="header-right am-fr">
                    <div class="header-contact">
                        <div class="header_contacts--item">
                            <div class="contact_mini">
                                <i style="color:#7c6aa6" class="contact-icon am-icon-phone"></i>
                                <strong>{$tel}</strong>
                                <span>周一~周五, 09:00 - 18:00</span>
                            </div>
                        </div>
                        <div class="header_contacts--item">
                            <div class="contact_mini">
                                <i style="color:#7c6aa6" class="contact-icon am-icon-envelope-o"></i>
                                <strong>{$email}</strong>
                                <span>随时欢迎您的来信！</span>
                            </div>
                        </div>
                        <div class="header_contacts--item">
                            <div class="contact_mini">
                                <i style="color:#7c6aa6" class="contact-icon am-icon-map-marker"></i>
                                <strong>{$address},</strong>
                                <span>{$addressx}</span>
                            </div>
                        </div>
                    </div>
                    <a href="/home/index/register.html" class="contact-btn">
                        <button type="button" class="am-btn am-btn-secondary am-radius">用户注册</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--header end-->