body {
    min-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1000px;
}
.sd_iuy_xsdx {
    background: #63AFFA;
}

.sd_iuy_xsdfxc {
    height: 185px;
    background: url(../img/top_x.jpg) center center
}

.fdf_xssd_xdsfx {
    width: 346px;
    height: 36px;
    border: 1px solid #EB6100;
    background: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}
.fdf_xssd_xdsfx.av select{
    width: 100%;
}
.df_iuiux {
    height: 100%;
}

.df_iuiux select {
    height: 100%;
    border: 0px;
}

.dfdsf_xsd_xddx {
    width: 240px;
    height: 100%;
    border: 0px;
    border-left: 1px solid #DBDBDB;
}

.h100 {
    height: 100%;
}

.sd_xsdxdf {
    background: #EB6100;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 60px;
    text-align: center;
    line-height: 35px;
}

.b {
    font-weight: 900;
}

.re_xsd_xdx a {
    margin-left: 10px;
}

.ad {
    color: #313131 !important
}

.sd_iuyt_xdx {
    width: 900px;
}

.fds_xsd_xdfx {
    height: 45px;
    line-height: 45px;
    background: #1C93EB;
    width: 135px;
}

.fds_xsd_xdfx i {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.sd_xssd_xdfx a {
    line-height: 45px;
    margin-left: 19.5px;
}

.inde_xsdfx {
    height: 302px;
}

.fullSlide {
    width: 100%;
    position: relative;
    height: 100%;
    background: #000;
    overflow: hidden
}

.fullSlide .bd {
    margin: 0 auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.fullSlide .bd ul {
    width: 100% !important;
}

.fullSlide .bd li a {
    display: block;
    height: 100%;
}

.fullSlide .bd,
.fullSlide .bd ul {
    height: 100%;
}

.fullSlide .bd li {
    width: 100% !important;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.fullSlide .hd {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 15px;
    left: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    _background: #000;
    _filter: alpha(opacity=60);
}

.fullSlide .hd ul {
    text-align: center;
    padding-top: 5px;
}

.fullSlide .hd ul li {
    cursor: pointer;
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 8px;
    margin: 5px;
    position: relative;
    bottom: 5px;
    background: url(../img/xbt.png) -105px -144px;
    overflow: hidden;
    line-height: 9999px;
}

.fullSlide .hd ul .on {
    width: 23px;
    background-position: -62px -147px;
}

.aiiyt_zsd {
    width: 35px;
    height: 35px;
    background-position: -30px -75px;
    cursor: pointer
}

.aiiyt_zsd_b {
    background-position: -95px -75px;
}

.sd_iuyt_xsdx{
    background: rgba(0,0,0,0.5);
    display: inline-block  !important;
    *display: inline  !important;
    *zoom: 1  !important;
    height: 20px;
    padding-left: 8px;
    padding-right: 8px;
}
.sd_iuy_xsdxrx{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

}
.sd_iuy_xs{
    width: 135px;
}
.sd_iuy_xs{
    background: url(../img/tou_bg.png);
    background-size: 100% 100%;
}
.sd_iuy_xs li{
    background: url(../img/tou_bg.png);
    height: 49px;
    background-size: 100% 100%;
    padding: 8px 10px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    border-bottom: 1px solid #8ACFE9

}
.sd_iuy_xs li:hover{
    background: url(../img/tou_bn.png);
    color: #fff
}
.sd_iuy_xsfx{
    width: 140px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 295px;
    background: url(../img/tou_bg.png);
    background-size: 100% 100%;
    padding-left: 15px;
}
.sd_iuy_xsfx .mt10{
    margin-top: 17px !important;
}

.sd_uyuy_xd_left{
    width: 215px;
}
.jsd_ssd_xsr{
    height: 30px;
    background: #F4F4F4;
    border-top: 1px solid #EB6100;
    border-bottom: 1px solid #6A6969;
    padding-left: 15px;


}

.jsd_ssd_xsr span{
    padding: 2px 10px;
    position: relative;
    top: 5px;

    border-bottom: 0px;
    padding-bottom: 5px;
}
.jsd_ssd_xsr span.act{
    border: 1px solid #e0e0e0;
    background: #fff;
}

.ssd_asa{
    width: 29px;
    height: 29px;
    background-position: -165px -123px;
    position: relative;
    top: 2px;
}

.sd_iuiy_xsdx li{
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E7E6E6
}


.jsd_ssd_xsr span.act{
    color: #1D73C3;
}

.qsd_iuy_xsdfx{
    width: 333px;
    margin-left: 20px;
}
.qsd_iuy_xsx{
    padding-left: 10px;
}
.qsd_iuy_xsx li{
    position: relative;
    line-height: 25px;
    padding-left: 10px;
}
.dfd_xssdfxfx{
    position: absolute;
    left: 5px;
    top: -5px;
}
.qsd_iuy_xsx ul .dian{
    width: 270px;
}
.qsd_iuy_xsx.aa ul .dian{
    width: 320px;
}
.dsf_xsd_xfxd{
    position: absolute;
    right: 0px;
    top: 0px;
}
.sd_xiusdx{
    width: 13px;
    color: #EB6100;
    line-height: 1.3;

}

.df_xssde3s{
    width: 350px;
}
.df_xssde3s img{
    float: left;
    margin-left: 13px;
    width: 91px;
    height: 70px;
}
.kjhd_xsdjfx{
    border-bottom: 1px solid #B4B4B4;
}

.sd_iuyt_xsd_xe{
    width: 390px;
}

.sd_uyt_xsdfx{
    width: 115px;
    height: 123px;
    border: 1px solid #E7E7E7;
    position: relative;
    float: left;
    margin-right: 22px;
}
.dsf_xsd_xex{
    width: 35px;
    height: 35px;

}
.sd_iuyt_xerx{
    width: 500px;
}

.df_xsd_xrxex{
    position: absolute;
    width: 100%;
    top: -20px;
}
.dsf_xsd_xxsc{
    border-bottom: 1px solid #B4B4B4
}
.sd_xsd_xrrxrx{
    border-bottom: 1px solid #1D6EBD;
    border-left: 10px solid #2172C1;
}
.sd_iuyt_xerx.aa{
    width: 850px;
}

.sd_iuyt_xerx.aa .sd_uyt_xsdfx{
    width: 187px;
    height: 145px;
}


.sd_iuyt_xerx.aa .dsf_xsd_xex{
    width: auto;
    height: auto;
}
.sd_iuyt_xerx.aa .df_xsd_xrxex{
    top: -25px;
}




.df_xsd_xrxex.ab{
    top: -32px !important;
}

.dd_xsd_xex{
    position: absolute;
    left: 0px;
    font-size: 12px;
    left: -5px;
    top: 5px;
}

.dsf_xsd_xrrx{
    position: relative;
    bottom: 4px;
}
.sd_iuyxex{
    width: 850px;
}
.sd_iuyxex a{
    float: left;
    width: 118px;
    height: 30px;
    border:1px solid #D1D1D1;
    margin-right: 18.5px;
    margin-top: 15px;

}
.sd_iuyxex a img{
    width: 100%;
    height: 100%;
}
.sd_uyt_xsd_xd{
    background: #1C6EBD;
}

.sd_uyt_xsd_xd a{
    color: #fff;
    font-size: 12px;
}
.sd_uyt_xsd_xd a:hover{
    color: #f8f8f8 !important
}
.sd_xsd_xrrxe{
    width: 900px;
    float: left;
}
.sd_uyty_xerx{
    width: 130px;
    background: #ECECEC;
    position: fixed;
    right: 0px;
    top: 300px;
    z-index: 999;
    padding: 10px;
    padding-bottom: 5px;
}
.dsf_xsd_xdrfx{
    cursor: pointer
}
.dsf_xsdf_xdx{
    position: absolute;
    top: -18px;
    width: 100%;
    left: 0px;
}
.we_xsd_xex{
    width: 100%;
    height: 110px;
}
.ssd_xsd_xdrex{
    background: #0086E9;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -30px;
}
.sd_xdfgf_xrx{
    float: left;
    width: 145px;
    text-align: center;
    padding-bottom: 15px;
    color: #a0a0a0;
    font-size: 600;
}

.sd_xdfgf_xrx.act{
    color: #f97b38;
    border-bottom: 1px solid #f97b38;
}

.ssd_xsd_xsdx{
    width: 155px;
    text-align: right;
    font-size: 12px;
    line-height: 30px;
}
.sdf_xssssxs{
    width: 290px;
    height: 30px;
    border: 1px solid #E8E8E8;
}


.q_sd_uyt_xsdfx li{
    margin-top: 10px;
}
label{
    font-weight: 100
}
.ssd_Xsd_xrx{
    margin-right: 5px;
    position: relative;
    top: 5px;
}
.ssd_Xsd_xrx input{
    position: relative;
    top: 2px
}
.sd_iuy_xrxf{
    margin-top: 180px;
    padding-left: 160px;
}
.sd_iuy_xrxf button{
    height: 30px;
}
.sd_iuy_xrxf button.aa{
    width: 72px;
    background: #EEEEEE;
    border: 1px solid #EEEEEE;
    color: #959595
}
.sd_iuy_xrxf button.bb{
    width: 140px;
    background: #0086E9;
    color: #fff;
    border: 1px solid #0086E9;
}

.ssd_xsdf_Xdfrx{
    width: 28px;
    height: 23px;
    background-position: -48px -269px;
    position: absolute;
    left: 10px;
    top: 5px;
}
.ssd_xsddxxdfx{
    display: inline-block  !important;
    *display: inline  !important;
    *zoom: 1  !important;
    width: 104px;
    height: 37px;
    text-align: center;
    border: 1px solid #EBEBEB;
    position: relative;
    line-height: 35px;
    text-indent: 18px;
    color: #0086e9;
    font-size: 16px;
}
.ssd_xsdf_Xdfrx.ab{
    background-position: -109px -267px;
}

.sd_uiuyyt_xsdfxfx{
    width: 1100px;
    padding-top: 27px;
}
.sd_uiuyyt_xsdfxfx a{
    background: #0086E9;
    color: #fff;
    width: 196.5px;
    height: 40px;
    font-size: 16px;
    line-height: 1.6
}

.ssd_Xsd_xdxrx{
    border: 4px solid #DCDCDC;
    width: 830px;
    margin: auto;
    padding: 20px 30px;
}


.wd2{
    width: 1000px;
    margin: auto
}
.ssd_Xsd_xfdfx{
    width: 53px;
    height: 53px;
    background-position: -215px -234px;
}


.q_sd_uyt_xsdfx.ab .ssd_xsd_xsdx{
    width: 130px;
}
.q_sd_uyt_xsdfx.ab .sdf_xssssxs{
    width: 255px;
}
.q_sd_uyt_xsdfx.ab li{
    margin-top: 15px;
}

.sdf_xssssxs.ab{
    width: 82px !important;
}
.asd_xssd_Xdfx{
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #F2F2F2;
}


.sd_xsd_xddfx input{
    position: relative;
    top: 2px;
}


.sdd_xsd_xrx{
    background: #0086E9;
    color: #fff;
    border: 1px solid #0086E9;
    width: 190px;
    height: 34px;

}









.sdd_Xsd_xdrx{
    width: 1070px;
}

.ssd_xsd_xex{
    background: #1C93EB;
    height: 55px;
    line-height: 55px;
}


.fdf_xssd_xdsfx{
    line-height: 1
}

.fdf_xssd_xdsfx.av{
    width: 850px;
    height: 44px;
}




.fdf_xssd_xdsfx.av .df_iuiux{
    width: 140px;
}

.fdf_xssd_xdsfx.av .sd_xsdxdf{
    line-height: 3.3
}
.qssd_Xsd_xrx{
    padding: 20px;
    padding-bottom: 0px;
    border-bottom: 2px solid #0D76CC
}

.dsf_xsd_xd{
    margin-right: 5px;
    padding: 3px 10px;;
}
.dsf_xsd_xd.act{
    border: 1px solid #DCE5F2;
    color: #0086E9
}
.sdf_ssd_xrx a{
    float: left;
    margin-right: 40px;
    margin-top: 8px;
    color: #0086E9;
}

.sdf_xsd_Xex{
    position: absolute;
    right: 20px;
    top: 0px;

}
.sdf_ssd_xrx{
    padding-bottom: 10px;

}

.sd_cdfu_xe{
    border: 1px solid #D1DDEE;
}

.qsd_xsd_xd{
    padding: 3px 10px;
    border: 1px solid #D1DDEE;
    background: #fff;
}

.qsd_xsd_xd.act{
    background: #EB6100;
    color: #fff;

}
.ssd_Xsf_xrx{
    padding: 2px 10px;
    border: 1px solid #D1DDEE;
}
.ssd_Xsf_xrx.act{
    color: #EB6100
}
.dfc_xsd_rrx{
    background: #EBF1FD;
    position: relative;
    right: 20px;
    padding-left: 20px;
    width: 630px;
}
.sds_xsd_xdx{
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #D1DDEE;
}

.sd_xsduy_xsdfx{
    background: #DFEBFE;
    color: #4A6DB0
}

.downs_xsdxd{
    width: 12px;
    height: 15px;
    background-position: -166px -117px;
}



.sd_yuedidx{
    width: 21px;
    height: 17px;
    background-position: -217px -119px;

}
.sd_iuy_xdfr{
    width: 40px;
    height: 5px;
    border: 1px solid #E5E5E5;
}
.ssd_xerxerx{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background: #E6AA20
}



.sd_xsduy_xsdfx.ab{
    background: #fff
}

.sdf_xs_Xgfd{
    width: 160px;
    float: left;
}


.asd_xsd_xderxc a{
    float: left;
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 5px;
}
.sdf_Xsd_Xedrxx{
    border: 1px solid #DFEBFE;
}
.bgls2{
    background: #DFEBFE;
}
.ssdxswexXsd_X{
    width: 100;
    width: 170px;
}
.sd_xdfr_Xex li{
    position: relative;
    line-height: 27px;
    padding-left: 20px;
}
.sd_xdfr_Xex li .fz30{
    position: absolute;
    left: 10px;
    top: -10px;

}
.sdf_xcsd_xrxcx{
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 12px
}
.fdf_xssd_xdsfx.ac{
    width: 520px;
    height: 40px;
}

.fdf_xssd_xdsfx.ac .sd_xsdxdf{
    line-height: 3.2
}
.sdf_xsd_Xdeex a{
    color: #000;
    margin-left: 5px;
}
.sdf_xsd_Xdeex a i{
    color: #0086E9;
    margin-right: 2px;
}
.sdf_xsd_Xdeex{
    padding-bottom: 10px;
    border-bottom: 1px dashed #0086E9;
}

.ssdf_xssdfrxer{
    border-bottom: 2px solid #D7E0F3;
    padding-bottom: 10px;
}
.ssdf_xssdfrxer span{
    padding-bottom: 10px;
    border-bottom: 2px solid #496CB0
}

.sde_xsddde_xde{
    float: left;
    margin-top: 10px;
    margin-right: 15px;
}


.w_xssd_iuty_xs li{
    line-height: 34px;
}














