<extend name="50/index/base" />
<block name="customer">


<script>
   $ (function (){
       var myDate = new Date();
       var h=myDate.getFullYear();
       var m=myDate.getMonth()+1;
       var d=myDate.getDate();
       var dd= h+"-"+m+"-"+d;
       $("#calendar1").val("1112");

    })

</script>

    <div style="width: 90%;margin: 0px auto;">
        <div  class="glyphicon glyphicon-th"> <a href="/">首页</a>--><a href="/index.php/Home/newstest/news_list/">资讯信息管理</a>-->资讯信息</div>
        <br />
        <span class="label label-warning">{$errorInfo}</span>
        <span class="label label-success">{$sussInfo}</span>
        <br />
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-9 column" style="padding-left: 30px">
                    <form method="post"  enctype="multipart/form-data">
                        <div class="form-group">
                            <label>资讯类型</label>
                             <select name="zx_lx" class="selectpicker show-tick form-control" id="zx_lx" >
                                <option value ="">请选择</option>
                                <foreach name="lx_data" item="M_dat" >
                                <option value ="{$M_dat.id}">{$M_dat.infolx_title}</option>
                                    </foreach>
                            </select>

                            <!--<label class="alert" role="alert" for="zx_lx" style="width: 200px;line-height: 20px;height: 20px"></label>!-->
                        </div>
                        <div class="form-inline" style="height: 40px">
                            <label class="form-label">资讯标题<span class="alert" for="info_title" style="font-size: 12px;height: 20px;color: red"></span></label>
                            <input type="text" class="form-control" style="width:35%" for="info_title" name="info_title" id="info_title" placeholder="输入资讯标题">
                            <label>发布日期</label>
                            <input type="text" id="info_date" value="" class="form-control" style="width: 200px" name="info_date" readonly >
                            <script>
                                $("#info_date").datetimepicker({
                                    format: "yyyy-mm-dd",
                                    autoclose: true,
                                    todayBtn: true,
                                    language:"zh-CN",
                                    minView:"month"
                                });
                            </script>
                        </div>
                        <div class="form-group">
                            <label for="basic-url">资讯关键词</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon3">SEO</span>
                                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="info_keywords">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="basic-url">资讯来源</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon4">来源</span>
                                <input type="text" class="form-control" id="basic-url11" aria-describedby="basic-addon3" name="info_laiyuan">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="basic-url">资讯作者</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon99">作者</span>
                                <input type="text" class="form-control" id="basic-url1" aria-describedby="basic-addon3" name="info_user">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="basic-url">新闻附件上传</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon5">新闻附件上传</span>
                                <div id="fileupload">
                                <input type="file" class="form-control" id="basic-url2" aria-describedby="basic-addon3" name="photo1" onchange="addfile()" ><br />
                                </div>
                                <script>
                                    function addfile() {
                                        for(var i = 2; i < 5; i++){
                                            $("#fileupload").append(" <input type='file' class='form-control' id='basic-url2' aria-describedby='basic-addon3' name='photo"+i+"'><br / >");
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                       <!-- <div class="form-group">
                            <label for="basic-url">新闻图片上传</label>
                                <div class="upload-box" style="width: 100%;border: none">
                                    <div class="image-box clear">
                                        <section class="upload-section">
                                            <div class="upload-btn"></div>
                                            <input type="file" name="file" id="upload-input" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple="multiple" />

                                        </section>

                                    </div>

                                </div>
                        </div>-->
                        <div class="form-group">
                            <label for="basic-url">资讯简介</label>
                            <div class="input-group">
                                <span class="input-group-addon" >简述</span>
                                <textarea class="form-control" rows="3" name="info_note"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="basic-url">资讯内容</label>
                            <div id="weditor">
                                <p></p>
                            </div>
                        </div>
                        <input type="hidden" id="text1" name="content" />
                        <button autocomplete="off" class="btn btn-default" id="sub" type="submit">提交</button>
                        <button type="reset" class="btn btn-default">重置</button>
                        <span class="label label-warning" id="errorInfo">{$errorInfo}</span>

                    </form>
                </div>
                <div class="col-md-3 column">
                </div>
            </div>
        </div>

    </div>
    <!--<script src="__PUBLIC__/bs/js/wangEditor.min.js"></script>-->


    <script src="__PUBLIC__/bs/js/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#weditor')
        editor.customConfig.uploadImgShowBase64 = true;   // 使用 base64 保存图片
        var $text1 = $('#text1')
        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $text1.val(html)
        }
        editor.create()
        // 初始化 textarea 的值
        $text1.val(editor.txt.html())
    </script>
    <!--<script src="__PUBLIC__/bs/js/upload.js"></script>
    <script>
        $("#upload-input").ajaxImageUpload({
            url: '/home/test/upload', //上传的服务器地址
            data: { name:'photo' },
            maxNum: 1, //允许上传图片数量
            zoom: true, //允许上传图片点击放大
            allowType: ["gif", "jpeg", "jpg", "bmp",'png'], //允许上传图片的类型
            maxSize :3, //允许上传图片的最大尺寸，单位M
            before: function () {
                //alert('上传前回调函数');
            },
            success:function(data){
                //alert('上传成功,'+data.src);
                $("#photo").val(data.src);
                var dataObj=eval("("+data+")")
                //alert("OK");
                //console.log(data);
            },
            error:function (e) {
                alert('上传失败'+e);
                console.log(e);
            }
        });
    </script>-->
</block>