<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<!--<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>-->
<a href="https://open.weixin.qq.com/connect/qrconnect?appid={$appid}&redirect_uri=http://www.highwaytech.cn/home/test/wxloginretrue&response_type=code&scope=snsapi_login#wechat_redirect">微信登录</a>
<div id="login_container"></div>
<!--<script>
    var obj = new WxLogin({

        id:"login_container",

        appid: "wxddf6d906e5dd86f8",

        scope: "snsapi_base",

        redirect_uri: "http://www.mogujie.com/",

        state: "",


        style: "black",

        href: ""

    });
</script>-->

<script type="text/javascript"  charset="utf-8"
        src="http://connect.qq.com/qc_jssdk.js"
        data-appid="101509471"
        data-redirecturi="http://www.highwaytech.cn/home/qq/loginretrue"
></script>



<span id="qqLoginBtn"></span>
<script type="text/javascript">
    QC.Login({
        btnId:"qqLoginBtn"    //插入按钮的节点id
    });
</script>
</body>
</html>