 <div class="kjtd_from_left"  >创建人： </div>
    <div class="kjtd_from_right" >
        {$InfoData.gl_cjr}</div>
    <div class="kjtd_from_left"  >创建时间： </div>
    <div class="kjtd_from_right" >
        {$InfoData.gl_cjsj}</div>
<div class="kjtd_from_left"  >表单状态： </div>
<div class="kjtd_from_right" >
    <php>if ($InfoData['gl_hdzt']==1):</php><span ><a href="#" data-toggle="modal">等待客服回复</a></span>
    <span class="label label-warning" id="errorInfo">{$errorInfo}</span>
    <span class="label label-success">{$sussInfo}</span>
    <php>endif ;</php>
    <php>if ($InfoData['gl_hdzt']==5):</php>等待补充资料<php> endif;</php>
    <php>if ($InfoData['gl_hdzt']==0):</php><span style="color: red">已退回</span><php> endif;</php>
    <php>if ($InfoData['gl_hdzt']==10):</php><span style="color:green">已通过</span><php> endif;</php>
</div>

<div class="kjtd_from_left"  >历史回复信息： </div>
<div class="kjtd_from_right" >
    <foreach name='HfData' item='HfData' >
        <div style="height: 40px">{$HfData.hf_hfr} 于 {$HfData.hf_sj}, 回复：{$HfData.hf_content}</div>
    </foreach>

</div>
</div>

<div class="kjtd_from_left" style="margin-top: 20px"></div>
<div class="kjtd_from_right" style="margin-top: 20px">
</div>