<extend name="glxh/index/base_user"  title="融资需求"/>
<block name="customer">


    {~$qnavbar=w("Nav/qdef")}

    <div class="sd_uiuyyt_xsdfxfx" style="margin: 0 auto;margin-bottom:20px;">
        <foreach name="qnavbar" item="nav" >
            <a href="{$nav.nav_link}" class="btn" >{$nav.nav_name}</a>
        </foreach>

    </div>

    <form method="post" id="form" enctype="multipart/form-data" data-validator-option="{stopOnError:false, timely:2, theme:'yellow_right',timely:1}">
        <div class="kjtd_kj" style="height: 750px">
            <div class="kjtd_kj_left">
                <div class="user_cnet_kj_menu">
                    {:W('Info/load',array(5))}
                    {:W('Info/load',array(6))}

                </div>
            </div>
            <div class="kjtd_kj_right">
                <div class="kjtd_title">
                    <div class="lan_qukuai" style="padding-left: 20px"><span class="glyphicon glyphicon-cutlery"></span> <b style="margin-left: 10px">科研咨询需求</b> </div>
                    <div class="lan_title"><a href="/" style="color: #957d7d;">返回首页》</a></div>
                </div>
                <br /><br /><br />

                <div id="wizard">
                    <ol>
                        <li>基本信息</li>
                        <li>联系信息</li>

                    </ol>
                    <!--1!-->
                    <div style="height: 480px;">
                        <div class="kjtd_from_left" style="height: 50px">咨询内容：</div>
                        <div class="kjtd_from_right" style="height: 50px">
                            <div style="width: 100%;border: 1px dashed #cccccc">
                                <p style="font-size:13px;line-height: 28px;padding-left: 3px;color: #929292">
                                    <span>
                                        <input type="checkbox"  value="选题策划" style="vertical-align:middle; margin-top:0;" name="gl_zxnr" data-rule="checked"> 选题策划&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="立项咨询" style="vertical-align:middle; margin-top:0;" name="gl_zxnr" > 立项咨询&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="合作单位对接" style="vertical-align:middle; margin-top:0;" name="gl_zxnr" > 合作单位对接&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="专家评审" style="vertical-align:middle; margin-top:0;" name="gl_zxnr" > 专家评审&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="鉴定咨询" style="vertical-align:middle; margin-top:0;" name="gl_zxnr" > 鉴定咨询&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="报奖咨询" style="vertical-align:middle; margin-top:0;" name="gl_zxnr" > 报奖咨询&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="全流程服务" style="vertical-align:middle; margin-top:0;" name="gl_zxnr" > 全流程服务&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="其他" style="vertical-align:middle; margin-top:0;" name="gl_zxnr" > 其他&nbsp;&nbsp;&nbsp;
                                    </span>

                                </p>

                            </div>
                        </div>
                        <div class="kjtd_from_left" style="height: 100px">项目简介：</div>
                        <div class="kjtd_from_right" style="height: 100px">
                            <textarea class="kttd_from_text" name="gl_xmjj" placeholder="工程信息、项目特点" id="gl_xmjj" data-rule="required,length(~500)"></textarea>
                        </div>
                        <div class="kjtd_from_left" style="height: 100px">意向创新点描述：</div>
                        <div class="kjtd_from_right" style="height: 100px">
                            <textarea class="kttd_from_text" name="gl_yxcxdms" id="gl_yxcxdms" data-rule="required,length(~500)"></textarea>
                        </div>
                        <div class="kjtd_from_left">拟参加单位：</div>
                        <div class="kjtd_from_right">
                            <input type="text" name="gl_ncjdw" value="" placeholder="请输入拟参加单位" class="kjtd_from_input" data-rule="required"/>
                        </div>
                        <div class="kjtd_from_left" style="height: 80px">研究领域：</div>
                        <div class="kjtd_from_right" style="height: 80px">
                            <div style="width: 100%;border: 1px dashed #cccccc">

                                <p style="font-size:13px;line-height: 28px;padding-left: 3px;color: #929292">
                                    <span>
                                        <input type="checkbox"  value="道路工程" style="vertical-align:middle; margin-top:0;" name="gl_yjly" data-rule="checked" > 道路工程&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="桥梁工程" style="vertical-align:middle; margin-top:0;" name="gl_yjly" > 桥梁工程&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="隧道工程" style="vertical-align:middle; margin-top:0;" name="gl_yjly" > 隧道工程&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="监测检测" style="vertical-align:middle; margin-top:0;" name="gl_yjly" > 监测检测&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="灾害防护" style="vertical-align:middle; margin-top:0;" name="gl_yjly" > 灾害防护&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="运营管理" style="vertical-align:middle; margin-top:0;" name="gl_yjly" > 运营管理&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="智慧公路" style="vertical-align:middle; margin-top:0;" name="gl_yjly" > 智慧公路&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="环保绿化" style="vertical-align:middle; margin-top:0;" name="gl_yjly" > 环保绿化&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="交安设施" style="vertical-align:middle; margin-top:0;" name="gl_yjly" > 交安设施&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox"  value="其他" style="vertical-align:middle; margin-top:0;" name="gl_yjly" > 其他&nbsp;&nbsp;&nbsp;
                                    </span>

                                </p>

                            </div>
                        </div>
                        <div class="kjtd_from_left">拟立项日期：</div>
                        <div class="kjtd_from_right">
                            <div style="height: 30px">
                                <!--选择日期-->
                                <input type="text" id="gl_nlxrq" value="{$date_show}" readonly class="form-control" style="width: 250px" name="gl_nlxrq" data-rule="拟立项日期:required;date">
                            </div>
                            <script>
                                $("#gl_nlxrq").datetimepicker({
                                    format: "yyyy-mm-dd",
                                    autoclose: true,
                                    todayBtn: true,
                                    language:"zh-CN",
                                    minView:"month"
                                });
                            </script>
                        </div>
                        <div class="kjtd_from_left">计划结题日期：</div>
                        <div class="kjtd_from_right">
                            <div style="height: 30px">
                                <!--选择日期-->
                                <input type="text" id="gl_jhjtrq" value="{$date_show}" readonly class="form-control" style="width: 250px" name="gl_jhjtrq" data-rule="计划结题日期: required;date;match(gt, gl_nlxrq, date)">
                            </div>
                            <script>
                                $("#gl_jhjtrq").datetimepicker({
                                    format: "yyyy-mm-dd",
                                    autoclose: true,
                                    todayBtn: true,
                                    language:"zh-CN",
                                    minView:"month"
                                });
                            </script>
                        </div>
                        <div class="kjtd_from_left" >经费预算：</div>
                        <div class="kjtd_from_right" >
                            <input type="text" placeholder="请输入金额" class="input_je" name="gl_jfys" data-rule="required;integer[+1]; range[~10000]"><font color="#369fd9">万元人民币</font>
                        </div>
                    </div>

                    <!--2-->
                    <div style="height: 350px">
                        <include file="glxh/ywcent/lx_us" />
                        <include file="glxh/ywcent/submit" />
                    </div>
                </div>

            </div>
        </div>
        </div>

    </form>
    <script type="text/javascript">
        $("#wizard").bwizard();
    </script>
</block>