<extend name="glxh/index/base"  title=""/>
<block name="customer">

<div class="sea_Kj"style="margin-top: 20px">

    <div style="width: 80%;height: 3px;background: #e5e5e5;margin-top: 20px;margin: 0 auto;margin-bottom: 5px">

    </div>
    <div style="width: 80%;margin-top: 50px;margin: 0 auto;font-size: 14px;color: #9f9f9f;margin-bottom: 50px">

            <i class="fa fa-home" style=""></i> <a href="/" >首页</a>--><a href="/index.php/Home/Cgsea/cghj" >中国公路学会科学技术奖目录</a> -> {$jlnd}年度

    </div>
    <div style="width: 70%;margin-top: 10px;margin: 0 auto;text-align: center">
        <p style="color: #b24726;font-size: 24px">{$jlnd}年度中国公路学会科学技术奖目录</p>
        <hr style="margin-top: -3px">
        <p style="color: #575757;font-size: 14px;margin-top: -15px">日期：<php>echo date("Y年m月d日");</php> 来源：中国公路学会</php></p>
        <br />
        <span style="text-align: left">{$msg}</span>
        <table style="font-size: 12px;width: 100%;line-height: 25px;border-collapse: collapse;margin-top: 10px;border: 1px solid #000000;color: #000000">

            <tr style="background: #dfebfe;color: #4b6db0;height: 40px;font-size: 14px;border: 1px solid #000000">
                <td style="width: 90px;text-align: center;border: 1px solid #000000">序号</td>
                <td style="border: 1px solid #000000">成果名称</td>
                <td style="border: 1px solid #000000">第一完成单位</td>
                <td style="border: 1px solid #000000;white-space:nowrap;">获奖等级</td>

            </tr>
            <php>if( $count > 0  ):</php>
            <?php $i = 0;?>
            <foreach name="info_data" item="zj" >
                <?php $i++;?>
                <tr style="font-size: 13px;line-height: 35px;border-bottom:1px solid #cccccc;color: #4b6db0;border: 1px solid #000000" >
                    <td style="width: 50px;text-align: center;border: 1px solid #000000">{$zj.cg_xmbh}</td>
                    <td style="border: 1px solid #000000;text-align: left;padding-left: 3px">
                        <php>if ($username!='') :</php>
                        <!--<a href="/home/cgsea/search_dal?id={$zj.id}" target="_blank">{$zj.cg_mc}</a>-->
                        <a href="#" onclick="info()" >{$zj.cg_mc}</a>
                        <php>else :</php>
                        {$zj.cg_mc}
                        <php>endif ;</php>
                    </td>
                    <td style="border: 1px solid #000000;text-align: left;padding-left: 3px">{$zj.cg_sbdw}</td>
                    <td style="border: 1px solid #000000">{$zj.cg_jldj}</td>
                </tr>

            </foreach>
            <php>else:</php>
            <tr style="font-size: 12px">
                <td></td>
                <td><span style="color: red" >“{$keyword}”</span> <br />通过查询，没有信息。</td>
                <td></td>
                <td></td>
            </tr>
            <php> endif;</php>

        </table>
    </div>
    <script>
        function info() {
            alert("暂未开放的权限");
        }
    </script>

</div>
    <div class="clear"></div>
</block>