<extend name="glxh/index/base"  title="成果搜索"/>
<block name="customer">

<div class="sea_Kj">
    <div class="sea_dal_Kj_left">

    </div>

    <!--右框架!-->
    <div class="sea_dal_Kj_right">
        <div class="list-group" style="margin-top: 30px">
            <a href="/" class="list-group-item " style="background: #1C93EB;color: #ffffff">
                <i class="fa fa-home" style=""></i> 首页-->中国公路学会科学技术奖
            </a>
            <a href="/index.php/home/cgsea/glhj_dal/?cg_nd=2016&lx=2" class="list-group-item"  target="_blank">2016年度 </a>
            <a href="/index.php/home/cgsea/glhj_dal/?cg_nd=2015&lx=2" class="list-group-item">2015年度 </a>
            <a href="/index.php/home/cgsea/glhj_dal/?cg_nd=2014&lx=2" class="list-group-item"  target="_blank">2014年度 </a>
            <a href="/index.php/home/cgsea/glhj_dal/?cg_nd=2013&lx=2" class="list-group-item" target="_blank">2013年度 </a>
            <a href="/index.php/home/cgsea/glhj_dal/?cg_nd=2012&lx=2" class="list-group-item"  target="_blank">2012年度 </a>
            <a href="/index.php/home/cgsea/glhj_dal/?cg_nd=2011&lx=2" class="list-group-item" target="_blank">2011年度</a>
        </div>
        </div>


</div>
    <div class="clear"></div>
</block>