<extend name="manage/index/base_user" title="设备信息管理"/>
<block name="customer">
    <div class="col-md-12" style="padding-left: 10px">
        <h4><span class="glyphicon glyphicon-cog" ></span> 维修信息维护</h4>
        <hr />
        <form class="form-horizontal" method="post" enctype="multipart/form-data" data-validator-option="{stopOnError:false, timely:2, theme:'yellow_right',timely:1}">
            <lable class="col-md-2 control-label" style="text-align: right;font-size: 14px">资产类型 : </lable><div class="col-sm-8 input-group input-group-sm" style="padding-left: 15px">
        <span class="input-group-addon" >
            <span class="glyphicon glyphicon-text-color"></span>
        </span>
            <input type="text" class="form-control" name="zc_lx" id="zc_lx" placeholder="请输入资产类型" data-rule="required"/>
        </div><br/><!--END--><lable class="col-md-2 control-label" style="text-align: right;font-size: 14px">资产名称 : </lable><div class="col-sm-8 input-group input-group-sm" style="padding-left: 15px">
        <span class="input-group-addon" >
            <span class="glyphicon glyphicon-text-color"></span>
        </span>
            <input type="text" class="form-control" name="zc_zcmc" id="zc_zcmc" placeholder="请输入资产名称" data-rule="required"/>
        </div><br/><!--END--><lable class="col-md-2 control-label" style="text-align: right;font-size: 14px">计量单位 : </lable><div class="col-sm-8 input-group input-group-sm" style="padding-left: 15px">
        <span class="input-group-addon" >
            <span class="glyphicon glyphicon-text-color"></span>
        </span>
            <input type="text" class="form-control" name="zc_jldw" id="zc_jldw" placeholder="请输入计量单位" data-rule="required"/>
        </div><br/><!--END--><lable class="col-md-2 control-label" style="text-align: right;font-size: 14px">规格型号 : </lable><div class="col-sm-8 input-group input-group-sm" style="padding-left: 15px">
        <span class="input-group-addon" >
            <span class="glyphicon glyphicon-text-color"></span>
        </span>
            <input type="text" class="form-control" name="zc_ggxh" id="zc_ggxh" placeholder="请输入规格型号" data-rule="required"/>
        </div><br/><!--END--><lable class="col-md-2 control-label" style="text-align: right;font-size: 14px">申请维修时间 : </lable><div class="col-sm-8 input-group input-group-sm" style="padding-left: 15px">
            <span class="input-group-addon" ><span class="glyphicon glyphicon-time"></span></span>
            <input type="text" readonly class=" form-control" name="zc_sqwxsj" id="zc_sqwxsj" placeholder="请选择申请维修时间"/>
        </div><br/><script>
            $("#zc_sqwxsj").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                language:"zh-CN",
                minView:"month"
            });
        </script><!--END--><lable class="col-md-2 control-label" style="text-align: right;font-size: 14px">申请处室 : </lable><div class="col-sm-8 input-group input-group-sm" style="padding-left: 15px">
        <span class="input-group-addon" >
            <span class="glyphicon glyphicon-text-color"></span>
        </span>
            <input type="text" class="form-control" name="zc_sqwxbm" id="zc_sqwxbm" placeholder="请输入申请处室" data-rule="required"/>
        </div><br/><!--END--><lable class="col-md-2 control-label" style="text-align: right;font-size: 14px">申请维修理由 : </lable><div class="col-sm-8 input-group input-group-sm" style="padding-left: 15px" >
        <span class="input-group-addon" >
            <span class="glyphicon glyphicon-file"></span>
        </span>
            <textarea class="form-control" style="height: 100px" name="zc_sqly" id="zc_sqly" placeholder="请输入申请维修理由"></textarea>
        </div><br/><!--END--><lable class="col-md-2 control-label" style="text-align: right;font-size: 14px">申请人 : </lable><div class="col-sm-8 input-group input-group-sm" style="padding-left: 15px">
        <span class="input-group-addon" >
            <span class="glyphicon glyphicon-text-color"></span>
        </span>
            <input type="text" class="form-control" name="zc_sqr" id="zc_sqr" placeholder="请输入申请人" data-rule="required"/>
        </div><br/><!--END--><lable class="col-md-2 control-label" style="text-align: right;font-size: 14px">维修时间 : </lable><div class="col-sm-8 input-group input-group-sm" style="padding-left: 15px">
            <span class="input-group-addon" ><span class="glyphicon glyphicon-time"></span></span>
            <input type="text" readonly class=" form-control" name="zc_wxsj" id="zc_wxsj" placeholder="请选择维修时间"/>
        </div><br/><script>
            $("#zc_wxsj").datetimepicker({
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                language:"zh-CN",
                minView:"month"
            });
        </script><!--END--><lable class="col-md-2 control-label" style="text-align: right;font-size: 14px">维修图片 : </lable><div class="col-sm-8 input-group input-group-sm" style="padding-left: 15px" >
            <input type="file" id="exampleInputFile" name="zc_photo" id="zc_photo">
            <p class="help-block">请上传JPG/PNG/GIF格式的图片.</p>
        </div><!--END--><lable class="col-md-2 control-label" style="text-align: right;font-size: 14px">备注 : </lable><div class="col-sm-8 input-group input-group-sm" style="padding-left: 15px" >
        <span class="input-group-addon" >
            <span class="glyphicon glyphicon-file"></span>
        </span>
            <textarea class="form-control" style="height: 100px" name="zc_note" id="zc_note" placeholder="请输入备注"></textarea>
        </div><br/><!--END-->    <br />
            <lable class="col-md-2 control-label" style="text-align: right;font-size: 14px">备注 : </lable>    <div class="col-sm-8 input-group input-group-sm" style="padding-left: 15px" >
            <button type="submit" class="btn btn-success">保存</button>
            <button type="reset" class="btn btn-default">重置</button>
            <span class="label label-warning">{$errorInfo}</span>
            <span class="label label-success">{$sussInfo}</span>
        </div>

        </form>
    </div>
</block>