<extend name="manage/index/base_user" title="维修信息查询"/>

<block name="customer">
    <div class="modal fade" id="spform" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="title">
                        <span id="sbmc"></span> | 审批信息查询
                    </h4>
                </div>
                <div class="modal-body">
                    <table id="spinfo" class="table table-hover table-bordered table-condensed table-responsive table-striped" style="font-size: 12px">


                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="form-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form class="navbar-form" id="dpfrom" action="/Home/WxManage/WxWgQr" method="post" data-validator-option="{stopOnError:false, timely:2, theme:'yellow_right',timely:1}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">
                            维修完工确认
                        </h4>
                        <h5 id="ycinfo" style="color:#ff0000"></h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-inline" style="margin-top: 5px">
                            <label>设备名称：</label>
                            <input type="text" name="sbxx_ok" id="sbxx_ok" value="" class="form-control" style="width: 350px" disabled>
                            <input type="hidden" name="logid" id="logid" />
                            <input type="hidden" name="sbid" id="sbid" />
                            <input type="hidden" name="sblx" id="sblx" />
                            <input type="hidden" name="ywlx" id="ywlx" value="维修审批" />
                            <input name="spzt" id="spzt" type="hidden" value="100" />
                        </div>
                        <div class="form-group form-inline" style="margin-top: 5px">
                            <label>维修理由：</label>
                            <input type="text" name="wxly" id="wxly" value="" class="form-control" style="width: 350px" disabled>
                        </div>
                        <div class="form-group form-inline" style="margin-top: 5px">
                            <label>维修时间：</label>
                            <input type="text" readonly class=" form-control" name="zc_wxsj" id="zc_wxsj" style="width: 350px" placeholder="请选择维修日期" data-rule="required"/>
                            <script>
                                $("#zc_wxsj").datetimepicker({
                                    format: "yyyy-mm-dd",
                                    autoclose: true,
                                    todayBtn: true,
                                    language:"zh-CN",
                                    minView:"month"
                                });
                            </script>
                        </div>
                        <div class="form-group form-inline" style="margin-top: 5px">
                            <label>维修金额: </label>
                            &nbsp;&nbsp;<input type="text" class="form-control" name="zc_wxje" id="zc_wxje" style="width: 350px" placeholder="请输入维修金额" data-rule="required;range[0~1000000]" />
                        </div>
                        <div class="form-group form-inline" style="margin-top: 5px">
                            <label>确 &nbsp;&nbsp;认&nbsp;&nbsp;人 : </label>
                            <input readonly type="text" class="form-control" name="czr" id="czr" style="width: 350px" placeholder="请输入申请人" data-rule="required" value="{$zcusername}"/>
                        </div>
                        <!--<div class="form-group form-inline" style="margin-top: 5px">
                            <label>审批状态：</label>
                            <select class="form-control" name="spzt" id="spzt" onchange="selectzt()">
                                <option value="99">通过</option>
                                <option value="1">驳回</option>
                            </select>
                        </div>
                        <div class="form-group form-inline" style="margin-top: 5px">
                            <label>审批意见：</label>
                            <textarea class="form-control" style="height: 100px;width: 350px" name="sp_yj" id="sp_yj" placeholder="请输入备注">审批通过</textarea>
                        </div>-->
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" onclick="Submit()" class="btn btn-success">提交确认信息</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12 col-xs-12" nowrap>
        <div class="input-group" style="text-align: right">
            <form class="navbar-form navbar-left" method="get">
                <input type="text" class="form-control" placeholder="维修信息搜索......" name="keyword" value="{$keyword}">
                <button class="btn btn-default" type="submit">搜索</button>
            </form>
            <!--<div class="btn-group" style="margin-top: 8px">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list" ></span>功能列表</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">功能列表</span>
                </button>
                <ul class="dropdown-menu">
                    <li >
                        <a href="/Home/WxManage/editor" role="button" data-toggle="modal"  title="新增"><span class="glyphicon glyphicon-cloud-upload"></span> 新增</a>
                    </li>
                    <li >
                        <a href="/home/WxManage/infoExp" role="button" data-toggle="modal"  title="导出信息" target="_blank"><span class="glyphicon glyphicon-cloud-download"></span> 导出信息</a>
                    </li>

                     </ul>
            </div>-->
        </div>

        <div id='div1'>
            <table class="table table-hover table-bordered table-condensed table-responsive table-striped" style="font-size: 12px">
                <tr style="background: #8bc5eb; color: #ffffff">
                    <th nowrap>序号</th>
                    <th nowrap>类型</th>
                    <th nowrap>资产名称</th>
                    <th nowrap>资产编号</th>
                    <th nowrap>申请维修时间</th>
                    <th nowrap>申请处室</th>
                    <th nowrap>申请维修理由</th>
                    <th nowrap>申请人</th>
                    <!--<th nowrap>备注</th>-->
                    <!--<th nowrap>维修时间</th>
                    <th nowrap>维修金额</th>-->
                    <th nowrap>备注信息</th>
                    <th nowrap>状态</th>
                    <!--<th nowrap>提交信息</th>-->
                    <th nowrap>维修金额</th>
                    <th nowrap>维修时间</th>
                </tr>
                <?php $i = 0;?>
                <foreach name='InfoData' item='Info' >
                    <?php $i++;?>
                    <tr>
                        <td>{$i}</td>
                        <td>
                            <?php
                if ($Info['sblx']=='ysgj_tb')
                echo "运输工具";
                elseif ($Info['sblx']=='dqsb_tb')
                echo "机械器具";
                elseif ($Info['sblx']=='dzsb_tb')
                echo "电子设备";
                elseif ($Info['sblx']=='qtzc_tb')
                echo "其他设备";
                elseif ($Info['sblx']=='fwkp_tb')
                echo "房屋";
                ?>
                        </td>
                        <td>{$Info.sbmc}</td>
                        <td>{$Info.sbbh}</td>
                        <td>{$Info.zc_sqwxsj|strtotime|date="Y-m-d",###}</td>
                        <td>{$Info.zc_sqwxbm}</td>
                        <td><a tabindex='0' role='button' data-placement='left' data-toggle='popover' data-trigger='focus' title='维修申请理由' data-content='{$Info.zc_sqly}'><span class='glyphicon glyphicon-folder-open'></span></a>
                        </td>
                        <td>{$Info.zc_sqr}</td>
                        <td><a tabindex='0' role='button' data-placement='left' data-toggle='popover' data-trigger='focus' title='备注信息' data-content='{$Info.zc_note}'><span class='glyphicon glyphicon-folder-open'></span></a></td>

                        <!--<td>{$Info.zc_wxsj|strtotime|date="Y-m-d",###}</td>
                        <td>{$Info.zc_fsje}</td>-->
                        <td><a href="#spform" role="button" data-toggle="modal" title="审批过程记录查询" onclick="spview({$Info.id},'{$Info.sbmc}')"><if condition="$Info.spzt eq 100">已完工确认</if></a></td>
                        <td style="text-align: right">￥{$Info.zc_fsje}.00</td>
                        <td>{$Info.zc_wxsj|strtotime|date="Y-m-d",###}</td>
                        <!--
                                        <td><a tabindex='0' role='button' data-placement='left' data-toggle='popover' data-trigger='focus' title='备注信息' data-content='{$Info.cznr}'><span class='glyphicon glyphicon-folder-open'></span></a></td>
                        -->
                        <!--<td><a href="#form-1" role="button" data-toggle="modal" title="维修审批" onclick="spsub({$Info.id},'{$Info.sbmc}','{$Info.zc_sqly}',{$Info.sbid},'{$Info.sblx}')"><span class="glyphicon glyphicon-cog"></span></a>&nbsp;
                        </td>-->
                    </tr>
                </foreach>
            </table>
            <script>
                $(function () {
                    $('[data-toggle="popover"]').popover()
                })
                function spsub(id,sbmc,wxly,sbid,sblx) {
                    //alert(sblx);
                    $("#logid").val(id);
                    $("#sbxx_ok").val(sbmc);
                    $("#wxly").val(wxly);
                    $("#sbid").val(sbid);
                    $("#sblx").val(sblx);

                }
                function selectzt() {
                    var zt=$("#zt").val();
                    if (zt==1){
                        $("#zc_note").val("审批驳回");
                    }else{
                        $("#zc_note").val("审批通过");
                    }
                }
                function Submit() {
                    $("#dpfrom").submit();
                }
                function spview(id,sbmc) {
                    $("#sbmc").html(sbmc);
                    var url="/home/ZcManage/GetZcSpInfo?log_id="+id;
                    $("#spinfo").html("");
                    $("#spinfo").html("<tr style=\"background: #8bc5eb; color: #ffffff\">\n" +
                        "                            <th>提交人</th>\n" +
                        "                            <th>提交时间</th>\n" +
                        "                            <th>状态</th>\n" +
                        "                            <th>信息</th>\n" +
                        "\n" +
                        "                        </tr>");
                    /*$("#spinfo").append("<tr id='load'><td colspan='4'>数据正在加载中，请稍候...</td></tr>");*/
                    $.getJSON(url,function (data) {
                        $("#spinfo").parent('tr').remove();
                        $.each(data,function (i,value) {
                            if (value.sp_zt==100){
                                var sp_zt="已完工确认";
                            }else if (value.sp_zt==99){
                                var sp_zt="审批通过，维修中";
                            }else if (value.sp_zt==2){
                                var sp_zt="提交维修审批，审批中";
                            }
                            var tr="<tr>" +
                                "<td>"+value.sp_tjr+"</td>" +
                                "<td>"+value.sp_sj+"</td>" +
                                "<td>"+sp_zt+"</td>" +
                                "<td>"+value.sp_yj+"</td>" +
                                "</tr>";
                            $("#spinfo").append(tr);
                        })
                    })
                }
            </script>
        </div>
        <ul class="pagination">
            {$pagebar}
        </ul>
    </div>
</block>