*{margin:0;padding:0;}
			body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "苹果丽黑", "STXihei", "华文细黑", San-serif;
}
.navbar_bg{
  background-color: rgba(0,0,0,0.7);/* IE9、标准浏览器、IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂 */
 	width: 100%;
	height: 100px;
	line-height: 100px;
	z-index: 10;

}
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */}
.navbar_bg{
	width: 100%;
	height: 100px;
	line-height: 100px;
	background-color:#000000;
    filter:Alpha(opacity=70);opacity:0.7;-moz-opacity:0.7;
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
   	z-index: 20;
	}
.nav_logo{
	width: 1300px;
	margin: 0 auto;
	height: 60px;
	/*border: 1px solid #000000;*/
	z-index: 30;
}

