<extend name="glxh/index/base_top"  title="新闻列表信息"/>
<block name="customer">
    <div class="sea_Kj">
        <div class="col-md-12 column" style="text-align: left">
            <div class="row clearfix">
                <br />
                <h4>政策解读</h4>
                {:W('Info/load',array(16))}
                <h4>通知公告</h4>
                {:W('Info/load',array(17))}
                <div class="col-md-3 column">
                </div>
                </div>
        </div>
        </div>
    <div class="clear"></div>
</block>