<extend name="WebApps/index/base" />
<block name="customer">
    <script type="text/javascript" src="__PUBLIC__/bs/js/jquery.table2excel.min.js" ></script>
    <!--Model表单开始-->
    <div class="modal fade" id="form-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form role="form" method="post" action="/restful/ContractInfo" enctype="multipart/form-data" data-validator-option="{stopOnError:false, timely:2, theme:'yellow_top',timely:1}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">
                            合同信息增加
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>合同名称</label>
                            <input type="text" class="form-control" name="cont_name" id="cont_name" placeholder="请输入合同名称" data-rule="required" />
                        </div>
                        <div class="form-group">
                            <label>合同编号</label>
                            <input type="text" class="form-control" name="cont_no" id="cont_no" placeholder="请输入合同编号" data-rule="required" />
                        </div>
                        <div class="form-group">
                            <label>合同甲方</label>
                            <input type="text" class="form-control" name="cont_first" id="cont_first" placeholder="请输入合同甲方" data-rule="required" />
                        </div>
                        <div class="form-group">
                            <label>合同乙方</label>
                            <input type="text" class="form-control" name="cont_partyb" id="cont_partyb" placeholder="请输入合同乙方" data-rule="required" />
                        </div>
                        <div class="form-group">
                            <label>合同金额</label>
                            <input type="text" class="form-control" name="cont_money" id="cont_money" placeholder="请输入合同金额" data-rule="required" />
                        </div>
                        <div class="form-group">
                            <label>签署日期</label>
                            <input type="text" readonly class=" form-control" name="cont_date" id="cont_date" placeholder="请选择签署时间"/>
                        </div>
                        <script>
                        $("#cont_date").datetimepicker({
                            format: "yyyy-mm-dd",
                            autoclose: true,
                            todayBtn: true,
                            language:"zh-CN",
                            minView:"month"
                        });
                        </script>
                        <div class="form-group">
                            <label>付款方式</label>
                            <input type="text" class="form-control" name="cont_method" id="cont_method" placeholder="请输入付款方式" data-rule="required" />
                        </div>
                        <div class="form-group">
                            <label>合同状态</label>
                            <select class="form-control" name="cont_state" id="cont_state">
                                <option value="1">已签署</option>
                                <option value="2">执行中</option>
                                <option value="7">冻结</option>
                                <option value="10">结束</option>
                                <option value="100">完成</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>合同附件</label>
                            <input type="file" class="form-control" name="cont_file" id="cont_file" placeholder="合同附件" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid" style="margin-top: 60px">
        <ul class="breadcrumb">
            <li>
                <a href="/">管理系统首页</a>
            </li>

            <li class="active">
                <a href="#">合同信息管理</a>
            </li>

        </ul>
        <div id="toolbar">
            <div class="btn-group">

                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list" ></span> 功能列表</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">功能列表</span>
                </button>
                <ul class="dropdown-menu" style="margin-top: -8px">
                    <li >
                        <a href="#form-1" data-toggle="modal"><span class="glyphicon glyphicon-cloud-upload"></span> 新增</a>
                    </li>
                    <li >
                        <a href="#" role="button" data-toggle="modal" onclick="expinfo()"  title="导出结果"><span class="glyphicon glyphicon-download"></span> 导出结果</a>
                    </li>
                </ul>
            </div>

        </div>
        <table id="exp" style="font-size: 12px" class="table table-condensed table-responsive"
               data-classes="table table-hover"
               data-show-columns="true"
               data-height="600"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-toolbar="#toolbar"
        ></table>
        <script>
            $('#exp').bootstrapTable({
                columns: [{
                    checkbox: true
                },
                    {field: 'id', title: '序号.', formatter: function (value, row, index) {
                            //return index + 1;
                            return (index+1);
                        },
                        width:50,
                        align: 'center'
                    },
                    {field: 'cont_name', title: "合同名称",class: 'editinfo', align: 'left'},
                    {field:'cont_no',title:'合同编号',align:'left'},
                    {field:'cont_money',title:'合同金额',align:'right'},
                    {field:'cont_first',title:'甲方',align:'left'},
                    {field: 'cont_partyb', title: '乙方',align: 'left'},
                    {field: 'cont_date', title: '签署日期',align: 'left',formatter:function (value) {
                            return value;
                        }},
                    {field: 'cont_method', title: '付款方式',align: 'right'},
                    {field: 'cont_state', title: '合同状态',align: 'right',formatter:function (value) {
                        switch (value) {
                            case '1':
                                return '<span class="label label-success">已签署</span>';
                                break;
                            case '2':
                                return '<span class="label label-primary">执行中</span>';
                                break;
                            case '7':
                                return '<span class="label label-danger">冻结</span>';
                                break;
                            case '100':
                                return '<span class="label label-warning">完成</span>';
                                break;
                            case '10':
                                return '<span class="label label-default">结束</span>';
                                break;
                            default:
                                return '<span class="label label-danger">状态信息错误</span>';
                        }

                        }},
                    {field: 'cont_file', title: '合同附件',align: 'right',formatter:function (value) {
                            if (!value){
                                return '没有附件';
                            }else{
                                return '<a href="/'+value+'">附件下载</a>';
                            }
                        }},
                    {field: 'id', title: '功能操作', formatter: function (value,row) {
                            //return index + 1;
                            return '<select onchange="stateedit()" >' +
                                '<option value="">请选择目标状态</option>' +
                                '<option value="'+value+',2">执行中</option>' +
                                '<option value="7">冻结</option>' +
                                '<option value="100">完成</option>' +
                                '<option value="10">结束</option>' +
                                '</select>';
                        },
                        //width:150,
                        align: 'left'
                    },
                ],


                url:'/restful/ContractInfo', //请求地址
                method: 'get', //请求方式
                datatype:'json', //返回数据格式
                //striped: true,       //是否显示行间隔色
                height:760,//高度调整
                undefinedText:'--', //数据为空时的显示内容
                /*工具栏处理*/
                toolbar: '#toolbar',//指定工具栏
                toolbarAlign:'left', //工具样位置
                striped: true, //是否显示行间隔色
                //earchText:'请输入搜索内容', //搜索默认文字


                /*分页处理*/
                dataField: "data", //读取后端给出的JSON中的数据记录集合，必须与后端保证一致
                pageNumber: 1, //初始化加载第一页，默认第一页
                pagination:true,//是否分页
                //clickToSelect: true, //
                queryParamsType:'limit',//查询参数组织方式
                //contentType: "application/x-www-form-urlencoded",//发送到服务器的数据编码类型
                sidePagination:'server',//指定服务器端分页
                pageSize:50,//单页记录数
                pageList:[25,50,100,500,'All'],//分页步进值
                data_local: "zh-US",//表格汉化
                showRefresh:true,//刷新按钮
                showColumns:true,
                sortOrder:'',  //排序规则
                sortName:'id' //排序字段
                //responseHandler:responseHandler,//请求数据成功后，渲染表格前的方法

            });
        </script>
        <script>
            function expinfo(){
                var myDate = new Date();
                $("#exp").table2excel({
                    exclude: ".noExl",
                    name: "Excel Document Name.xls",
                    filename: myDate.toLocaleString()+".xls",
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: false
                });
            }

            $(function () {
                $('[data-toggle="popover"]').popover(
                    {
                        trigger: 'hover',//鼠标以上时触发弹出提示框
                        html: true,//开启html 为true的话，data-content里就能放html代码了
                    }

                )
            })
            function stateedit() {
                //alert("11");
            }
        </script>
    </div>
</block>