<extend name="50/index/base_ywmanage"  title="成果入库"/>
<block name="customer">
    <script type="text/javascript">
        //需求TAB标签
        $(function(){
            window.onload = function()
            {
                var $li = $('#kjtd_title_list li');
                var $ul = $('#xxzx_content ul');

                $li.mousedown(function(){
                    var $this = $(this);
                    var $t = $this.index();
                    $li.removeClass();
                    $this.addClass('current');
                    $ul.css('display','none');
                    $ul.eq($t).css('display','block');
                })
            }
        });
    </script>

    <form method="post" enctype="multipart/form-data" data-validator-option="{stopOnError:false, timely:2, theme:'yellow_right',timely:1}">
<div class="kjtd_kj" style="height: 1350px">
    <ul class="breadcrumb">
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="#">管理中心</a>
        </li>
        <li>
            <a href="/home/manage/cgrk_manage">成果入库信息管理</a>
        </li>
        <li class="active">
            <a href="#">成果入库详细信息</a>
        </li>

    </ul>
    <foreach name='InfoData' item='InfoData' >
    <div class="kjtd_title_list" id="kjtd_title_list">
        <li class="current">一、成果信息</li>
        <li>二、知识产权</li>
        <li>三、成果应用状态及交易信息</li>
        <li>四、联系信息</li>
        <li>五、信息状态及回复信息</li>
    </div>
    <div class="kjtd_qc"></div>
    <span class="label label-warning">{$errorInfo}</span>
    <span class="label label-success">{$sussInfo}</span>
    <div id="xxzx_content">
        <!--TAB标签一-->
        <ul style="display:block;" >

                    <div class="kjtd_from">
                        <!--行1!-->
                        <div class="kjtd_from_left">成果名称：</div>
                        <div class="kjtd_from_right">
                            {$InfoData.gl_cgmc}                        </div>
                        <div class="kjtd_from_left">关键词：</div>
                        <div class="kjtd_from_right">
                            {$InfoData.gl_gjc}                        </div>
                        <div class="kjtd_from_left">成果体现形式：</div>
                        <div class="kjtd_from_right">
                            {$InfoData.gl_cgtxxs}
                        </div>
                        <div class="kjtd_from_left" style="height: 80px">应用领域：</div>
                        <div class="kjtd_from_right" style="height: 80px">
                            <div style="width: 100%;border: 1px dashed #cccccc">
                                {$InfoData.gl_yyly}
                            </div>
                            </div>
                        <div class="kjtd_from_left">适用范围：</div>
                        <div class="kjtd_from_right">
                            {$InfoData.gl_syfw}                        </div>

                    </div>


        </ul>
        <!--TAB标签二-->
        <ul style="display:none;height: 350px">
            <div class="kjtd_from_left"  >专利技术：</div>
            <div class="kjtd_from_right" >
                {$InfoData.gl_zljs}            </div>
            <div class="kjtd_from_left"  >专利所属地区：</div>
            <div class="kjtd_from_right" >
                {$InfoData.gl_zlssdq}
            </div>
            <div class="kjtd_from_left"  >专利类型：</div>
            <div class="kjtd_from_right" >
                {$InfoData.gl_zllx}
            </div>
            <div class="kjtd_from_left"  >专利号/申请号：</div>
            <div class="kjtd_from_right" >
                {$InfoData.gl_zlh}            </div>
            <div class="kjtd_from_left"  > 专利简介：</div>
            <div class="kjtd_from_right" style="height: 97px">
                {$InfoData.gl_zljj}
            </div>
            <div class="clear"></div>
            <div class="kjtd_from_left"  >其他专利技术：</div>
            <div class="kjtd_from_right" >
                {$InfoData.gl_qtzljs}            </div>
        </ul>
        <!--TAB标签三-->
        <ul style="display:none;">
            <div class="kjtd_from_left" >成果简介：</div>
            <div class="kjtd_from_right" >
                {$InfoData.gl_cgjj}            </div>
            <div class="kjtd_from_left" style="margin-top: 280px">应用情况：</div>
            <div class="kjtd_from_right" style="margin-top: 280px">
                {$InfoData.gl_yyqk}            </div>
            <div class="kjtd_from_left" style="margin-top: 50px;height: 95px" >推广前景：</div>
            <div class="kjtd_from_right" style="margin-top: 50px;height: 95px">
                {$InfoData.gl_tgqj}            </div>

            <div class="kjtd_from_left"  >技术评估价值： </div>
            <div class="kjtd_from_right" >
                {$InfoData.gl_jspgjz}            </div>
            <div class="kjtd_from_left"  >成果应用状态：</div>
            <div class="kjtd_from_right" >
                {$InfoData.gl_cgyyzt}
            </div>

            <div class="kjtd_from_left">应用地区：</div>
            <div class="kjtd_from_right">
                {$InfoData.gl_yydq}            </div>

            <div class="kjtd_from_left"  style="height: 60px">技术图片：</div>
            <div class="kjtd_from_right" style="height: 60px">
                {$InfoData.gl_jstp}            </div>
            <div class="kjtd_from_left"  style="height: 60px">成熟度证明材料上传：</div>
            <div class="kjtd_from_right" style="height: 60px">
                {$InfoData.gl_csdzmcl}            </div>


        </ul>
        <!--TAB标签二-->
        <ul style="display:none;">
            <include file="50/ywmanage/lx_us" />
        </ul>
        <!--TAB标签六!-->
        <ul style="display:none;">
            <include file="50/ywmanage/hfzx" />
        </ul>
        <div class="clear"></div>
    </div>
        </foreach>
</div>
    </form>
</block>