
<div class="form-inline" role="form">
<div class="kjtd_from_left"  >联系人： </div>
<div class="kjtd_from_right" >
    {$InfoData.gl_lxr}
</div>
<div class="kjtd_from_left"  >工作单位： </div>
<div class="kjtd_from_right" >
    {$InfoData.gl_gzdw}</div>
<div class="kjtd_from_left"  >职务： </div>
<div class="kjtd_from_right" >
    {$InfoData.gl_zw}</div>
<div class="kjtd_from_left"  >电话： </div>
<div class="kjtd_from_right" >
    {$InfoData.gl_dh}
</div>


<div class="kjtd_from_left"  >手机： </div>
<div class="kjtd_from_right" >
    {$InfoData.gl_sj}
</div>
<div class="kjtd_from_left"  >邮箱： </div>
<div class="kjtd_from_right" >
    {$InfoData.gl_yx}
</div>
<div class="kjtd_from_left"  >传真： </div>
<div class="kjtd_from_right" >
    {$InfoData.gl_cz}
</div>
<div class="kjtd_from_left"  >联系地址： </div>
<div class="kjtd_from_right" >
    {$InfoData.gl_lxdz}</div>
<div class="kjtd_from_left"  >邮编： </div>
<div class="kjtd_from_right" >
    {$InfoData.gl_yb}</div>
</div>

<div class="kjtd_from_left" style="margin-top: 20px"></div>
<div class="kjtd_from_right" style="margin-top: 20px">
</div>