<extend name="50/index/base_ywmanage"  title="需求信息"/>
<block name="customer">

    <script type="text/javascript">
        //需求TAB标签
        $(function(){
            window.onload = function()
            {
                var $li = $('#kjtd_title_list li');
                var $ul = $('#xxzx_content ul');

                $li.mousedown(function(){
                    var $this = $(this);
                    var $t = $this.index();
                    $li.removeClass();
                    $this.addClass('current');
                    $ul.css('display','none');
                    $ul.eq($t).css('display','block');
                })
            }
        });
    </script>

    <div class="kjtd_kj" style="height: 850px">
        <ul class="breadcrumb">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="#">管理中心</a>
            </li>
            <li>
                <a href="/home/manage/zjrk_manage">专家入库信息管理</a>
            </li>
            <li class="active">
                <a href="#">专家入库详细信息</a>
            </li>

        </ul>
        <foreach name='InfoData' item='InfoData' >
            <div style="text-align: right;padding-right: 10px"><a href="/home/test/pdftest?id={$InfoData.id}&table=zjrk" target="_blank"> <i class="glyphicon glyphicon-download"></i> 生成PDF文件 </a></div>

            <div class="kjtd_title_list" id="kjtd_title_list">
                <li class="current">一、基本信息</li>
                <li>二、拟申请专家库类型</li>
                <li>三、教育经历</li>
                <li>四、工作经历</li>
                <li>五、联系信息</li>
                <li>六、信息状态及回复</li>

            </div>
            <div class="kjtd_qc"></div>
            <span class="label label-warning">{$errorInfo}</span>
            <span class="label label-success">{$sussInfo}</span>
            <div id="xxzx_content">
                <!--TAB标签一-->
                <ul style="display:block;" >

                    <div class="kjtd_from">
                        <!--行1!-->
                        <div class="kjtd_from_left">姓名：</div>
                        <div class="kjtd_from_right">
                            <span>{$InfoData.cg_wcrxm}</span>
                            <input type="hidden" name="gl_cjr" value="{$globar_user:user_name}">
                        </div>
                        <div class="kjtd_from_left">性别：</div>
                        <div class="kjtd_from_right">
                            {$InfoData.cg_wcrxb}
                        </div>
                        <div class="kjtd_from_left">民族：</div>
                        <div class="kjtd_from_right">
                            {$InfoData.cg_wcrmz}
                        </div>
                        <div class="kjtd_from_left">出生日期：</div>
                        <div class="kjtd_from_right">
                            {$InfoData.cg_wcrcsny}
                        </div>
                        <div class="kjtd_from_left">所属地区：</div>
                        <div class="kjtd_from_right">
                            {$InfoData.cg_wcrjg}
                        </div>
                        <div class="kjtd_from_left">身份证号：</div>
                        <div class="kjtd_from_right">
                            {$InfoData.cg_wcrsfzh}
                        </div>
                    </div>


                </ul>


                <ul style="display:none;">
                    <div class="kjtd_from_left">拟申请专家库类型：</div>
                    <div class="kjtd_from_right">
                        <php>if ($InfoData["zj_type"]==1) :</php>青年专家委员<php>elseif ($InfoData["zj_type"]==2) :</php>专家委员<php>else :</php>行业专家顾问<php>endif ;</php>
                    </div>
                </ul>
                <ul style="display:none;">
                    <div class="kjtd_from_left">毕业院校：</div>
                    <div class="kjtd_from_right">
                        {$InfoData.cg_wcrbyyx}
                    </div>
                    <div class="kjtd_from_left">专业：</div>
                    <div class="kjtd_from_right">
                        {$InfoData.cg_wcrzyzc}
                    </div>
                    <div class="kjtd_from_left">毕业时间：</div>
                    <div class="kjtd_from_right">

                    </div>
                    <div class="kjtd_from_left">最高学历：</div>
                    <div class="kjtd_from_right">
                        {$InfoData.cg_wcrzgxl}
                    </div>
                </ul>

                <ul style="display:none;">
                    <div class="kjtd_from_left">工作单位：</div>
                    <div class="kjtd_from_right">
                        {$InfoData.cg_wcrgzdw}
                    </div>
                    <div class="kjtd_from_left">工作年限：</div>
                    <div class="kjtd_from_right">

                    </div>
                    <div class="kjtd_from_left">担任职务：</div>
                    <div class="kjtd_from_right">
                        {$InfoData.cg_wcrxzzw}
                    </div>
                    <div class="kjtd_from_left">技术职称：</div>
                    <div class="kjtd_from_right">
                        {$InfoData.cg_wcrjszc}
                    </div>
                    <div class="kjtd_from_left">职业标签：</div>
                    <div class="kjtd_from_right">

                    </div>
                    <div class="kjtd_from_left">主要专业技术：</div>
                    <div class="kjtd_from_right">
                        {$InfoData.cg_wcrzyzc}
                    </div>
                </ul>
                <!--TAB标签二-->
                <ul style="display:none;">
                    <include file="50/ywmanage/lx_us" />
                </ul>
                <!--TAB标签六!-->
                <ul style="display:none;">
                    <include file="50/ywmanage/hfzx" />
                </ul>

            </div>
        </foreach>
    </div>
</block>