<!DOCTYPE HTML>
<html>
<head>
    <title>{$title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gifty Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="__PUBLIC__/tanhai/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="__PUBLIC__/tanhai/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="__PUBLIC__/tanhai/css/jquery.countdown.css" />
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.useso.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="__PUBLIC__/tanhai/js/jquery-1.11.1.min.js"></script>
    <!-- dropdown -->
    <script src="__PUBLIC__/tanhai/js/jquery.easydropdown.js"></script>
    <!-- start menu -->
    <link href="__PUBLIC__/tanhai/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="__PUBLIC__/tanhai/js/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script src="__PUBLIC__/tanhai/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <script src="__PUBLIC__/tanhai/js/jquery.countdown.js"></script>
    <script src="__PUBLIC__/tanhai/js/script.js"></script>
</head>
<body>
<div class="header_top">
    <div class="container">
        <div class="header_top-box">
            <div class="header-top-left">

                <div class="box1">
                    <select tabindex="8" class="dropdown">
                        <option value="" class="label" value="">你好</option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="cssmenu">
                <ul>
                    <li class="active"><a href="login.html">我的帐户</a></li>
                    <li><a href="wishlist.html">购物车</a></li>
                    <li><a href="login.html">登录 | 注册</a></li>
                    <li><a href="register.html">手机版</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="header_bottom">
    <div class="container">
        <div class="header_bottom-box">
            <div class="header_bottom_left">
                <div class="logo">
                    <a href="index.html"><img src="__PUBLIC__/tanhai/images/logo.png" alt="{$title}" style="width: 50px"/></a>
                </div>
                <ul class="clock">
                    <i class="clock_icon"> </i>
                    <li class="clock_desc">24/h Service</li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="header_bottom_right">
                <div class="search">
                    <input type="text" value="您所需要的我都有" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = '您所需要的我都有';}">
                    <input type="submit" value="">
                </div>
                <ul class="bag">
                    <a href="#"><i class="bag_left"> </i></a>
                    <a href="#"><li class="bag_right"><p>关注我们</p> </li></a>
                    <div class="clearfix"> </div>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--导航菜单开始-->
<div class="menu">
    <div class="container">
        <div class="menu_box">
            <ul class="megamenu skyblue">
                <li class="active grid"><a class="color2" href="index.html">首页</a></li>
                <li><a class="color4" href="men.html">商品中心</a></li>
                <li><a class="color10" href="#">关于我们</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>活动中心</h4>
                                    <ul>
                                        <li><a href="men.html">Jackets</a></li>
                                        <li><a href="men.html">Blazers</a></li>
                                        <li><a href="men.html">Suits</a></li>
                                        <li><a href="men.html">Trousers</a></li>
                                        <li><a href="men.html">Jeans</a></li>
                                        <li><a href="men.html">Shirts</a></li>
                                        <li><a href="men.html">Sweatshirts & Hoodies</a></li>
                                        <li><a href="men.html">Swem Wear</a></li>
                                        <li><a href="men.html">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Women</h4>
                                    <ul>
                                        <li><a href="men.html">Outerwear</a></li>
                                        <li><a href="men.html">Dresses</a></li>
                                        <li><a href="men.html">Handbags</a></li>
                                        <li><a href="men.html">Trousers</a></li>
                                        <li><a href="men.html">Jeans</a></li>
                                        <li><a href="men.html">T-Shirts</a></li>
                                        <li><a href="men.html">Shoes</a></li>
                                        <li><a href="men.html">Coats</a></li>
                                        <li><a href="men.html">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="h_nav">
                                    <h4>Trends</h4>
                                    <ul>
                                        <li class>
                                            <div class="p_left">
                                                <img src="images/t1.jpg" class="img-responsive" alt=""/>
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Denim shirt</a></h4>
                                                <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                                                <span class="price">29.99 $</span>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </li>
                                        <li>
                                            <div class="p_left">
                                                <img src="images/t2.jpg" class="img-responsive" alt=""/>
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Denim shirt</a></h4>
                                                <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                                                <span class="price">29.99 $</span>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </li>
                                        <li>
                                            <div class="p_left">
                                                <img src="images/t3.jpg" class="img-responsive" alt=""/>
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Denim shirt</a></h4>
                                                <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                                                <span class="price">29.99 $</span>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a class="color3" href="404.html">檀海时尚</a></li>
                <li><a class="color7" href="#">联系我们</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Men</h4>
                                    <ul>
                                        <li><a href="men.html">Jackets</a></li>
                                        <li><a href="men.html">Blazers</a></li>
                                        <li><a href="men.html">Suits</a></li>
                                        <li><a href="men.html">Trousers</a></li>
                                        <li><a href="men.html">Jeans</a></li>
                                        <li><a href="men.html">Shirts</a></li>
                                        <li><a href="men.html">Sweatshirts & Hoodies</a></li>
                                        <li><a href="men.html">Swem Wear</a></li>
                                        <li><a href="men.html">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Women</h4>
                                    <ul>
                                        <li><a href="men.html">Outerwear</a></li>
                                        <li><a href="men.html">Dresses</a></li>
                                        <li><a href="men.html">Handbags</a></li>
                                        <li><a href="men.html">Trousers</a></li>
                                        <li><a href="men.html">Jeans</a></li>
                                        <li><a href="men.html">T-Shirts</a></li>
                                        <li><a href="men.html">Shoes</a></li>
                                        <li><a href="men.html">Coats</a></li>
                                        <li><a href="men.html">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="h_nav">
                                    <h4>Trends</h4>
                                    <ul>
                                        <li class>
                                            <div class="p_left">
                                                <img src="images/t1.jpg" class="img-responsive" alt=""/>
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Denim shirt</a></h4>
                                                <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                                                <span class="price">29.99 $</span>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </li>
                                        <li>
                                            <div class="p_left">
                                                <img src="images/t2.jpg" class="img-responsive" alt=""/>
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Denim shirt</a></h4>
                                                <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                                                <span class="price">29.99 $</span>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </li>
                                        <li>
                                            <div class="p_left">
                                                <img src="images/t3.jpg" class="img-responsive" alt=""/>
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Denim shirt</a></h4>
                                                <span class="item-cat"><small><a href="#">Jackets</a></small></span>
                                                <span class="price">29.99 $</span>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a class="color8" href="blog.html">网站地图</a></li>
                <div class="clearfix"> </div>
            </ul>
        </div>
    </div>
</div>
<!--导航菜单结束-->