<extend name="WebApps/index/base"  title="index"/>
<block name="customer">
<!--Banner广告开始-->
    <div class="index_slider">
        <div class="container">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li><img src="__PUBLIC__/tanhai/images/slider1.jpg" class="img-responsive" alt=""/></li>
                    <li><img src="__PUBLIC__/tanhai/images/2.jpg" class="img-responsive" alt=""/></li>
                    <li><img src="__PUBLIC__/tanhai/images/3.jpg" class="img-responsive" alt=""/></li>
                </ul>
            </div>
        </div>
    </div>
    <!--Banner广告结束-->
    <!--中间部分开始-->
    <div class="content_top">
        <div class="container">
            <!--服务信息开始-->
            <div class="grid_1">
                <div class="col-md-3">
                    <div class="box2">
                        <ul class="list1">
                            <i class="lock"> </i>
                            <li class="list1_right"><p>服务保障</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box3">
                        <ul class="list1">
                            <i class="clock1"> </i>
                            <li class="list1_right"><p>24小时不间断</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box4">
                        <ul class="list1">
                            <i class="vehicle"> </i>
                            <li class="list1_right"><p>终生质保，解除您的后顾之忧</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box5">
                        <ul class="list1">
                            <i class="dollar"> </i>
                            <li class="list1_right"><p>Delivery Schedule Spread Cheer Time</p></li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!--服务信息结束-->
            <div class="column_center">
                <h1>84000 凤珠 正能量</h1>
                <h2>让全球正能量汇集中国 让中国正能量照亮世界 每颗凤珠代表一个人，每个人背后是家庭，每隔108颗是一家企业</h2>
            </div>
            <div class="sellers_grid">
                <ul class="sellers">
                    <i class="star"> </i>
                    <li class="sellers_desc"><h2>星级商品</h2></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
            <div class="grid_2">
                <div class="col-md-3 span_6">
                    <div class="box_inner">
                        <img src="__PUBLIC__/tanhai/images/p1.jpg" class="img-responsive" alt=""/>
                        <div class="sale-box"> </div>
                        <div class="desc">
                            <h3>Ullamcorper suscipit</h3>
                            <h4>178,90 $</h4>
                            <ul class="list2">
                                <li class="list2_left"><span class="m_1"><a href="#" class="link">加入购物车</a></span></li>
                                <li class="list2_right"><span class="m_2"><a href="#" class="link1">立即购买</a></span></li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="heart"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 span_6">
                    <div class="box_inner">
                        <img src="__PUBLIC__/tanhai/images/p2.jpg" class="img-responsive" alt=""/>
                        <div class="sale-box"> </div>
                        <div class="desc">
                            <h3>Ullamcorper suscipit</h3>
                            <h4>178,90 $</h4>
                            <ul class="list2">
                                <li class="list2_left"><span class="m_1"><a href="#" class="link">Add to Cart</a></span></li>
                                <li class="list2_right"><span class="m_2"><a href="#" class="link1">See More</a></span></li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="heart"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 span_6">
                    <div class="box_inner">
                        <img src="__PUBLIC__/tanhai/images/p3.jpg" class="img-responsive" alt=""/>
                        <div class="sale-box"> </div>
                        <div class="desc">
                            <h3>Ullamcorper suscipit</h3>
                            <h4>178,90 $</h4>
                            <ul class="list2">
                                <li class="list2_left"><span class="m_1"><a href="#" class="link">Add to Cart</a></span></li>
                                <li class="list2_right"><span class="m_2"><a href="#" class="link1">See More</a></span></li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="heart"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 span_6">
                    <div class="box_inner">
                        <img src="__PUBLIC__/tanhai/images/p4.jpg" class="img-responsive" alt=""/>
                        <div class="sale-box"> </div>
                        <div class="desc">
                            <h3>Ullamcorper suscipit</h3>
                            <h4>178,90 $</h4>
                            <ul class="list2">
                                <li class="list2_left"><span class="m_1"><a href="#" class="link">Add to Cart</a></span></li>
                                <li class="list2_right"><span class="m_2"><a href="#" class="link1">See More</a></span></li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="heart"> </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--服务信息结束-->
</block>