<extend name="web/Index/base" />
<block name="customer">
	<!-- breadcurmbs -->
	<section class="blasa-section r-breadcurmbs-1">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="wrap_breadcrumbs_1">
						<h1 class="breadcurmbs-head">About Us
						</h1>
						<ul class="breadcrumbs_content_1 ">
							<li><a href="/" title="home"> Home </a> /</li>
							<li><span>About Us</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- about us 2 (tabs) -->
	<section class="blasa-section about_us_page_2">
		<div class="container">
			<div class="tab">
				<ul class="tabs">
					<li><a href="#"><h4>公司簡介</h4></a></li>
					<li><a href="#"><h4>大事記</h4></a></li>
					<li><a href="#"><h4>組織架構</h4></a></li>
				</ul>
				<!-- / tabs -->
				<div class="tab_content">
					<div class="tabs_item">

						<div class="tab_content_text about_us">

							<p>
								匯360，聚焦以人爲中心，産生“數據爲價值”。通過網上大店鋪爲“自營流量入口”，幫助B-Business端和F-Factory端企業打通互聯網渠道，讓“存量變現和産量、銷量擴大”，聚集産業“共贏鏈做市值”。<br/>
								匯代表聚集，360代表360行業。匯360集成每條産業鏈的供應鏈，從盤活融通→流通變現→擴大流量做淨利或估值→價值組裝→市值總裝的共贏鏈。<br/>
								集團是2010年成立，是互聯網圖書的領頭羊，從0-10億人民幣營業額只花三年時間，進8年時間奠定行業標竿，成爲互聯網大數據運營公司。全世界商業都脫離不了互聯網大通道的基石“IT科技”，依不同行業或産業的需要鏈接AI人工智能、物聯網、區塊鏈等，讓數據産生價值。<br/>
								爲了幫助兩岸更多企業能夠“縮短成本、增加效益”的商業交易，通過匯360大平台的網上大店鋪爲鏈接360行業來打通線上線下所有供應鏈和消費鏈間的交易環節，促進數據共創産業集群之共榮共享的共嬴鏈。<br/>
								<br/><br/>
								<b>品牌價值</b><br/>
								定位: 盤活存量、擴大銷量『企業資産變現』<br/>
								使命: 幫助1千萬企業家供應鏈電商化流通起來<br/>
								願景: 360資産都可數字量化的金融流通資産<br/>
								口號: 越成功的人士『越會善用資源變現』<br />
								<br/><br/>
							</p>
						</div>
					</div>
					<!-- / tabs_item -->
					<div class="tabs_item">
						<div class="tab_content_text about_us">

							<p>
								<b>大事記 ( 世紀重點 )</b><br/>
								自我顛覆---成功沒有想象的那麽高大上，是不斷的自我顛覆，是爲了活下來<br/>
								2011年<br/>
								從傳統批銷向電子商務轉型<br/><br/>
								2012年<br/>
								從電子商務升級供應鏈管理” 掌握“雲”大數據的活價值”<br/><br/>
								2013年<br/>
								成立“電商俱樂部”幫助傳統企業轉型<br/>
								2014年<br/>
								供應鏈信息化系統第二次升級+ERP系統第四次升級<br/>
								發布“産業鏈平台”新戰略啓動産業互聯網升級新宏圖<br/><br/>
								2015年<br/>
								供應鏈信息化系統第三次升級+ERP系統第五次升級<br/>
								發布“打造全國核心産業聚集區，構建中國互聯網絲綢之路”的集團戰略<br/><br/>
								2016年<br/>
								啓動“世界本無界何來跨界”項目再度引領行業新零售<br/><br/>
								2017年<br/>
								啓動“網絡天下”OMO- Online Merge Offline供應鏈高效賦能消費擴張70%線上線下互相導流<br/><br/>
								2018年<br/>
								啓動匯360的“OMO- Online Merge Offline”幫助企業走向平台型商業模式<br/>
							</p>
						</div>
					</div>
					<!-- / tabs_item -->
					<div class="tabs_item">
						<div class="tab_content_text about_us">

							<p>
								一個互聯網支點，翹動360産融倍數市值，走向資本之路!<br /><br />
								<b>匯供應鏈:</b><br />
								一鏈萬端，線上——數據——線下三位一體的供應鏈易經濟雲+端，賦能萬級B端自主地去發揮他們最能觸達客戶的能力，大幅度提升供應端效率的新經濟。<br />
								<b>匯科技:</b><br />
								互助互聯，流通無界，利天下衆人。匯科技促進線上線下之間時時信息的一個空中的紐帶和橋梁，打造高效賦能消費擴張70%線上線下互相導流的服務網路體現，讓利益價值最大化的服務大平台。<br />
								<b>匯學院:</b><br />
								互聯網人才智能化“人才代運營”“人才托管”“人才孵化”“人才輸出”一站式打造大數據人才，暨企業內部産銷研發財的人才培訓。<br />
								<b>匯微群:</b><br />
								兩岸供應鏈與消費鏈流通起來，1億人群鏈接在一起，讓消費者成爲傳播者，還能形成爲商家帶來利益的自然消費。<br />
								<b>匯金融:</b><br />
								幫助企業搭建平台鏈接供應鏈與産業鏈，通過集群産生現金流，通過多邊組裝相互價值交換,産生資本市場關注價值，讓各産業集群走向資本上市之路。<br />
								<b>匯微群:</b><br />
								兩岸供應鏈與消費鏈流通起來，1億人群鏈接在一起，讓消費者成爲傳播者，還能形成爲商家帶來利益的自然消費。<br />
								<b>匯金融:</b><br />
								幫助企業搭建平台鏈接供應鏈與産業鏈，通過集群産生現金流，通過多邊組裝相互價值交換,産生資本市場關注價值，讓各産業集群走向資本上市之路。<br />
							</p>
							<p style="text-align: center">
							<img src="__PUBLIC__/hui360/images/about.jpg" style="width: 500px" />
							</p>
							
						</div>
					</div>
					<!-- / tabs_item -->
				</div>
				<!-- / tab_content -->
			</div>
			<!-- / tab -->

			<div class="row row_features_3 align-items-center justify-content-center">
				<p style="height: 60px"></p>
			</div>
		</div>
	</section>

</block>
