<!-----start-footer---->
<div class="footer">
    <div class="container">
        <div class="footer-right">
            <p>{$copyright} &nbsp;&nbsp;&nbsp;&nbsp;ICP：{$ICP}</p>
            <script type="text/javascript">
                $(document).ready(function() {
                    /*
                    var defaults = {
                          containerID: 'toTop', // fading element id
                        containerHoverID: 'toTopHover', // fading element hover id
                        scrollSpeed: 1200,
                        easingType: 'linear'
                     };
                    */

                    $().UItoTop({ easingType: 'easeOutQuart' });

                });
            </script>
            <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-----//End-footer---->
<!-----//End-container----->

</body>
</html>