<!doctype html >
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>{$sys_title}--{$title}</title>
    <meta name="keywords" content="{$SEO_Title}" />
    <meta name="description" content="{$SEO_Keyword}" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="__PUBLIC__/hui360/js/jquery.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/hui360/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/hui360/css/all.min.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/hui360/css/owl.carousel.min.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/hui360/css/light-box.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/hui360/css/tp-animation.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/hui360/css/style.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/hui360/css/responsive.css" media="all">

</head>

<body >

<!-- perload section -->
<div id="preloader">
    <div id="preloader-inner"></div>
</div>
<!-- header section -->
<header class="tp-main-menu header-menu-4 sticky-header ">
    <!-- top logo/contac inf -->
    <div class="top-nav">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-4 col-sm-5 col-12">
                    歡迎您的光臨
                </div>
                <div class="col-lg-7 col-md-8  col-sm-7 col-12">
                    <ul class="get_quote_list">
                        <li class="q_phone"><a href="#" title="+343 277 7782"><i class="fas fa-mobile-alt"></i>{$tel}</a>
                        </li>
                        <li class="q_mail"><a href="mailto:info@company.com" title="info@company.com"><i class="fas fa-envelope"></i>{$email}</a>
                        </li>
                        <li class="q_contact_btn"><a href="/index/application.html" title="contact us">報名入口</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-menu">
        <div class="container">
            <div class="row row_menu_1">
                <div class="col-lg-2 col-md-12 col-12 col-logo-3">
                    <div class="tagpoint-wrap-logo ">
                        <a href="index.html" title="Rafaa HTML Template">

                            <img src="__PUBLIC__/hui360/images/logo.png" alt="匯360" class="tp_whitelogo" style="width: 50px">
                            <img src="__PUBLIC__/hui360/images/logo.png" alt="匯360" class="tp_darklogo" style="width: 50px">

                        </a>
                        <span class="phone_menu  primary-color">
                                                <i class="fas fa-bars"></i>
                                            </span>
                    </div>
                </div>
                <div class="col-lg-10 col-md-12 col-12">
                    <nav class="tp-menu tagpoint-menu-1">
                        <ul class="tagpoint-main-menu ">
                            <li class="current_page_item has-sub">
                                <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
                                <a title="Home" href="/">
                                    首頁
                                </a>

                            </li>
                            <li class="has-sub mega-menu ">
                                <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
                                <a title="About Us" href="/index/about.html">
                                    關於我們
                                </a>
                                <ul class="sub-menu">
                                            <li>
                                                <a title="Home" href="/index/about.html"> 公司簡介 </a>
                                            </li>
                                            <li>
                                                <a title="Home" href="/index/aboutcase/id/75.html"> 近期案例 </a>
                                            </li>
                                            <li>
                                                <a title="Home" href="/index/aboutcase/id/74.html"> 聯盟合作 </a>
                                            </li>
                                            <li>
                                                <a title="Home" href="/index/aboutcase/id/76.html"> 兩岸貿易 </a>
                                            </li>
                                            <li>
                                                <a title="Home" href="/index/aboutcase/id/77.html"> 師資團隊 </a>
                                            </li>
                                        </ul>
                            </li>
                            <li class="has-sub">
                                <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
                                <a title="About Us" href="/index/liquidation/id/78.html">
                                    存量變現
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a title="庫存盤活" href="/index/liquidation/id/80.html">庫存盤活</a>
                                    </li>
                                    <li>
                                        <a title="新融資模式" href="/index/liquidation/id/79.html">新融資模式</a>
                                    </li>
                                    <li>
                                        <a title="資產盤活" href="/index/liquidation/id/78.html">資產盤活</a>
                                    </li>
                                    <li>
                                        <a title="積分、卷、幣盤活" href="/index/liquidation/id/81.html">積分、卷、幣盤活</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
                                <a title="service" href="/index/service/html/86.html">

                                    易物平臺
                                </a>
                                <ul class="sub-menu  ">
                                    <li>
                                        <a title="Home" href="/index/service/html/86.html">平臺介紹 </a>
                                    </li>
                                    <li>
                                        <a title="Home" href="/index/service/html/87.html">聯盟合作 </a>
                                    </li>
                                    <li>
                                        <a title="Home" href="/index/service/html/88.html">平臺特色</a>
                                    </li>
                                    <li>
                                        <a title="Home" href="/index/service/html/90.html">以需易需 </a>
                                    </li>
                                    <li>
                                        <a title="Home" href="/index/service/html/91.html">以業易業 </a>
                                    </li>
                                    <li>
                                        <a title="Home" href="/index/service/html/89.html">全國服務網點 </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
                                <a title="/index/Entrepreneur/html/82.html" href="#">
                                    企業家專區
                                </a>
                                <ul class="sub-menu  ">
                                    <li>
                                        <a title="專區介紹" href="/index/Entrepreneur/html/82.html">專區介紹</a>
                                    </li>
                                    <li>
                                        <a title="電商人才專區" href="/index/Entrepreneur/html/83.html">電商人才專區</a>
                                    </li>
                                    <li>
                                        <a title="諮詢輔導" href="/index/Entrepreneur/html/84.html" >諮詢輔導</a>
                                    </li>
                                    <li>
                                        <a title="盈利模式九宮格" href="/index/Entrepreneur/html/85.html">盈利模式九宮格</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <i class="  fas fa-chevron-down tp_phone_dropdown"></i>
                                <a title="Services" href="/index/Course">
                                    培訓課程
                                </a>
                                <!--<ul class="sub-menu  ">
                                    <li>
                                        <a title="Home" href="/index/training/html/92.html">管理训练计划(MTP)</a>
                                    </li>
                                    <li>
                                        <a title="Home" href="/index/training/html/93.html">监督者教育(TWI)</a>
                                    </li>
                                    <li>
                                        <a title="Home" href="/index/training/html/94.html">閃耀講師培訓</a>
                                    </li>
                                    <li>
                                        <a title="Home" href="/index/training/html/95.html">銷售系列</a>
                                    </li>
                                    <li>
                                        <a title="Home" href="/index/training/html/96.html">研習式體驗課程</a>
                                    </li>
                                </ul>-->
                            </li>
                            <li class="tp_wrap_search">
                                <span class="wrat_search_icon"><i class="fas fa-search"></i> </span>
                                <div class="search-content search-content_3">
                                    <form class="tagpoint-nav-search" id="tagpoint-navsearch">
                                        <input type="text" name="s" value="" placeholder="信息檢索..." id="lns-search">
                                        <button class="lns-button" type="submit">Search</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>