<extend name="web/index/base" />
<block name="customer">

<!-- slider section -->
<section class="blasa-slider blasa-slider-4">
    <div class="owl-carousel r_slider" data-dots="off" data-fade="true">
        <div class="r_wrap_slider r_wrap_slider_5">
            <div class="r_slider_img" style="background-image:url(__PUBLIC__/hui360/images/aslide_7.jpg)"></div>
            <div class="container container_slider_caption">
                <div class="r-slider-container r-slider-container-5">
                    <div class="r-slider-conten r-slider-conten-5 b-align-center">
                        <h2 class="slider-title-3 tp_animate_when_visible zoom-out" data-speed="500">
                            盤活存量
                        </h2>
                        <p class="tp_animate_when_visible tp-pullTop" data-delay="600" data-speed="600">
                            房子、土地、车子、塔位、墓地、生前契约、积分、劵、币，1:1兑换商码，融通变现金
                        </p>
                        <a href="#" class="slider-btn get-qoute tp_animate_when_visible fade-top" data-delay="700" data-speed="600">了解詳細</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="r_wrap_slider r_wrap_slider_5">
            <div class="r_slider_img" style="background-image:url(__PUBLIC__/hui360/images/blog_4.jpg)">

            </div>
            <div class="container container_slider_caption">
                <div class="r-slider-container r-slider-container-5">
                    <div class="r-slider-conten r-slider-conten-5 b-align-center">
                        <h2 class="slider-title-3 tp_animate_when_visible zoom-out" data-speed="500">
                            一鏈萬端，世界本無界何來跨界
                        </h2>
                        <p class="tp_animate_when_visible tp-pullTop" data-delay="600" data-speed="600">
                            用互聯網做產業互聯、互聯產業，消費互聯、互聯消費，幫助企業把供應鏈電商化通起來線上線下互相導流消費倍速擴張
                        </p>
                        <a href="#" class="slider-btn get-qoute tp_animate_when_visible fade-top" data-delay="700" data-speed="600">了解詳細</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="r_wrap_slider r_wrap_slider_5">
            <div class="r_slider_img" style="background-image:url(__PUBLIC__/hui360/images/aslide_4.jpg)">

            </div>
            <div class="container container_slider_caption">
                <div class="r-slider-container r-slider-container-5">
                    <div class="r-slider-conten r-slider-conten-5 b-align-center">
                        <h2 class="slider-title-3 tp_animate_when_visible zoom-out" data-speed="500">
                            訓練很貴，不訓練更貴
                        </h2>
                        <p class="tp_animate_when_visible tp-pullTop" data-delay="600" data-speed="600">
                            英國發展中心模組『卓越領導系列』『頂尖銷售系列』『閃耀講師培訓』課程是國內金融行業、光電和電子產業的見證！
                        </p>
                        <a href="#" class="slider-btn get-qoute tp_animate_when_visible fade-top" data-delay="700" data-speed="600">了解詳細</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- solutions section -->

<section class="blasa-section solutions-section">
    <div class="container">
        <div class="row row_solutions justify-content-center align-items-center ">
            <div class="col-lg-4 col-md-9 col-sm-9 col-12 col-solution">
                <div class="wrap_solution tp_animate_when_visible fade-bottom" data-offest="80%" data-speed="800" >
                    <div class="wrap_solution_img" style="background-image:url(__PUBLIC__/hui360/images/aslide_10.jpg);">

                        <a href="#" class="solution_more" title="read more"><i class="fas fa-plus"></i></a>

                    </div>
                    <div class="soltion-text">
                        <h3>
                            專業團隊
                        </h3>
                        <p>Raising a heavy fur muff that covered the whole of her lower towards the viewer gregor  gilded frame.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-9 col-sm-9 col-12 col-solution">
                <div class="wrap_solution tp_animate_when_visible fade-bottom" data-offest="80%" data-speed="800" >
                    <div class="wrap_solution_img" style="background-image:url(__PUBLIC__/hui360/images/cp_2.jpg);">

                        <a href="#" class="solution_more" title="read more"><i class="fas fa-plus"></i></a>

                    </div>
                    <div class="soltion-text">
                        <h3>
                            數據精益
                        </h3>
                        <p>Raising a heavy fur muff that covered the whole of her lower towards the viewer gregor  gilded frame.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-9 col-sm-9 col-12 col-solution">
                <div class="wrap_solution tp_animate_when_visible fade-bottom" data-offest="80%" data-speed="800">
                    <div class="wrap_solution_img" style="background-image:url(__PUBLIC__/hui360/images/cp_1.jpg);">

                        <a href="#" class="solution_more" title="read more"><i class="fas fa-plus"></i></a>

                    </div>
                    <div class="soltion-text">
                        <h3>
                            專屬設計
                        </h3>
                        <p>Raising a heavy fur muff that covered the whole of her lower towards the viewer gregor  gilded frame.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- about section 5 -->
<section class="blasa-section about-section-2">
    <div class="custom_container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 col-aboutus-img">
                <div class="wrap_aboutus_img tp_animate_when_visible fade-left" data-offest="60%">
                    <img src="__PUBLIC__/hui360/images/about_us.png" alt="about company" />
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 col-about-text">
                <div class="wrap_about_5 tp_animate_when_visible fade-right" data-offest="60%" data-delay="400">
                    <div class="section-head">
                        <span class="small-title">About us</span>
                        <h2 class="head-title">

                            我們可以快速提高您的
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .</p>

                    </div>
                    <div class="wrap_skills why_us_skills">
                        <h4 class="skill-title">Web Consultant</h4>
                        <div id="progress_bar_3" class="tagpoint_progress_bar progress_bar_lin" data-to="59" data-type="line" data-stockwidth="1" data-color="#f6364d" data-trailcolor="#403e3e" data-trailwidth="1" data-pfontsize="32" data-pfontcolor="#fff" data-lfsize="16">
                        </div>
                        <h4 class="skill-title">Business Consulting</h4>
                        <div id="progress_bar_4" class="tagpoint_progress_bar progress_bar_lin" data-to="91" data-type="line" data-stockwidth="1" data-color="#f6364d" data-trailcolor="#403e3e" data-trailwidth="1" data-pfontsize="32" data-pfontcolor="#fff" data-lfsize="16">
                        </div>

                        <h4 class="skill-title">Advanced Plan</h4>
                        <div id="progress_bar_5" class="tagpoint_progress_bar progress_bar_lin" data-to="70" data-type="line" data-stockwidth="1" data-color="#f6364d" data-trailcolor="#403e3e" data-trailwidth="1" data-pfontsize="32" data-pfontcolor="#fff" data-lfsize="16">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- our solutions -->
<section class="blasa-section makebusiness-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 tp_animate_when_visible fade-bottom" data-offest="80%" data-speed="600">
                <div class="wrap_business_head ">
                    <span class="small-title">Why choose us</span>
                    <h2 class="head-title"> Perfect Solutions to <br />
                        grow up your Successfuly

                    </h2>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-12 tp_animate_when_visible fade-bottom" data-offest="80%" data-speed="700" data-delay="300">
                <div class="wrap_business_text " >
                    <p>Tax efficiency is an attempt to minimize tax liability when given many different financial decisions to be tax efficient.Enthusiastically leverage existing premium quality vectors with enterprise-wide innovation collaboration. Phosfluorescently leverage others enterprise-wide “outside the box” thinking with busines collaboration and idea-sharing. Proactively leverage other rather than inter</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-12 tp_animate_when_visible fade-left" data-offest="80%" data-speed="600" data-delay="400">
                <ul class="business-list " >
                    <li><span>Money back gruerntee</span></li>
                    <li><span>Professional Support</span></li>
                    <li><span>Creative Team</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Service layout 5 -->
<section class="blasa-section service-4-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="wrap_service_4 tp_animate_when_visible fade-top" >
                        <span class="service_2_icon">
                            <i class="fas fa-chart-bar"></i>
                        </span>
                    <div class="service_4_text">
                        <h3>Advanced Plan</h3>
                        <p>
                            Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries layouts.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="wrap_service_4 tp_animate_when_visible fade-top" data-delay="200" data-offest="60%">
                        <span class="service_2_icon">
                            <i class="fas fa-balance-scale"></i>
                        </span>
                    <div class="service_4_text">
                        <h3>Law Consulting</h3>
                        <p>
                            Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries layouts.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="wrap_service_4 tp_animate_when_visible fade-top" data-delay="300" data-offest="60%">
                        <span class="service_2_icon">
                            <i class="fas fa-chart-line"></i>
                        </span>
                    <div class="service_4_text">
                        <h3>Customer Stratgy</h3>
                        <p>
                            Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries layouts.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="wrap_service_4 tp_animate_when_visible fade-top" data-delay="400" >
                        <span class="service_2_icon">
                            <i class="fas fa-compass"></i>
                        </span>
                    <div class="service_4_text">
                        <h3>Plan Operation</h3>
                        <p>
                            Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries layouts.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- counter section -->
<div class="blasa-section counter-section-4">
    <div class="container">
        <div class="row  tp_fact_row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 achieves_col tp_animate_when_visible fade-top"  data-speed="700" data-offest="70%">
                <div class="tp_counter_section construction_facts">
                    <div class="tp_wrap-acheiv">
                        <span class="tpcountr_icon"><i class='fas fa-award'></i></span>
                        <div class="tp_counter_wrapvalus">
                            <span class="tp-counter odometer " data-to="67">0</span>
                            <span class="tp_medium_title  acheiv-counter-title">Awards</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 achieves_col tp_animate_when_visible fade-top"  data-speed="600" data-offest="70%">
                <div class="tp_counter_section construction_facts">
                    <div class="tp_wrap-acheiv">
                        <span class="tpcountr_icon"><i class='fas fa-briefcase'></i></span>
                        <div class="tp_counter_wrapvalus">
                            <span class="tp-counter  odometer" data-to="989">0</span>
                            <span class="tp_medium_title  acheiv-counter-title">Projects </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 achieves_col tp_animate_when_visible fade-top"  data-speed="500" data-offest="70%">
                <div class="tp_counter_section construction_facts">
                    <div class="tp_wrap-acheiv">
                            <span class="tpcountr_icon">
                                    <i class='fas fa-user'></i>

                                </span>
                        <div class="tp_counter_wrapvalus">
                            <span class="tp-counter  odometer" data-to="481">0</span>
                            <span class="tp_medium_title  acheiv-counter-title">Employees</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 achieves_col tp_animate_when_visible fade-top"  data-speed="500" data-offest="70%">
                <div class="tp_counter_section construction_facts">
                    <div class="tp_wrap-acheiv">
                        <span class="tpcountr_icon"><i class='fas fa-chart-line'></i></span>
                        <div class="tp_counter_wrapvalus">
                            <span class="tp-counter  odometer" data-to="77">0</span>
                            <span class="tp_medium_title  acheiv-counter-title">ShowCases</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- last blogs -->
<section class="blasa-section blogs-section-4">
    <div class="container">
        <div class="row justify-content-center align-items-end row-head-blogs">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="section-head b-align-left">
                        <span class="small-title">
                                Our Blogs
                            </span>
                    <h2 class="head-title">
                        Explore <br /> Recent Articles
                    </h2>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12">
                <p class="col-blogs-desc">
                    Quisque posuere est sit amet dui convallis lobortis. Curabitur ut sapien quis ipsum gravida sagittis eget vitae sem. Suspendisse in nisi condimentum, convallis leo ac, mollis nulla. Aenean venenatis finibus elementum. Integer nec sem tellus.
                </p>
            </div>
        </div>
        <div class="row_blogs_2 carousel-blogs owl-carousel">


            <div class="col-blog-2">
                <div class="wrap_blog_2" style="background-image: url(__PUBLIC__/hui360/images/blog_4.jpg);">

                    <div class="wrap-blog-text">
                        <ul class="r-datameta">
                            <li><a href="#" title="author name" class="r-author"><i class="fas fa-user"></i>Admin</a></li>
                            <li><span class="r-data"><i class="fas fa-clock"></i> March 22,2018</span></li>
                        </ul>
                        <h2>
                            <a href="#" title="blog title">
                                City that is loaded up with tourist spots and noteworthy.
                            </a>
                        </h2>

                        <div class="ream_more">
                            <a href="#" title="read more">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-blog-2">
                <div class="wrap_blog_2" style="background-image: url(__PUBLIC__/hui360/images/aslide_4.jpg);">

                    <div class="wrap-blog-text">
                        <ul class="r-datameta">
                            <li><a href="#" title="author name" class="r-author"><i class="fas fa-user"></i>Admin</a></li>
                            <li><span class="r-data"><i class="fas fa-clock"></i> March 22,2018</span></li>
                        </ul>
                        <h2>
                            <a href="#" title="blog title">
                                City that is loaded up with tourist spots and noteworthy.
                            </a>
                        </h2>

                        <div class="ream_more">
                            <a href="#" title="read more">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-blog-2">
                <div class="wrap_blog_2" style="background-image: url(__PUBLIC__/hui360/images/cp_10.jpg);">

                    <div class="wrap-blog-text">
                        <ul class="r-datameta">
                            <li><a href="#" title="author name" class="r-author"><i class="fas fa-user"></i>Admin</a></li>
                            <li><span class="r-data"><i class="fas fa-clock"></i> March 22,2018</span></li>
                        </ul>
                        <h2>
                            <a href="#" title="blog title">
                                City that is loaded up with tourist spots and noteworthy.
                            </a>
                        </h2>

                        <div class="ream_more">
                            <a href="#" title="read more">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

</block>
