<extend name="web/Index/base" />
<block name="customer">

<!-- slider section -->
<section class="blasa-slider blasa-slider-4">
    <div class="owl-carousel r_slider" data-dots="off" data-fade="true">
        <div class="r_wrap_slider r_wrap_slider_5">
            <div class="r_slider_img" style="background-image:url(__PUBLIC__/hui360/images/aslide_7.jpg)"></div>
            <div class="container container_slider_caption">
                <div class="r-slider-container r-slider-container-5">
                    <div class="r-slider-conten r-slider-conten-5 b-align-center">
                        <h2 class="slider-title-3 tp_animate_when_visible zoom-out" data-speed="500">
                            盤活存量
                        </h2>
                        <p class="tp_animate_when_visible tp-pullTop" data-delay="600" data-speed="600">
                            房子、土地、车子、塔位、墓地、生前契约、积分、劵、币，1:1兑换商码，融通变现金
                        </p>
                        <a href="#" class="slider-btn get-qoute tp_animate_when_visible fade-top" data-delay="700" data-speed="600">了解詳細</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="r_wrap_slider r_wrap_slider_5">
            <div class="r_slider_img" style="background-image:url(__PUBLIC__/hui360/images/blog_4.jpg)">

            </div>
            <div class="container container_slider_caption">
                <div class="r-slider-container r-slider-container-5">
                    <div class="r-slider-conten r-slider-conten-5 b-align-center">
                        <h3 class="slider-title-3 tp_animate_when_visible zoom-out" data-speed="500">
                            世界本無界何來跨界
                        </h3>
                        <p class="tp_animate_when_visible tp-pullTop" data-delay="600" data-speed="600">
                            用互聯網做產業互聯、互聯產業，消費互聯、互聯消費，幫助企業把供應鏈電商化通起來線上線下互相導流消費倍速擴張
                        </p>
                        <a href="#" class="slider-btn get-qoute tp_animate_when_visible fade-top" data-delay="700" data-speed="600">了解詳細</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="r_wrap_slider r_wrap_slider_5">
            <div class="r_slider_img" style="background-image:url(__PUBLIC__/hui360/images/aslide_4.jpg)">

            </div>
            <div class="container container_slider_caption">
                <div class="r-slider-container r-slider-container-5">
                    <div class="r-slider-conten r-slider-conten-5 b-align-center">
                        <h2 class="slider-title-3 tp_animate_when_visible zoom-out" data-speed="500">
                            訓練很貴，不訓練更貴
                        </h2>
                        <p class="tp_animate_when_visible tp-pullTop" data-delay="600" data-speed="600">
                            英國發展中心模組『卓越領導系列』『頂尖銷售系列』『閃耀講師培訓』課程是國內金融行業、光電和電子產業的見證！
                        </p>
                        <a href="#" class="slider-btn get-qoute tp_animate_when_visible fade-top" data-delay="700" data-speed="600">了解詳細</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- solutions section -->

<section class="blasa-section solutions-section">
    <div class="container">
        <div class="row row_solutions justify-content-center align-items-center ">
            <div class="col-lg-4 col-md-9 col-sm-9 col-12 col-solution">
                <div class="wrap_solution tp_animate_when_visible fade-bottom" data-offest="80%" data-speed="800" >
                    <div class="wrap_solution_img" style="background-image:url(__PUBLIC__/hui360/images/aslide_10.jpg);">

                        <a href="#" class="solution_more" title="read more"><i class="fas fa-plus"></i></a>

                    </div>
                    <div class="soltion-text">
                        <h3>
                            產業集群
                        </h3>
                        <p>顛覆行業格局<br />
互聯產業產業互聯<br />
集成360行業的商業價值鏈<br />
讓企業共同發展與共同繁榮<br />
</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-9 col-sm-9 col-12 col-solution">
                <div class="wrap_solution tp_animate_when_visible fade-bottom" data-offest="80%" data-speed="800" >
                    <div class="wrap_solution_img" style="background-image:url(__PUBLIC__/hui360/images/cp_2.jpg);">

                        <a href="#" class="solution_more" title="read more"><i class="fas fa-plus"></i></a>

                    </div>
                    <div class="soltion-text">
                        <h3>
                            互聯網平台
                        </h3>
                        <p>
科技改變人們的生活方式的潛力,他的潛力超乎想像.
網天下推出「S2B推動OMO」為商家帶來利益,還能為用戶的消費者帶來增值。

</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-9 col-sm-9 col-12 col-solution">
                <div class="wrap_solution tp_animate_when_visible fade-bottom" data-offest="80%" data-speed="800">
                    <div class="wrap_solution_img" style="background-image:url(__PUBLIC__/hui360/images/cp_1.jpg);">

                        <a href="#" class="solution_more" title="read more"><i class="fas fa-plus"></i></a>

                    </div>
                    <div class="soltion-text">
                        <h3>
                            社群運營
                        </h3>
                        <p>
讓人人服務人人<br />
讓人人成為個人品牌<br />
讓IP價值連動商業無限放大

</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- about section 5 -->
<section class="blasa-section about-section-2">
    <div class="custom_container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 col-aboutus-img">
                <div class="wrap_aboutus_img tp_animate_when_visible fade-left" data-offest="60%">
                    <img src="__PUBLIC__/hui360/images/about_us.png" alt="about company" />
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 col-about-text">
                <div class="wrap_about_5 tp_animate_when_visible fade-right" data-offest="60%" data-delay="400">
                    <div class="section-head">
                        <span class="small-title">About us</span>
                        <h2 class="head-title">

                            我們可以快速提高您的
                        </h2>
                        <p>供給端與需求端的所有商業活動極緊密網絡協同，大幅提升企業經營效率。</p>

                    </div>
                    <div class="wrap_skills why_us_skills">
                        <h4 class="skill-title">通過培訓「開闊視野」凝聚共識，突圍囧局</h4>
                        <div id="progress_bar_3" class="tagpoint_progress_bar progress_bar_lin" data-to="59" data-type="line" data-stockwidth="1" data-color="#f6364d" data-trailcolor="#403e3e" data-trailwidth="1" data-pfontsize="32" data-pfontcolor="#fff" data-lfsize="16">
                        </div>
                        <h4 class="skill-title">擁抱互聯網「高速成長」打通商業價值鏈，擴大邊際效益與外溢</h4>
                        <div id="progress_bar_4" class="tagpoint_progress_bar progress_bar_lin" data-to="91" data-type="line" data-stockwidth="1" data-color="#f6364d" data-trailcolor="#403e3e" data-trailwidth="1" data-pfontsize="32" data-pfontcolor="#fff" data-lfsize="16">
                        </div>

                        <h4 class="skill-title">產融結合「財務的血液、資本的槓桿、市場的顛覆」資產活化與擴大銷量及企業價值</h4>
                        <div id="progress_bar_5" class="tagpoint_progress_bar progress_bar_lin" data-to="70" data-type="line" data-stockwidth="1" data-color="#f6364d" data-trailcolor="#403e3e" data-trailwidth="1" data-pfontsize="32" data-pfontcolor="#fff" data-lfsize="16">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- our solutions -->
<section class="blasa-section makebusiness-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 tp_animate_when_visible fade-bottom" data-offest="80%" data-speed="600">
                <div class="wrap_business_head ">
                    <span class="small-title">為什麼選擇我們</span>
                    <h2 class="head-title">雲時代的引領者
                    </h2>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-12 tp_animate_when_visible fade-bottom" data-offest="80%" data-speed="700" data-delay="300">
                <div class="wrap_business_text " >
                    <p>超越3-5年，社群+移動+電商的互聯網平台。<br />
                        網天下憑藉對互聯網，電子商務、供應鏈、科技創新原動力、商業模式的深刻理解和前瞻意識，為消費者帶來增值，為商家帶來自然消費，為企業帶來集成的資本價值。

                    </p>                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-12 tp_animate_when_visible fade-left" data-offest="80%" data-speed="600" data-delay="400">
                <ul class="business-list " >
                    <li><span>雙用戶入口- WeChat=大陸市場/LINE=世界華人市場的指尖流水</span></li>
                    <li><span>IP社群互動- 音頻+視頻+文字，同步IP鏈接商品與關連商業價值，讓社群經濟無限放大</span></li>
                    <li><span>F2C交易平台- 線上互聯網、線下人脈圈,自然消費生態體系</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>




</block>
