<extend name="Web/index/base" />
<block name="customer">
	<!-- breadcurmbs -->
	<foreach name='InfoData' item='Info' >
	<section class="blasa-section r-breadcurmbs-1">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="wrap_breadcrumbs_1">
						<h1 class="breadcurmbs-head">
							Liquidation
						</h1>
						<ul class="breadcrumbs_content_1 ">
							<li><a href="#" title="home"> Home </a> /</li>
							<li><span>Liquidation</span></li>
							<li><span>{$Info.n_title}</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

		<section class="blasa-section page-details left-sidebar">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-12 col-12 sidebar-col">
						<div class="wrap_page_sidebar">
							<div class="widget tp_widget related_widget">
								<div class="content_widget ">
									<ul class="related_service_list">
										<li <if condition="$Info.n_id eq 78 ">class="current"</if>>
											<a href="/index/liquidation/id/78.html" title="資產盤活">資產盤活</a>
										</li>
										<li <if condition="$Info.n_id eq 80 ">class="current"</if>>
											<a href="/index/liquidation/id/80.html" title="庫存盤活">庫存盤活</a>
										</li>
										<li <if condition="$Info.n_id eq 79 ">class="current"</if>>
											<a href="/index/liquidation/id/79.html" title="新融資模式">新融資模式</a>
										</li>
										<li <if condition="$Info.n_id eq 81 ">class="current"</if>>
											<a href="/index/liquidation/id/81.html" title="庫存盤活">積分、劵、幣盤活</a>
										</li>

									</ul>
								</div>
							</div>

							<div class="widget tp_widget contact_widget">
								<div class="head_widget">
									<h3>Contact Us</h3>
								</div>
								<div class="content_widget ">
									<ul class="contact_us_list">
										<li>
											<span class="wcontact_icon"><i class="fas fa-map-marker"></i></span>
											<div class="wcontact_text">
												<h3>Address</h3>
												<p>{$address}<br />{$addressx}</p>
											</div>
										</li>
										<li>
											<span class="wcontact_icon"><i class="fas fa-mobile-alt"></i></span>
											<div class="wcontact_text">
												<h3>Phone</h3>
												<p>(Phone)
													<br /> {$tel}</p>
											</div>
										</li>
										<li>
											<span class="wcontact_icon"><i class="fas fa-envelope"></i></span>
											<div class="wcontact_text">
												<h3>Email</h3>
												<p>{$email}</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9 col-md-12 col-12 pagecontent-col">
						<article class="wrap_page_content single-page">
							<!-- images carousel -->
							<div class="row-page-section">
								<h2 style="text-align: center">{$Info.n_title}</h2>
								<p>
									{$Info.n_content}
								</p>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>



	</foreach>
</block>