<extend name="glxh/index/base_user"  title="用户注册"/>
<block name="customer">
    <script type="text/javascript">
        $(document).ready(function(){
            $("#Submit").click(function(){
                var email = $("#email").val();
                var preg = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/; //匹配Email
                if(email=='' || !preg.test(email)){
                    $("#email").attr('placeholder',"邮箱填写错误");
                    $("#email").css('border',"1px solid #ff0000");
                    $("#user_chck").show();
                    $("#chkmsg").html("请填写正确的邮箱！");
                    $("#user_ok").hide();
                    return false;
                }
                else{
                    //alert("正在提交后端");
                    $("#Submit").html("正在发送...");
                    $("#Submit").prop("disabled",true);
                    $("#user_chck").hide();
                    $("#email").css('border',"1px solid #0785e9");
                    $.ajax({
                        type:"POST",
                        url:"/home/Quser/Forgot_Password",
                        data:{"email":email},
                        success:function(result,state){ //成功调用回调信息
                            $("#chkmsg").css('color','#ff0000');
                            if (result=='Error'){
                                $("#chkmsg").html('该邮箱没有注册');
                                return false;
                            }else{
                                window.location.href="/?a=Forgot_Pass&c=Quser";
                            }
                        },
                        complete:function(XMLHttpRequest, textStatus){  //调用后返回信息
                            $("#Submit").html("发送");
                            $("#Submit").prop("disabled",false);
                        },
                        timeout:60000,
                        error:function(XMLHttpRequest, textStatus, errorThrown){  //失败后调用回调信息
                            alert("邮件服务器响应超时，请稍候重试"+textStatus);
                        }
                    })
                }

            })
        })
    </script>
    {~$qnavbar=w("Nav/qdef")}

    <div class="sd_uiuyyt_xsdfxfx" style="margin: 0 auto;margin-bottom:20px ">
        <foreach name="qnavbar" item="nav" >
            <a href="{$nav.nav_link}" class="btn" >{$nav.nav_name}</a>
        </foreach>

    </div>
    <div class="wd2">
        <p class="mt20">
            当前位置：<a href="/">首页</a> >> 用户密码找回
        </p>
        <div class="mt10">

            <div class="ssd_Xsd_xdxrx">

                <p>
                    <span class=" glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <span class="ls fz16 b fl mt10 pl20">重置密码<!--<span class="ye">
                        <php>
                            $current_date = date('Y-m-d H:m:s');
                            echo date('Y-m-d H:m:s',strtotime("$current_date + 1 day"));
                        </php>
                    </span>--></span>
                </p>
                <hr/>
                <div style="padding-left: 40px">
                    <form method="post" method="post" data-validator-option="{stopOnError:false, timely:2, theme:'yellow_right_effect',timely:1}">
                        <h5><strong>重置密码要求</strong></h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" style="width:33%"><strong>第一步：正确填写注册时的邮箱</strong></div>
                            <div class="progress-bar progress-bar-warning" style="width:33%">第二步：接收邮件点击链接</div>
                            <div class="progress-bar progress-bar-success" style="width:34%">第三步：重置密码</div>
                        </div>
                        <p>请填写您在注册时的电子邮箱，一个重置密码的链接将发送至您的邮箱。</p>
                        <div class="form-inline" style="line-height: 40px">
                            <input type="text" class="form-control" name="email" id="email" placeholder="邮箱信息填写" style="width: 70%"  >
                            <span id="user_chck" class="glyphicon glyphicon-remove" style="color: #ff0000;display: none"></span>
                            <span id="user_ok" class="glyphicon glyphicon-ok" style="color: #0785e9;display: none"></span>
                            <span id="chkmsg"></span>
                            <br />
                            <button type="button" class="btn btn-success"  id="Submit" autocomplete="off">发送</button>
                            <div class="label label-warning" id="Info"></div>
                        </div>

                    </form>
                </div>


            </div>

        </div>
    </div>
</block>