
<div class="container" style="text-align: center;float: none">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div id="footer">
                <div class="footerNav">
                    <a href="#">关于我们</a> | <a href="#">服务条款</a> | <a href="#">免责声明</a> | <a href="#">网站地图</a> | <a href="#">联系我们</a>
                </div>
                <div class="copyRight">
                    Copyright © 2017-2017 北京中路汇技术咨询有限公司 版权所有 京ICP备17026631号
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>

