<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="__PUBLIC__/glxh/css/base.css" />
        <link rel="stylesheet" href="__PUBLIC__/glxh/css/css.css">
        <link href="__PUBLIC__/bs/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="__PUBLIC__/glxh/js/jquery1.9.1.js"></script>
        <script type="text/javascript" src="__PUBLIC__/bs/js/bootstrap.min.js" ></script>
        <!--<script type="text/javascript" src="__PUBLIC__/Ckeditor/ckeditor.js"></script>-->
        <script src="__PUBLIC__/glxh/js/cityTemplate.js"></script>
        <link href="__PUBLIC__/bs/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <script type="text/javascript" src="__PUBLIC__/bs/js/bootstrap-datetimepicker.min.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/bs/js/locales/bootstrap-datetimepicker.zh-CN.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/bs/Validator/jquery.validator.js?local=zh-CN" ></script>
		<block name="title"></block>

	</head>

	<body style="padding-top: 70px">
    <include file="50/Index/warn" />
	<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Highwaytech.CN</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	{//加载导航栏}
      	{//原生PHP加载方法 $navbar=get_navbar();}
      	{//thinkphp方法，注意~，无则输出变量值,采用小部件Widget,用W方法}
      	{~$navbar=w("Nav/def")}
          <?php
$user_info=$_COOKIE['user_info'];
$globar_user=unserialize($user_info);
?>
          <php> if($globar_user):</php>
      <foreach name="navbar" item="nav" >
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{$nav.nav_name}<strong class="caret"></strong></a>
          <ul class="dropdown-menu">
              {~$navbar1=w("Nav/defr")}
              <foreach name="navbar1" item="nav_r" >
                  <php>if( $nav_r['nav_sjid'] == $nav['id'] ) :</php>
              <li>
                  <a href="{$nav_r.nav_link}">{$nav_r.nav_name}</a>
              </li>
              <li class="divider">
              </li>
                  <php> endif;</php>
                  </foreach>
          </ul>
      </li>
      </foreach>
          <php> else:</php>
          <php> endif;</php>
      </ul>


      
      <ul class="nav navbar-nav navbar-right">
        <include file="50/Common/navbar_login" />
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>