<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="__PUBLIC__/bs/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="__PUBLIC__/bs/css/font-awesome.min.css">
        <link rel="stylesheet" href="__PUBLIC__/bs/css/bootstrapDatepickr-1.0.0.css">
		<script type="text/javascript" src="__PUBLIC__/bs/js/jquery-1.8.3.min.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/bs/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/bs/js/bootstrap-dropdown.js" ></script>
        <script type="text/javascript" src="__PUBLIC__/bs/js/bootstrapDatepickr-1.0.0.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Ckeditor/ckeditor.js"></script>
		<block name="site_title"></block>
	</head>
	<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Highwaytech.CN</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	{//加载导航栏}
      	{//原生PHP加载方法 $navbar=get_navbar();}
      	{//thinkphp方法，注意~，无则输出变量值,采用小部件Widget,用W方法}
      	{~$navbar=w("Nav/def")}
      <foreach name="navbar" item="nav" >
      <li ><a href="{$nav.nav_link}">{$nav.nav_name}</a></li>
      </foreach>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">下拉菜单<strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                  <li>
                      <a href="#">列表一</a>
                  </li>
                  <li>
                      <a href="#">列表二</a>
                  </li>
                  <li>
                      <a href="#">列表三</a>
                  </li>
                  <li class="divider">
                  </li>
                  <li>
                      <a href="#">更多列表</a>
                  </li>
                  <li class="divider">
                  </li>
                  <li>
                      <a href="#">更多列表</a>
                  </li>
              </ul>
          </li>
      </ul>

      
      <ul class="nav navbar-nav navbar-right">
        <include file="50/Common/navbar_login" />
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>