<extend name="WebApps/index/base" />
<block name="customer">
    <script type="text/javascript" src="__PUBLIC__/bs/js/jquery.table2excel.min.js" ></script>
    <!--Model表单开始-->
    <div class="modal fade" id="form-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form role="form" method="post" data-validator-option="{stopOnError:false, timely:2, theme:'yellow_top',timely:1}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">
                            分类信息增加
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group"><label>分类名称</label><input type="text" class="form-control" name="name" id="name" placeholder="请输入分类名称" data-rule="required" /></div>
                        <div class="form-group"><label>是否有效</label>
                            <select name="sfyx" id="sfyx" class="form-control">
                                <option value="1" selected>有效</option>
                                <option value="0">无效</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </div>
            </form>
    </div>
    <div class="container-fluid" style="margin-top: 60px">
        <ul class="breadcrumb">
            <li>
                <a href="/">管理系统首页</a>
            </li>

            <li class="active">
                <a href="#">书目信息管理</a>
            </li>

        </ul>
        <div id="toolbar">
            <div class="btn-group">

                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list" ></span> 功能列表</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">功能列表</span>
                </button>
                <ul class="dropdown-menu" style="margin-top: -8px">
                    <!--<li >
                        <a href="#form-1" data-toggle="modal"><span class="glyphicon glyphicon-cloud-upload"></span> 新增</a>
                    </li>-->
                    <li >
                        <a href="#" role="button" data-toggle="modal" onclick="expinfo()"  title="导出结果"><span class="glyphicon glyphicon-download"></span> 导出结果</a>
                    </li>
                </ul>
            </div>

        </div>
        <table id="exp" style="font-size: 12px" class="table table-condensed table-responsive"
               data-classes="table table-hover"
               data-show-columns="true"
               data-height="600"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-toolbar="#toolbar"
        ></table>
        <script>
            $('#exp').bootstrapTable({
                columns: [{
                    checkbox: true
                },
                    { field: 'id', title: '序号.', formatter: function (value, row, index) {
                            //return index + 1;
                            return (index+1);
                        },
                        width:50,
                        align: 'center'
                    },
                    { field: 'booktitle', title: '书籍名称',class: 'editinfo',
                        align: 'left'
                        /*formatter: function (value, row, index) {
                            return "<a href=\"#\" name=\"name\" data-type=\"text\" data-pk=\""+row.Id+"\" data-title=\"分类名称维护\">" + value + "</a>";
                        }*/},
                    {field:'bookpress',title:'出版社',align:'left'},
                    {field:'booksort',title:'图书类型',align:'left'},
                    { field: 'booktcode', title: '条形码',align: 'right'},
                    { field: 'bookphoto', title: '书籍图片',align: 'left',formatter:function (value,row) {
                            return "<a href="+value+" target='_blank' title="+row.booktitle+"><img src="+value+" alert="+row.booktitle+" style='height: 25px'></a>";
                        }},
                    { field: 'bookprice', title: '价格',align: 'right'},
                    { field: 'bookprice', title: '折扣',align: 'right',formatter:function (value) {
                            var zk=0.9;
                            return zk;
                        }},
                    /*{ field: 'id', title: '操作', formatter: function (value) {
                            //return index + 1;
                            return '<a href="#" onclick="delinfo('+value+')" class="btn btn-danger btn-xs" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                        },
                        //width:150,
                        align: 'left'
                    },*/

                ],


                url:'/restful/Bookinfo', //请求地址
                method: 'get', //请求方式
                datatype:'json', //返回数据格式
                //striped: true,       //是否显示行间隔色
                height:760,//高度调整
                undefinedText:'--', //数据为空时的显示内容
                /*工具栏处理*/
                toolbar: '#toolbar',//指定工具栏
                toolbarAlign:'left', //工具样位置
                striped: true, //是否显示行间隔色
                //earchText:'请输入搜索内容', //搜索默认文字


                /*分页处理*/
                dataField: "data", //读取后端给出的JSON中的数据记录集合，必须与后端保证一致
                pageNumber: 1, //初始化加载第一页，默认第一页
                pagination:true,//是否分页
                //clickToSelect: true, //
                queryParamsType:'limit',//查询参数组织方式
                //contentType: "application/x-www-form-urlencoded",//发送到服务器的数据编码类型
                sidePagination:'server',//指定服务器端分页
                pageSize:50,//单页记录数
                pageList:[25,50,100,500,'All'],//分页步进值
                data_local: "zh-US",//表格汉化
                showRefresh:true,//刷新按钮
                showColumns:true,
                sortOrder:'',  //排序规则
                sortName:'id' //排序字段
                //responseHandler:responseHandler,//请求数据成功后，渲染表格前的方法

            });
        </script>
        <script>
            function expinfo(){
                var myDate = new Date();
                $("#exp").table2excel({
                    exclude: ".noExl",
                    name: "Excel Document Name.xls",
                    filename: myDate.toLocaleString()+".xls",
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: false
                });
            }
            function delinfo(id) {
                var i=id;
                if (!i){
                    alert("请选择一个分类!");
                    return false;
                }else{
                    var massage=confirm("删除后不可恢复，请确认!");
                    if (massage==true){
                        $.ajax({
                            type : "get",
                            url:"/News/NewsDel",
                            data:{"sort":1,"id":i},
                            success:function (result, state) { //成功调用回调信息
                                alert(result);
                                window.location.reload();
                            },
                            complete: function (XMLHttpRequest, textStatus) {  //调用后返回信息
                                //alert(textStatus);
                            },
                            timeout: 60000,
                            error: function (XMLHttpRequest, textStatus, errorThrown) {  //失败后调用回调信息
                                alert("服务器响应超时，请稍候重试：" + errorThrown);
                                return false;
                            }
                        })
                    }
                }

            }
            $(function () {
                $('[data-toggle="popover"]').popover(
                    {
                        trigger: 'hover',//鼠标以上时触发弹出提示框
                        html: true,//开启html 为true的话，data-content里就能放html代码了
                    }

                )
            })
        </script>
    </div>
</block>