<extend name="WebApps/index/base"/>
<block name="customer">
    <div class="container-fluid" style="margin-top: 60px">
        <link href="__PUBLIC__/bs/css/upload.css" type="text/css" rel="stylesheet"/>
        <!--导入Excel文件插件-->
        <script type="text/javascript" src="/Public/bs/js/jquery.table2excel.min.js"></script>
        <script src="__PUBLIC__/bs/js/upload.js"></script>

        <!--Model表单开始-->
        <div class="modal fade" id="form-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <form role="form" method="post" action="/ad/adItemEdit"
                  data-validator-option="{stopOnError:false, timely:2, theme:'yellow_top',timely:1}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">
                                增加广告信息
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group"><label>类型选择</label>
                                <select id="ad_id" name="ad_id" data-rule="required" class="form-control">
                                    <option value="">请选择</option>
                                </select>
                                <!--<input type="hidden" name="type" id="type" />-->
                            </div>
                            <div class="form-group">
                                <div class="upload-box">
                                    <label>上传图片
                                        <small id="imagesize"></small>
                                    </label>
                                    <div class="image-box clear">
                                        <section class="upload-section">
                                            <div class="upload-btn"></div>
                                            <input type="file" name="file" id="upload-input" value=""
                                                   accept="image/jpg,image/jpeg,image/png,image/bmp"
                                                   multiple="multiple"/>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"><label>关键字</label><input type="text" class="form-control"
                                                                             name="keyword" id="keyword"
                                                                             placeholder="请输入关键字" data-rule="required"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModel()">
                                关闭
                            </button>
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--表单结束-->
        <!--Model表单开始-->
        <div class="modal fade" id="imgform" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <form role="form" method="post" action="/ad/adItemEdit"
                  data-validator-option="{stopOnError:false, timely:2, theme:'yellow_top',timely:1}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="">
                                图片查看
                            </h4>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModel()">
                                关闭
                            </button>
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--表单结束-->
        <!--菜单导航开始-->
        <ul class="breadcrumb">
            <li>
                <a href="/">管理系统首页</a>
            </li>
            <li class="active">
                <a href="#">广告信息管理</a>
            </li>
        </ul>
        <!--菜单导航结束-->
        <!--工具栏开始-->
        <div id="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> 功能列表
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">功能列表</span>
                </button>
                <ul class="dropdown-menu" style="margin-top: -8px">
                    <li>
                        <a href="#form-1" data-toggle="modal" onclick="addinfo()"><span
                                class="glyphicon glyphicon-cloud-upload"></span> 新增</a>
                    </li>
                    <li>
                        <a href="#" role="button" data-toggle="modal" onclick="expinfo()" title="导出结果"><span
                                class="glyphicon glyphicon-download"></span> 导出结果</a>
                    </li>
                </ul>
            </div>
            <span id="ok" style="display:none" class="label label-success">操作成功</span>
            <span id="error" style="display:none" class="label label-danger">操作失败</span>
        </div>
        <!--工具栏结束-->
        <!--表格开始-->
        <table id="exp" style="font-size: 12px" class="table table-condensed table-responsive"
               data-classes="table table-hover"
               data-show-columns="true"
               data-height="600"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-toolbar="#toolbar"
        >
        </table>
        <!--表格结束-->
    </div>
    <script>

        //异步表格所必须
        var opt = {
            url: "/AdAPI/AdSort",
            type: "get",
            silent: true,
            query: {
                type: 1,
                level: 2
            }
        };
        $('#exp').bootstrapTable({
            columns: [{
                checkbox: true
            }, {
                field: 'id', title: '序号.', formatter: function (value, row, index) {
                    //return index + 1;
                    return (index + 1);
                },
                width: 50,
                align: 'center'
            },
                {
                    field: 'imgurl', title: '图片地址', align: 'left', formatter: function (value, row, index) {
                        return '<a href="#imgform" data-toggle="modal" onclick="imgshow('+row+')"><span class="glyphicon glyphicon-picture"></span></a>';
                    }
                },
                {field: 'keyword', title: '关键字', align: 'left'},
                {field: 'type', title: '类型', align: 'left'},
                {
                    field: 'ad_id', title: '关联AD ID值', align: 'left', formatter: function (value, row, index) {
                        if (value == 1) {
                            return '<span class="label label-success">1</span>';
                        } else {
                            return value;
                        }
                    }
                },
                {field: 'updatetime', title: '更新时间', align: 'left'},
                {
                    field: 'px', title: '排序', align: 'left', formatter: function (value, row, index) {
                        if (value == 1) {
                            return '<span class="label label-success">1</span>';
                        } else {
                            return value;
                        }
                    }
                },
            ],
            url: '/AdAPI/AdInfo', //请求控制器地址
            method: 'get', //请求方式
            datatype: 'json', //返回数据格式
            //striped: true,       //是否显示行间隔色
            height: 760,//高度调整
            undefinedText: '--', //数据为空时的显示内容
            /*工具栏处理*/
            toolbar: '#toolbar',//指定工具栏
            toolbarAlign: 'left', //工具样位置
            striped: true, //是否显示行间隔色
            //earchText:'请输入搜索内容', //搜索默认文字


            /*分页处理*/
            dataField: "data", //读取后端给出的JSON中的数据记录集合，必须与后端保证一致
            pageNumber: 1, //初始化加载第一页，默认第一页
            pagination: true,//是否分页
            //clickToSelect: true, //
            queryParamsType: 'limit',//查询参数组织方式
            //contentType: "application/x-www-form-urlencoded",//发送到服务器的数据编码类型
            sidePagination: 'server',//指定服务器端分页
            pageSize: 50,//单页记录数
            pageList: [25, 50, 100, 500, 'All'],//分页步进值
            data_local: "zh-US",//表格汉化
            showRefresh: true,//刷新按钮
            showColumns: true,
            sortOrder: '',  //排序规则
            sortName: 'id' //排序字段
            //responseHandler:responseHandler,//请求数据成功后，渲染表格前的方法
        });

        //导出Excel文件处理
        function expinfo() {
            var myDate = new Date();
            $("#exp").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name.xls",
                filename: myDate.toLocaleString() + ".xls",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: false
            });
        }

        //新增业务处理
        function addinfo() {
            $("#id").val("");
            $("#imgurl").val("");
            $("#keyword").val("");
            var typeselect = $("#ad_id");
            typeselect.find("option").remove();
            /*var tempOption = document.createElement("option");
            tempOption.value = '';
            tempOption.innerHTML  = '请选择';
            typeselect.append(tempOption);*/
            $.ajax({
                method: "get",
                url: "/AdAPI/AdSort?desc=asc",
                contentType: "application/json", //接收数据的格式限定
                success: function (data) {
                    $.each(data.data, function (i, value) {
                        var tempOption = document.createElement("option")
                        tempOption.value = value.id;
                        tempOption.innerHTML = value.name;
                        typeselect.append(tempOption);
                    })
                }
            })
        }

        //编辑信息保存
        function PutSubmit() {
            var id = $("#id").val();
            var name = $("#name").val();
            var note = $("#note").val();
            //console.log(id);
            $.ajax({
                type: "post",
                url: "/AdAPI/AdSort",
                //contentType: "application/json",
                data: {"id": id, "name": name, "note": note},
                success: function (data) {
                    if (data.code = 200 && data.total == 1) {
                        $("#ok").show().delay(1000).hide(100);
                        $("#exp").bootstrapTable('refresh', opt);
                    } else {
                        $("#error").show().delay(2000).hide(200);
                        //console.log(data.msg);
                        return false;
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {  //调用后返回信息
                    //alert(textStatus);
                },
                timeout: 60000,
                error: function (XMLHttpRequest, textStatus, errorThrown) {  //失败后调用回调信息
                    alert("服务器响应超时，请稍候重试：" + errorThrown);
                    return false;
                }
            })
        }

        //读取详细信息
        function Editinfo(id) {
            if (!id) {
                alert("请选择一个信息!");
                return false;
            } else {
                //alert(id);

                $.ajax({
                    type: "get",
                    url: "/AdAPI/AdSort",
                    contentType: "application/json",
                    data: {"id": id},
                    success: function (data, state) { //成功调用回调信息
                        if (data.code == 200) {
                            $.each(data.data, function (i, value) {
                                $("#name").val(value.name);
                                $("#id").val(value.id);
                                $("#note").val(value.note);
                            })
                            //console.log(data.data);
                            //$("#ok").show().delay(1000).hide(100);
                            //$("#exp").bootstrapTable('refresh', opt);
                        } else if (data.code == 500) {
                            $("#error").show().delay(1000).hide(100);
                            return false;
                        }
                    },
                    complete: function (XMLHttpRequest, textStatus) {  //调用后返回信息
                        //alert(textStatus);
                    },
                    timeout: 60000,
                    error: function (XMLHttpRequest, textStatus, errorThrown) {  //失败后调用回调信息
                        alert("服务器响应超时，请稍候重试：" + errorThrown);
                        return false;
                    }
                })
            }
        }

        //删除信息
        function delinfo(id) {
            if (!id) {
                alert("请选择一个信息!");
                return false;
            } else {
                var massage = confirm("删除后不可恢复，请确认!");
                if (massage == true) {
                    $.ajax({
                        type: "delete",
                        url: "/AdAPI/AdSort?id=" + id,
                        success: function (data, state) { //成功调用回调信息
                            if (data.code == 200 && data.total == 1) {
                                $("#ok").show().delay(1000).hide(100);
                                $("#exp").bootstrapTable('refresh', opt);
                            } else if (data == 500) {
                                $("#error").show().delay(1000).hide(100);
                                return false;
                            }
                        },
                        complete: function (XMLHttpRequest, textStatus) {  //调用后返回信息
                            //alert(textStatus);
                        },
                        timeout: 60000,
                        error: function (XMLHttpRequest, textStatus, errorThrown) {  //失败后调用回调信息
                            alert("服务器响应超时，请稍候重试：" + textStatus);
                            return false;
                        }
                    })
                }
            }
        }

        //上传图片
        $("#upload-input").ajaxImageUpload({
            url: '/ad/UpImg', //上传的服务器地址
            data: {name: 'photo', sort: 'AD'},
            maxNum: 5, //允许上传图片数量
            zoom: false, //允许上传图片点击放大
            allowType: ["gif", "jpeg", "jpg", "bmp", 'png'], //允许上传图片的类型 lll
            e9: ["gif", "jpeg", "jpg", "bmp", 'png'], //允许上传图片的类型 lll
            maxSize: 3, //允许上传图片的最大尺寸，单位M
            datatype: 'json', //返回数据格式
            before: function () {
                //alert('上传前回调函数');
            },
            success: function (data, v, s) {
                console.log(data.code);
            },
            error: function (e) {
                alert('上传失败，请稍候重试' + e);
                console.log(e);
            }
        });

        //通过关闭清除临时图片
        function closeModel() {
            var sort = 'AD';
            $.ajax({
                url: '/ad/ClearImg',
                type: "post",
                data: {"sort": sort},
                success: function (data) {
                    console.log(data.Msg);
                },
                error: function (e) {
                    //alert('上传失败，请稍候重试' + e);
                    console.log(e);
                }

            })
        }
        function imgshow(val) {
            alert(val);
        }

    </script>
</block>