<extend name="Web/index/base" />
<block name="customer">
    <div class="container">

        <h2>{$title}</h2>
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    {$title} <small></small>
                </a>
                <foreach name="InfoData" item="M_dat" >
                <a href="/Train/index/n/{$M_dat.n_id}.html" class="list-group-item">{$M_dat.n_title}</a>
                </foreach>
            </div>
        </div>
        <foreach name='DalInfo' item='Info' >
        <div class="col-md-9">
            <h2 class="title">
                {$Info.n_title}
            </h2>
           <!-- <hr />
            <div class="property">
                <span>文章来源：{$Info.n_author}</span> <span>作者：{$Info.n_author}</span> <span>发布日期：{$Info.n_datetime}</span> <span>资讯类型：{$Info.lx_name}</span> <span></span>
            </div>-->
            <hr style="border: 1px solid #D24726"/>
            <div id="contentTxt" style="font-size: 16px">
                {$Info.n_content}
            </div>
        </div>
        </foreach>
    </div>
    <div style="height: 50px"></div>
</block>